In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [118]:
df = pd.read_csv("../Datasets/appartments.csv")

In [119]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [120]:
df.sample()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
167,Emaar The Palm Springs,"3, 4, 5 BHK Apartment, 5 BHK Villa in Sector 5...","['Golf Course Rd', 'Sanar International Hospit...","{'Golf Course Rd': '160 Meter', 'Sanar Interna...",https://www.99acres.com/emaar-the-palm-springs...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Mini Theatre', 'Swimming Pool', 'Lounge', 'B..."

In [121]:
df.iloc[15]["NearbyLocations"]

"['Grand Hyatt Gurgaon', 'Duke Horse Riding Club', 'PVR Drive In Cinema', 'W Pratiksha Hospital', 'Sector 55-56 Metro Station']"

In [122]:
df.iloc[15]["LocationAdvantages"]

"{'Grand Hyatt Gurgaon': '1.7 Km', 'Duke Horse Riding Club': '2.1 Km', 'PVR Drive In Cinema': '2.2 Km', 'W Pratiksha Hospital': '2.6 Km', 'Sector 55-56 Metro Station': '2.7 Km', 'Metro World Mall': '3.7 Km', 'Unicosmos School': '3.9 Km', 'Sushant University': '4.4 Km', 'Faridabad Gurgaon Road': '4.9 Km', 'Sohna Road': '6.5 Km', 'Bestech Business Tower': '8.3 Km', 'Appu Ghar': '9.2 Km', 'SkyJumper Trampoline Park': '10 Km', 'Indira Gandhi International Airport': '20.6 Km', 'Axis Bank': '400 m'}"

In [123]:
df.iloc[15]["PriceDetails"]

"{'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,534.61 - 3,030 sq.ft.', 'price-range': '₹ 4.5 - 10.87 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '2,009.05 - 2,689.26 sq.ft.', 'price-range': '₹ 4.6 - 13.45 Cr'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '3,384.52 sq.ft.', 'price-range': '₹ 4.77 - 11.54 Cr'}}"

In [124]:
df.iloc[15]["TopFacilities"]

"['Swimming Pool', 'Card Room', 'Restaurant', 'Spa', 'Squash Court', 'Gazebo', 'Banquet Hall', 'Lawn Tennis Court', 'Amphitheatre']"

In [125]:
df[['PropertyName', 'TopFacilities']]

,PropertyName,TopFacilities
0,Smartworld One DXP,"['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."
5,Whiteland The Aspen,"['Reflexology Park', 'Card Room', 'High Speed ..."
6,Bestech Altura,"['Swimming Pool', 'Football', 'Flower Garden',..."
7,Elan The Presidential,"['Swimming Pool', 'Aerobics Centre', 'Shopping..."
8,Signature Global City 92,"['Swimming Pool', 'Reflexology Park', 'Terrace..."
9,Emaar Digihomes,"['Mini Theatre', 'Swimming Pool', 'Salon', 'Ca..."
10,Signature Global City 79B,"['Swimming Pool', 'Reflexology Park', 'Gazebo'..."
11,DLF The Arbour,"['Swimming Pool', 'Community Hall', 'Yoga/Medi..."
12,M3M Antalya Hills,"['Mini Theatre', 'Swimming Pool', 'Lounge', 'R..."
13,Signature Global City 81,"['Swimming Pool', 'Flower Garden', 'Jacuzzi', ..."
14,SS Linden Floors,"['Swimming Pool', 'School', 'Entrance Lobby', ..."
15,Mahindra Luminare,"['Swimming Pool', 'Card Room', 'Restaurant', '..."
16,M3M Golf Hills,"['Salon', 'Spa', 'Cricket Pitch', 'Lawn Tennis..."
17,Suncity Vatsal Valley,"['Earthquake Resistant', 'Vastu Compliant', 'E..."
18,Whiteland Blissville,"['Lounge', 'Barbecue', 'Creche/Day care', 'Yog..."
19,Trump Tower,"['Valet Parking', 'Foosball', 'Concierge Servi..."
20,Tulip Monsella,"['Mini Theatre', 'Swimming Pool', 'Bar/Chill-O..."
21,Krisumi Waterfall Residences,"['Concierge Service', 'Swimming Pool', 'Bar/Ch..."
22,PropertyName,TopFacilities
23,M3M Capital,"['Swimming Pool', 'Lounge', 'Bar/Chill-Out Lou..."
24,Godrej Meridien,"['Valet Parking', 'Mini Theatre', 'Concierge S..."
25,La Vida by Tata Housing,"['Mini Theatre', 'Natural Pond', 'Swimming Poo..."
26,Birla Navya,"['Mini Theatre', 'Swimming Pool', 'Football', ..."
27,Signature Global City,"['Swimming Pool', 'Reflexology Park', 'Jacuzzi..."
28,Godrej 101,"['Air Hockey', 'Acupressure Park', 'Foosball',..."
29,M3M Soulitude,"['Swimming Pool', 'Lounge', 'Bar/Chill-Out Lou..."
30,BPTP Terra,"['Swimming Pool', 'Bar/Chill-Out Lounge', 'Wai..."
31,M3M Skycity,"['Bus Shelter', 'Swimming Pool', 'Lounge', 'Ba..."
32,MRG The Crown,"['Swimming Pool', 'Visitors Parking', 'Skating..."
33,Godrej Nature Plus Serenity,"['Reflexology Park', 'RO System', 'Restaurant'..."
34,SS The Leaf,"['Valet Parking', 'Swimming Pool', 'Football',..."
35,Eldeco Acclaim,"['Swimming Pool', 'Restaurant', 'Piped Gas', '..."
36,Emaar Gurgaon Greens,"['Swimming Pool', 'Flower Garden', 'Golf Cours..."
37,Oxirich Chintamanis,"['Swimming Pool', 'Entrance Lobby', 'Yoga/Medi..."
38,DLF Garden City Floors,"['Swimming Pool', 'Bar/Chill-Out Lounge', 'Sch..."
39,Anant Raj Estates,"['Swimming Pool', 'Golf Course', 'Salon', 'Res..."
40,Tulip Yellow,"['Swimming Pool', 'High Speed Elevators', 'Wai..."
41,BPTP Amstoria,"['Swimming Pool', 'Business Lounge', 'Golf Cou..."
42,Emaar Emerald Hills,"['Milk Booth', 'Swimming Pool', 'Bar/Chill-Out..."
43,M3M Golfestate,"['Mini Theatre', 'Doctor on Call', 'Beach Voll..."
44,ATS Triumph,"['Concierge Service', 'Swimming Pool', 'Changi..."
45,ATS Marigold,"['Swimming Pool', 'Reflexology Park', 'Squash ..."
46,Signature Global City 37D Ph 2,"['Swimming Pool', 'Shopping Centre', 'Sun Deck..."
47,DLF Alameda,"['Clinic', 'Swimming Pool', 'Medical Centre', ..."
48,Experion Windchants,"['Mini Theatre', 'Air Hockey', 'Foosball', 'Na..."
49,Saan Verdante,"['Automated Car Wash', 'Swimming Pool', 'Laund..."
50,4S Aradhya Homes,"['Swimming Pool', 'Bar/Chill-Out Lounge', 'Ter..."
51,Yash Vihar,"['Solar Lighting', 'Pergola', 'Skating Rink', ..."
52,Smart World Orchard,"['Mini Theatre', 'Swimming Pool', 'Lounge', 'B..."
53,DLF The Camellias,"['Concierge Service', 'Swimming Pool', 'Golf C..."
54,Birla Navya Avik,"['Football', 'Skating Rink', 'Cricket Pitch', ..."
55,Adani Samsara Avasa,"['Natural Pond', 'Swimming Pool', 'Terrace Gar..."
56,DLF The Crest,"['Swimming Pool', 'Bar/Chill-Out Lounge', 'Flo..."
57,DLF The Magnolias,"['Mini Theatre', 'Swimming Pool', 'Football', ..."
58,DLF The Aralias,"['Concierge Service', 'Swimming Pool', 'Restau..."
59,Ansal API Esencia,"['Swimming Pool', 'Laundry', 'School', 'Solar ..."
60,Pioneer Araya,"['Foosball', 'Concierge Service', 'Infinity Po..."
61,M3M Merlin,"['Beach Volley Ball Court', 'Automated Car Was..."
62,Smart World Gems,"['Swimming Pool', 'Lounge', 'Aerobics Centre',..."
63,Vatika Aspiration,"['Grocery Shop', 'Community Hall', 'Sewage Tre..."
64,Ace Palm Floors,"['Swimming Pool', 'Fountain', 'Sun Deck', 'Amp..."
65,DLF Gardencity Enclave,"['Shopping Centre', 'Community Hall', 'Sewage ..."
66,Emaar Palm Heights,"['Swimming Pool', 'Waiting Lounge', 'Creche/Da..."
67,Signature Global Park,"['Swimming Pool', 'Gazebo', 'Amphitheatre', 'B..."
68,Emaar MGF Marbella,"['Bowling Alley', 'Mini Theatre', 'Concierge S..."
69,Rishali Luxe Residency 112,"['Community Hall', 'Sewage Treatment Plant', '..."
70,Puri The Aravallis,"['Foosball', 'Infinity Pool', 'Swimming Pool',..."
71,International City by SOBHA Phase 2,"['Swimming Pool', 'Theater Home', 'School', 'S..."
72,Emaar MGF The Palm Drive,"['Swimming Pool', 'Theater Home', 'Bar/Chill-O..."
73,BPTP Green Oaks,"['Community Hall', 'Club House', 'Landscape Ga..."
74,Puri Emerald Bay,"['Swimming Pool', 'Theatre', 'Wi-Fi Connectivi..."
75,Ireo Victory Valley,"['Swimming Pool', 'Football', 'Bar/Chill-Out L..."
76,DLF Gardencity,"['Swimming Pool', 'Bar/Chill-Out Lounge', 'Sch..."
77,Tata Primanti,"['Swimming Pool', 'Changing Area', 'School', '..."
78,DLF Park Place,"['Mini Theatre', 'Swimming Pool', 'Theater Hom..."
79,Central Park Flower Valley,"['Swimming Pool', 'Reading Lounge', 'Reflexolo..."
80,Ireo Skyon,"['Swimming Pool', 'Golf Course', 'Changing Are..."
81,AIPL The Peaceful Homes,"['Automated Car Wash', 'Concierge Service', 'S..."
82,Adani M2K Oyster Grande,"['Swimming Pool', 'Changing Area', 'School', '..."
83,G99,"['Milk Booth', 'Manicured Garden', 'Swimming P..."
84,Emaar MGF Emerald Floors Premier,"['Clinic', 'Swimming Pool', 'School', 'Piped G..."
85,ROF Insignia Park,"['Swimming Pool', 'Skating Rink', 'Grocery Sho..."
86,DLF The Ultima,"['Mini Theatre', 'Swimming Pool', 'Theater Hom..."
87,Indiabulls Enigma,"['Swimming Pool', 'Aerobics Centre', 'Barbecue..."
88,Experion The Westerlies,"['Swimming Pool', 'Reflexology Park', 'Barbecu..."
89,Hero Homes,"['Swimming Pool', 'Bar/Chill-Out Lounge', 'Rea..."
90,Central Park Flower Valley Mikasa Plots,"['Bowling Alley', 'Concierge Service', 'Swimmi..."
91,M3M Skywalk,"['Concierge Service', 'Swimming Pool', 'Lounge..."
92,Ireo The Grand Arch,"['Bowling Alley', 'Swimming Pool', 'Football',..."
93,JMS The Nation,"['Yoga/Meditation Area', 'Gated Community', ""C..."
94,Imperia The Esfera,"['Food Court', 'Swimming Pool', 'Reading Loung..."
95,Ramprastha Primera,"['Swimming Pool', 'Water Softener Plant', 'The..."
96,Experion The Heartsong,"['Manicured Garden', 'Bus Shelter', 'Clinic', ..."
97,DLF New Town Heights 2,"['Swimming Pool', 'Pergola', 'Piped Gas', 'Gro..."
98,DLF The Primus,"['Swimming Pool', 'School', 'Aerobics Centre',..."
99,DLF The Skycourt,"['Swimming Pool', 'Flower Garden', 'School', '..."
100,Central Park Resorts,"['Swimming Pool', 'Golf Course', 'ATM', 'Resta..."
101,Suncity Avenue 76,"['School', 'High Speed Elevators', 'Creche/Day..."
102,International City by Sobha Phase 1,"['Infinity Pool', 'Swimming Pool', 'Salon', 'A..."
103,Ambience Creacions,"['Doctor on Call', 'Bus Shelter', 'Food Court'..."
104,Vatika Xpressions,"['Swimming Pool', 'ATM', 'Creche/Day care', 'G..."
105,M3M Sierra 68,"['Swimming Pool', 'Restaurant', 'High Speed El..."
106,Anand Niketan,"['Manicured Garden', 'Swimming Pool', 'Grocery..."
107,DLF The Belaire,"['Clinic', 'Swimming Pool', 'Theater Home', 'S..."
108,Godrej Aria,"['Swimming Pool', 'School', 'Spa', 'Squash Cou..."
109,Ansals Shiva Som Valley,"['Yoga/Meditation Area', 'Sewage Treatment Pla..."
110,Vipul World,"['Swimming Pool', 'School', 'Wi-Fi Connectivit..."
111,Central Park Flower Valley Aqua Front Towers,"['Doctor on Call', 'Swimming Pool', 'Golf Cour..."
112,Tulip Violet,"['Bus Shelter', 'Swimming Pool', 'Lounge', 'Go..."
113,Eldeco Accolade,"['Valet Parking', 'Swimming Pool', 'Football',..."
114,M3M Natura,"['Swimming Pool', 'Football', 'Bar/Chill-Out L..."
115,Emaar Imperial Gardens,"['Swimming Pool', 'School', 'Pergola', 'Wi-Fi ..."
116,Ireo City Plots,"['Swimming Pool', 'Salon', 'Banquet Hall', 'La..."
117,Parsvnath Exotica,"['Swimming Pool', 'Golf Course', 'Card Room', ..."
118,Pioneer Urban Presidia,"['Swimming Pool', 'Football', 'Bar/Chill-Out L..."
119,Suncity Platinum Towers,"['Mini Theatre', 'Automated Car Wash', 'Swimmi..."
120,Godrej Nature Plus,"['Natural Pond', 'Swimming Pool', 'Skating Rin..."
121,Bestech Park View Grand Spa,"['Automated Car Wash', 'Acupressure Park', 'Sw..."
122,Shree Vardhman Victoria,"['Bus Shelter', 'Swimming Pool', 'School', 'Ca..."
123,Silverglades The Melia,"['Swimming Pool', 'Football', 'Bar/Chill-Out L..."
124,Shree Vardhman Flora,"['Swimming Pool', 'School', 'Sauna', 'Steam Ro..."
125,Vatika Seven Elements,"['Valet Parking', 'Food Court', 'Swimming Pool..."
126,Bellavista Central Park Resorts,"['Mini Theatre', 'Infinity Pool', 'Lounge', 'R..."
127,M3M Heights,"['Bus Shelter', 'Infinity Pool', 'Swimming Poo..."
128,Godrej Habitat,"['Mini Theatre', 'Foosball', 'Swimming Pool', ..."
129,Adani Brahma Samsara,"['Swimming Pool', 'School', 'Restaurant', 'Spa..."
130,DLF The Grove,"['Swimming Pool', 'ATM', 'Creche/Day care', 'W..."
131,Corona Optus,"['Swimming Pool', 'School', 'Piped Gas', 'Skat..."
132,Central Park Flower Valley Flamingo Floors,"['Swimming Pool', 'Medical Centre', 'Golf Cour..."
133,ROF Insignia Park 2,"['Reflexology Park', 'Golf Course', 'Skating R..."
134,Indiabulls Centrum Park,"['Milk Booth', 'Clinic', 'Swimming Pool', 'Bus..."
135,BPTP Fortuna,"['Gazebo', 'Sewage Treatment Plant', 'CCTV Cam..."
136,Bestech Park View Spa Next,"['Swimming Pool', 'School', 'Piped Gas', 'Skat..."
137,DLF The Pinnacle,"['Swimming Pool', 'Sun Deck', 'Lawn Tennis Cou..."
138,Godrej Oasis,"['Bus Shelter', 'Concierge Service', 'Swimming..."
139,Anant Raj Estate Plots,"['Swimming Pool', 'Restaurant', 'Spa', 'Shoppi..."
140,Mapsko The Icon 79,"['Mini Theatre', 'Swimming Pool', 'Bar/Chill-O..."
141,DLF Regal Gardens,"['Swimming Pool', 'School', 'Card Room', 'Sola..."
142,DLF The Icon,"['Swimming Pool', 'Restaurant', 'Skating Rink'..."
143,Vatika Sovereign Park,"['Swimming Pool', 'Terrace Garden', 'High Spee..."
144,Vatika Sovereign Next,"['Swimming Pool', 'Barbecue', 'Pergola', 'Saun..."
145,Central Park Flower Valley The Room,"['Swimming Pool', 'Laundry', 'ATM', 'Restauran..."
146,M3M Sky Lofts,"['Bowling Alley', 'Swimming Pool', 'Lounge', '..."
147,Golden Park,"['Swimming Pool', 'Volley Ball Court', 'Pergol..."
148,Ireo Savannah,"['Multipurpose Court', 'Basketball Court', 'Ba..."
149,Satya Merano Greens,"['Swimming Pool', 'Card Room', 'Cafeteria', 'S..."
150,ATS Kocoon,"['Swimming Pool', 'Laundry', 'Changing Area', ..."
151,Paras Quartier,"['Mini Theatre', 'Swimming Pool', 'Business Lo..."
152,Ashiana Amarah,"['Swimming Pool', 'Flower Garden', 'Library', ..."
153,JMS Prime Land,"['Reflexology Park', 'Volley Ball Court', 'Ska..."
154,India Rashtra,"['Swimming Pool', 'CCTV Camera Security', '24x..."
155,Vipul Tatvam Villa,"['Swimming Pool', 'Bar/Chill-Out Lounge', 'Per..."
156,Orris Woodview Residencies,"['Earthquake Resistant', 'Vastu Compliant', 'Y..."
157,Emaar MGF Palm Hills,"['Swimming Pool', 'Business Lounge', 'Salon', ..."
158,Vatika City,"['Swimming Pool', 'Bar/Chill-Out Lounge', 'Car..."
159,DLF New Town Heights 1,"['Swimming Pool', 'Medical Centre', 'Changing ..."
160,Vatika Gurgaon 21,"['Swimming Pool', 'Flower Garden', 'School', '..."
161,Signature The Roselia,"['Swimming Pool', 'Creche/Day care', 'Sun Deck..."
162,Vatika Independent Floors,"['Swimming Pool', 'School', 'Solar Lighting', ..."
163,Adani Tatva Estates,"['Pergola', 'Water Softener Plant', 'Skating R..."
164,Emaar Palm Gardens,"['Swimming Pool', 'Golf Course', 'School', 'Sa..."
165,Pareena Mi Casa,"['Mini Theatre', 'Natural Pond', 'Swimming Poo..."
166,The Close North,"['Swimming Pool', 'Lounge', 'Business Lounge',..."
167,Emaar The Palm Springs,"['Mini Theatre', 'Swimming Pool', 'Lounge', 'B..."
168,BPTP Park Serene,"['Swimming Pool', 'Golf Course', 'Visitors Par..."
169,Orchid IVY Floors,"['Lounge', 'Entrance Lobby', 'CCTV Camera Secu..."
170,ILD Greens,"['Swimming Pool', 'School', 'Aerobics Centre',..."
171,Godrej Icon,"['Infinity Pool', 'Swimming Pool', 'Reflexolog..."
172,Orris Aster Court Premier,"['Mini Theatre', 'Swimming Pool', 'Card Room',..."
173,M3M Latitude,"['Infinity Pool', 'Swimming Pool', 'Terrace Ga..."
174,Emaar MGF Emerald Estate,"['Swimming Pool', 'School', 'Piped Gas', 'Crec..."
175,Green Court,"['Food Court', 'ATM', 'Restaurant', 'Creche/Da..."
176,TARC Maceo,"['Concierge Service', 'Natural Pond', 'Swimmin..."
177,Raheja Vanya,"['Swimming Pool', 'Card Room', 'Sauna', 'Spa',..."
178,Paras Ekam Homes,"['Reading Lounge', 'Pergola', 'Skating Rink', ..."
179,Landmark The Homes 81,"['Swimming Pool', 'Visitors Parking', 'High Sp..."
180,ROF Normanton Park,"['Reading Lounge', 'Reflexology Park', 'Wi-Fi ..."
181,Corona Greens,"['Pergola', 'Skating Rink', 'Gazebo', 'Multipu..."
182,Umang Winter Hills,"['Swimming Pool', 'Laundry', 'Volley Ball Cour..."
183,Puri Diplomatic Greens,"['Air Hockey', 'Foosball', 'Swimming Pool', 'B..."
184,Silverglades Hightown Residences,"['Mini Theatre', 'Car wash area', 'Swimming Po..."
185,Pioneer Park,"['Swimming Pool', 'Piped Gas', 'Water Softener..."
186,Anant Raj Ashok Estate,['Gated Community']
187,Paras Dews,"['Swimming Pool', 'Lounge', 'Reflexology Park'..."
188,Ireo The Corridors,"['Swimming Pool', 'Football', 'Bar/Chill-Out L..."
189,Assotech Blith,"['Swimming Pool', 'Lounge', 'Medical Centre', ..."
190,Bestech Park View Sanskruti,"['Valet Parking', 'Swimming Pool', 'Reading Lo..."
191,Signature Global the Millennia,"['Skating Rink', 'Grocery Shop', 'Gazebo', 'Fo..."
192,Orchid Island,"['Property Staff', 'Fountain', 'Power Back up ..."
193,Ramprastha The Edge Towers,"['Temple', 'Swimming Pool', 'Bar/Chill-Out Lou..."
194,Pyramid Spring Valley,"['Basketball Court', 'Badminton Court', 'Yoga/..."
195,Bestech Park View Ananda,"['Swimming Pool', 'Visitors Parking', 'Restaur..."
196,Mapsko Casa Bella,"['Swimming Pool', 'Pergola', 'Sauna', 'Spa', '..."
197,Mahindra Aura,"['Swimming Pool', 'Golf Course', 'Pergola', 'S..."
198,Godrej Air,"['Mini Theatre', 'Swimming Pool', 'Flower Gard..."
199,Conscient Habitat,"['Creche/Day care', 'Shopping Centre', 'Earthq..."
200,Conscient Heritage Max,"['Swimming Pool', 'Football', 'Volley Ball Cou..."
201,Vipul Belmonte,"['Swimming Pool', 'ATM', 'Water Softener Plant..."
202,Unitech The Residences,"['Manicured Garden', 'Swimming Pool', 'School'..."
203,ILD Grand,"['Manicured Garden', 'Swimming Pool', 'School'..."
204,Signature Global Solera 2,"['Pergola', 'Creche/Day care', 'Amphitheatre',..."
205,Signature Global Solera,"['Jogging Track', '24/7 Power Backup', 'Gated ..."
206,M3M Woodshire,"['Swimming Pool', 'School', 'ATM', 'Aerobics C..."
207,Vatika India Next Plots,"['Swimming Pool', 'Medical Centre', 'Golf Cour..."
208,MV Buildcon Precore City,"['Multipurpose Court', '24/7 Power Backup', '2..."
209,Lion Infra Green Valley,"['Terrace Garden', 'Cricket Pitch', 'Amphithea..."
210,Orchid Petals,"['Swimming Pool', 'Volley Ball Court', 'Piped ..."
211,BPTP Mansions Park Prime,"['Swimming Pool', 'High Speed Elevators', 'Pro..."
212,Emaar MGF Palm Terraces,"['Swimming Pool', 'Golf Course', 'School', 'Re..."
213,Optimal ultra luxury builder floors,"['Visitors Parking', 'Piped Gas', 'Gated Commu..."
214,Salcon The Verandas,"['Concierge Service', 'Swimming Pool', 'Bar/Ch..."
215,BPTP Park Generations,"['Doctor on Call', 'Manicured Garden', 'Automa..."
216,Zara Aavaas,"['Swimming Pool', 'Reading Lounge', 'Card Room..."
217,Yashika 104,"['Wi-Fi Connectivity', 'Library', 'Cricket Pit..."
218,Breez Global Heights 89,"['Foosball', 'Flower Garden', 'Aerobics Centre..."
219,Zara Rossa,"['Multipurpose Court', 'Power Back up Lift', '..."
220,Alpha Corp GurgaonOne 84,"['Swimming Pool', 'Medical Centre', 'Flower Ga..."
221,Krrish Florence Estate,"['Infinity Pool', 'Swimming Pool', 'Laundry', ..."
222,Tulip Purple,"['Bus Shelter', 'Swimming Pool', 'Lawn Tennis ..."
223,Tulip Ivory,"['Bus Shelter', 'Swimming Pool', 'Business Lou..."
224,Shree Vardhman City,"['Swimming Pool', 'Vastu Compliant', 'Rain Wat..."
225,Signature Global Prime,"['Swimming Pool', 'Volley Ball Court', 'Water ..."
226,Antriksh Heights,"['Food Court', 'Swimming Pool', 'School', 'Sau..."
227,BPTP Pedestal,"['Manicured Garden', 'Swimming Pool', 'Busines..."
228,Vatika Express City,"['Swimming Pool', 'ATM', 'Cafeteria', 'Library..."
229,Pegasus Atulyam 83,"['Badminton Court', '24x7 Security', ""Children..."
230,DLF The Summit,"['Swimming Pool', 'Property Staff', 'Multipurp..."
231,The Close South,"['Swimming Pool', 'Business Lounge', 'Laundry'..."
232,Emaar Mgf Palm Terraces Select,"['Bowling Alley', 'Swimming Pool', 'Bar/Chill-..."
233,Unitech Fresco,"['Swimming Pool', 'School', 'ATM', 'Piped Gas'..."
234,Unitech Escape,"['Swimming Pool', 'Business Lounge', 'Jacuzzi'..."
235,Unitech Harmony,"['Swimming Pool', 'Creche/Day care', 'Squash C..."
236,Vatika The Seven Lamps,"['Valet Parking', 'Swimming Pool', 'School', '..."
237,BPTP Freedom Park Life,"['Swimming Pool', 'School', 'Jacuzzi', 'Shoppi..."
238,DLF New Town Heights,"['Swimming Pool', 'Sauna', 'Piped Gas', 'Groce..."
239,La Lagune,"['Swimming Pool', 'Bar/Chill-Out Lounge', 'Cha..."
240,M3M My Den,"['Food Court', 'Concierge Service', 'Infinity ..."
241,Suncity Avenue 102,"['Creche/Day care', 'Property Staff', 'Multipu..."
242,DLF Princeton Estate,"['Swimming Pool', 'Medical Centre', 'Laundry',..."
243,Pyramid Urban Homes 2,"['Shopping Centre', 'Community Hall', '24x7 Se..."
244,Satya The Hermitage,"['Bus Shelter', 'Swimming Pool', 'Business Lou..."
245,BPTP Spacio,"['Swimming Pool', 'Card Room', 'Piped Gas', 'P..."
246,SS The Coralwood,"['Swimming Pool', 'School', 'Solar Lighting', ..."

In [126]:
df[['PropertyName', 'PriceDetails']].iloc[139].PriceDetails

"{'Land': {'building_type': '', 'area_type': 'Plot Area', 'area': '2,160 - 3,240 sq.ft.', 'price-range': '₹ 4.2 - 6.3 Cr'}}"

In [127]:
import re
def extract_list(s):
    return re.findall(r"'(.*?)'",s)

df['TopFacilities'] = df['TopFacilities'].apply(extract_list)

In [128]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Salon, Restaurant, Spa, Cafete..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","[Bowling Alley, Mini Theatre, Manicured Garden..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"[Terrace Garden, Gazebo, Fountain, Amphitheatr..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Volley Ball Court, Aerobics Ce..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"[Mini Theatre, Doctor on Call, Concierge Servi..."

In [129]:
df.iloc[15]["TopFacilities"]

['Swimming Pool',
 'Card Room',
 'Restaurant',
 'Spa',
 'Squash Court',
 'Gazebo',
 'Banquet Hall',
 'Lawn Tennis Court',
 'Amphitheatre']

In [130]:
df.iloc[15]["TopFacilities"]

['Swimming Pool',
 'Card Room',
 'Restaurant',
 'Spa',
 'Squash Court',
 'Gazebo',
 'Banquet Hall',
 'Lawn Tennis Court',
 'Amphitheatre']

In [131]:
df['TopFacilitiesstr'] = df['TopFacilities'].apply(''.join)

In [132]:
df.iloc[[22]]

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities,TopFacilitiesstr
22,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,[],

In [133]:
df.drop(df.index[22], inplace=True)

In [134]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf_vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1,2))

In [135]:
tfidf_matrix = tfidf_vectorizer.fit_transform(df['TopFacilitiesstr'])

In [136]:
tfidf_matrix.toarray().shape

(246, 2117)

In [137]:
cosine_sim1 = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [138]:
cosine_sim1.shape

(246, 246)

In [139]:
def recommend_properties(property_name, cosine_sim=cosine_sim1):
    
    # Get index of the property that matches the name 
    idx = df.index[df['PropertyName'] == property_name].tolist()[0]

    # Get the pairwise similarity score with that property
    sim_scores = list(enumerate(cosine_sim1[idx]))

    #Sort the property based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar properties
    sim_scores = sim_scores[1:6]

    # Get the property indices
    property_indices = [i[0] for i in sim_scores]

    recommendations_df = pd.DataFrame({
        'PropertyName' : df['PropertyName'].iloc[property_indices],
        'SimilarityScore' : sim_scores
    })

    # Return the top 10 most similar properties
    return recommendations_df

In [140]:
recommend_properties("DLF The Arbour")

              PropertyName            SimilarityScore
30              BPTP Terra   (29, 0.2370008764339494)
0       Smartworld One DXP   (0, 0.18500799222923137)
14        SS Linden Floors  (14, 0.14427891657780187)
67   Signature Global Park  (66, 0.13721337626050514)
154          India Rashtra  (153, 0.1352085372214077)

In [141]:
df = pd.read_csv("../Datasets/appartments.csv")

In [142]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [143]:
df.sample()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
149,Satya Merano Greens,"Land in Sector 99A, Gurgaon","['Excellere World School', 'Satya The Hive Mal...","{'Excellere World School': '3 Km', 'Satya The ...",https://www.99acres.com/satya-merano-greens-se...,"{'Land': {'building_type': '', 'area_type': 'P...","['Swimming Pool', 'Card Room', 'Cafeteria', 'S..."

In [144]:
df.drop(df.index[22], inplace=True)

In [145]:
df.shape

(246, 7)

In [146]:
df[['PropertyName', 'PriceDetails']]

,PropertyName,PriceDetails
0,Smartworld One DXP,"{'2 BHK': {'building_type': 'Apartment', 'area..."
1,M3M Crown,"{'3 BHK': {'building_type': 'Apartment', 'area..."
2,Adani Brahma Samsara Vilasa,{'3 BHK': {'building_type': 'Independent Floor...
3,Sobha City,"{'2 BHK': {'building_type': 'Apartment', 'area..."
4,Signature Global City 93,{'2 BHK': {'building_type': 'Independent Floor...
5,Whiteland The Aspen,"{'3 BHK': {'building_type': 'Apartment', 'area..."
6,Bestech Altura,"{'3 BHK': {'building_type': 'Apartment', 'area..."
7,Elan The Presidential,"{'3 BHK': {'building_type': 'Apartment', 'area..."
8,Signature Global City 92,{'2 BHK': {'building_type': 'Independent Floor...
9,Emaar Digihomes,"{'2 BHK': {'building_type': 'Apartment', 'area..."
10,Signature Global City 79B,{'2 BHK': {'building_type': 'Independent Floor...
11,DLF The Arbour,"{'4 BHK': {'building_type': 'Apartment', 'area..."
12,M3M Antalya Hills,"{'2 BHK': {'building_type': 'Apartment', 'area..."
13,Signature Global City 81,{'2 BHK': {'building_type': 'Independent Floor...
14,SS Linden Floors,{'4 BHK': {'building_type': 'Independent Floor...
15,Mahindra Luminare,"{'3 BHK': {'building_type': 'Apartment', 'area..."
16,M3M Golf Hills,"{'2 BHK': {'building_type': 'Apartment', 'area..."
17,Suncity Vatsal Valley,{'2 BHK': {'building_type': 'Independent Floor...
18,Whiteland Blissville,"{'3 BHK': {'building_type': 'Apartment', 'area..."
19,Trump Tower,"{'3 BHK': {'building_type': 'Apartment', 'area..."
20,Tulip Monsella,"{'3 BHK': {'building_type': 'Apartment', 'area..."
21,Krisumi Waterfall Residences,"{'1 BHK': {'building_type': 'Apartment', 'area..."
23,M3M Capital,"{'2 BHK': {'building_type': 'Apartment', 'area..."
24,Godrej Meridien,"{'1 BHK': {'building_type': 'Apartment', 'area..."
25,La Vida by Tata Housing,"{'2 BHK': {'building_type': 'Apartment', 'area..."
26,Birla Navya,{'2 BHK': {'building_type': 'Independent Floor...
27,Signature Global City,{'2 BHK': {'building_type': 'Independent Floor...
28,Godrej 101,"{'2 BHK': {'building_type': 'Apartment', 'area..."
29,M3M Soulitude,{'2 BHK': {'building_type': 'Independent Floor...
30,BPTP Terra,"{'2 BHK': {'building_type': 'Apartment', 'area..."
31,M3M Skycity,"{'2 BHK': {'building_type': 'Apartment', 'area..."
32,MRG The Crown,{'3 BHK': {'building_type': 'Independent Floor...
33,Godrej Nature Plus Serenity,"{'2 BHK': {'building_type': 'Apartment', 'area..."
34,SS The Leaf,"{'2 BHK': {'building_type': 'Apartment', 'area..."
35,Eldeco Acclaim,"{'2 BHK': {'building_type': 'Apartment', 'area..."
36,Emaar Gurgaon Greens,"{'3 BHK': {'building_type': 'Apartment', 'area..."
37,Oxirich Chintamanis,"{'3 BHK': {'building_type': 'Apartment', 'area..."
38,DLF Garden City Floors,{'3 BHK': {'building_type': 'Independent Floor...
39,Anant Raj Estates,"{'3 BHK': {'building_type': 'Villa', 'area_typ..."
40,Tulip Yellow,"{'3 BHK': {'building_type': 'Apartment', 'area..."
41,BPTP Amstoria,{'3 BHK': {'building_type': 'Independent Floor...
42,Emaar Emerald Hills,"{'4 BHK': {'building_type': 'Villa', 'area_typ..."
43,M3M Golfestate,"{'2 BHK': {'building_type': 'Apartment', 'area..."
44,ATS Triumph,"{'3 BHK': {'building_type': 'Apartment', 'area..."
45,ATS Marigold,"{'3 BHK': {'building_type': 'Apartment', 'area..."
46,Signature Global City 37D Ph 2,{'2 BHK': {'building_type': 'Independent Floor...
47,DLF Alameda,"{'3 BHK': {'building_type': 'Villa', 'area_typ..."
48,Experion Windchants,"{'2 BHK': {'building_type': 'Apartment', 'area..."
49,Saan Verdante,"{'3 BHK': {'building_type': 'Apartment', 'area..."
50,4S Aradhya Homes,{'4 BHK': {'building_type': 'Independent Floor...
51,Yash Vihar,"{'Land': {'building_type': '', 'area_type': 'P..."
52,Smart World Orchard,"{'2 BHK': {'building_type': 'Apartment', 'area..."
53,DLF The Camellias,"{'4 BHK': {'building_type': 'Apartment', 'area..."
54,Birla Navya Avik,"{'3 BHK': {'building_type': 'Apartment', 'area..."
55,Adani Samsara Avasa,"{'3 BHK': {'building_type': 'Apartment', 'area..."
56,DLF The Crest,"{'2 BHK': {'building_type': 'Apartment', 'area..."
57,DLF The Magnolias,"{'4 BHK': {'building_type': 'Apartment', 'area..."
58,DLF The Aralias,"{'4 BHK': {'building_type': 'Apartment', 'area..."
59,Ansal API Esencia,{'3 BHK': {'building_type': 'Independent Floor...
60,Pioneer Araya,"{'3 BHK': {'building_type': 'Apartment', 'area..."
61,M3M Merlin,"{'3 BHK': {'building_type': 'Apartment', 'area..."
62,Smart World Gems,{'2 BHK': {'building_type': 'Independent Floor...
63,Vatika Aspiration,"{'Land': {'building_type': '', 'area_type': 'P..."
64,Ace Palm Floors,{'2 BHK': {'building_type': 'Independent Floor...
65,DLF Gardencity Enclave,{'3 BHK': {'building_type': 'Independent Floor...
66,Emaar Palm Heights,"{'3 BHK': {'building_type': 'Apartment', 'area..."
67,Signature Global Park,{'2 BHK': {'building_type': 'Independent Floor...
68,Emaar MGF Marbella,"{'4 BHK': {'building_type': 'Villa', 'area_typ..."
69,Rishali Luxe Residency 112,"{'Land': {'building_type': '', 'area_type': 'P..."
70,Puri The Aravallis,"{'3 BHK': {'building_type': 'Apartment', 'area..."
71,International City by SOBHA Phase 2,"{'3 BHK': {'building_type': 'Villa', 'area_typ..."
72,Emaar MGF The Palm Drive,"{'2 BHK': {'building_type': 'Apartment', 'area..."
73,BPTP Green Oaks,"{'Land': {'building_type': '', 'area_type': 'P..."
74,Puri Emerald Bay,"{'2 BHK': {'building_type': 'Apartment', 'area..."
75,Ireo Victory Valley,"{'2 BHK': {'building_type': 'Apartment', 'area..."
76,DLF Gardencity,{'3 BHK': {'building_type': 'Independent Floor...
77,Tata Primanti,"{'3 BHK': {'building_type': 'Apartment', 'area..."
78,DLF Park Place,"{'2 BHK': {'building_type': 'Apartment', 'area..."
79,Central Park Flower Valley,{'2 BHK': {'building_type': 'Independent Floor...
80,Ireo Skyon,"{'2 BHK': {'building_type': 'Apartment', 'area..."
81,AIPL The Peaceful Homes,"{'2 BHK': {'building_type': 'Apartment', 'area..."
82,Adani M2K Oyster Grande,"{'3 BHK': {'building_type': 'Apartment', 'area..."
83,G99,"{'Land': {'building_type': '', 'area_type': 'P..."
84,Emaar MGF Emerald Floors Premier,{'3 BHK': {'building_type': 'Independent Floor...
85,ROF Insignia Park,{'3 BHK': {'building_type': 'Independent Floor...
86,DLF The Ultima,"{'3 BHK': {'building_type': 'Apartment', 'area..."
87,Indiabulls Enigma,"{'4 BHK': {'building_type': 'Apartment', 'area..."
88,Experion The Westerlies,"{'4 BHK': {'building_type': 'Villa', 'area_typ..."
89,Hero Homes,"{'2 BHK': {'building_type': 'Apartment', 'area..."
90,Central Park Flower Valley Mikasa Plots,"{'Land': {'building_type': '', 'area_type': 'P..."
91,M3M Skywalk,"{'2 BHK': {'building_type': 'Apartment', 'area..."
92,Ireo The Grand Arch,"{'2 BHK': {'building_type': 'Apartment', 'area..."
93,JMS The Nation,"{'Land': {'building_type': '', 'area_type': 'P..."
94,Imperia The Esfera,"{'2 BHK': {'building_type': 'Apartment', 'area..."
95,Ramprastha Primera,"{'3 BHK': {'building_type': 'Apartment', 'area..."
96,Experion The Heartsong,"{'2 BHK': {'building_type': 'Apartment', 'area..."
97,DLF New Town Heights 2,"{'2 BHK': {'building_type': 'Apartment', 'area..."
98,DLF The Primus,"{'3 BHK': {'building_type': 'Apartment', 'area..."
99,DLF The Skycourt,"{'3 BHK': {'building_type': 'Apartment', 'area..."
100,Central Park Resorts,"{'2 BHK': {'building_type': 'Apartment', 'area..."
101,Suncity Avenue 76,"{'2 BHK': {'building_type': 'Apartment', 'area..."
102,International City by Sobha Phase 1,"{'3 BHK': {'building_type': 'Villa', 'area_typ..."
103,Ambience Creacions,"{'2 BHK': {'building_type': 'Apartment', 'area..."
104,Vatika Xpressions,{'2 BHK': {'building_type': 'Independent Floor...
105,M3M Sierra 68,"{'2 BHK': {'building_type': 'Apartment', 'area..."
106,Anand Niketan,"{'Land': {'building_type': '', 'area_type': 'P..."
107,DLF The Belaire,"{'3 BHK': {'building_type': 'Apartment', 'area..."
108,Godrej Aria,"{'2 BHK': {'building_type': 'Apartment', 'area..."
109,Ansals Shiva Som Valley,"{'Land': {'building_type': '', 'area_type': 'P..."
110,Vipul World,"{'3 BHK': {'building_type': 'Villa', 'area_typ..."
111,Central Park Flower Valley Aqua Front Towers,"{'3 BHK': {'building_type': 'Apartment', 'area..."
112,Tulip Violet,"{'3 BHK': {'building_type': 'Apartment', 'area..."
113,Eldeco Accolade,"{'2 BHK': {'building_type': 'Apartment', 'area..."
114,M3M Natura,"{'2 BHK': {'building_type': 'Apartment', 'area..."
115,Emaar Imperial Gardens,"{'3 BHK': {'building_type': 'Apartment', 'area..."
116,Ireo City Plots,"{'Land': {'building_type': '', 'area_type': 'P..."
117,Parsvnath Exotica,"{'3 BHK': {'building_type': 'Apartment', 'area..."
118,Pioneer Urban Presidia,"{'3 BHK': {'building_type': 'Apartment', 'area..."
119,Suncity Platinum Towers,"{'2 BHK': {'building_type': 'Apartment', 'area..."
120,Godrej Nature Plus,"{'2 BHK': {'building_type': 'Apartment', 'area..."
121,Bestech Park View Grand Spa,"{'3 BHK': {'building_type': 'Apartment', 'area..."
122,Shree Vardhman Victoria,"{'2 BHK': {'building_type': 'Apartment', 'area..."
123,Silverglades The Melia,"{'2 BHK': {'building_type': 'Apartment', 'area..."
124,Shree Vardhman Flora,"{'2 BHK': {'building_type': 'Apartment', 'area..."
125,Vatika Seven Elements,"{'2 BHK': {'building_type': 'Apartment', 'area..."
126,Bellavista Central Park Resorts,"{'1 RK': {'building_type': 'Studio Apartment',..."
127,M3M Heights,"{'2 BHK': {'building_type': 'Apartment', 'area..."
128,Godrej Habitat,"{'2 BHK': {'building_type': 'Apartment', 'area..."
129,Adani Brahma Samsara,{'3 BHK': {'building_type': 'Independent Floor...
130,DLF The Grove,{'4 BHK': {'building_type': 'Independent Floor...
131,Corona Optus,"{'2 BHK': {'building_type': 'Apartment', 'area..."
132,Central Park Flower Valley Flamingo Floors,{'2 BHK': {'building_type': 'Independent Floor...
133,ROF Insignia Park 2,"{'Land': {'building_type': '', 'area_type': 'P..."
134,Indiabulls Centrum Park,"{'2 BHK': {'building_type': 'Apartment', 'area..."
135,BPTP Fortuna,"{'Land': {'building_type': '', 'area_type': 'P..."
136,Bestech Park View Spa Next,"{'3 BHK': {'building_type': 'Apartment', 'area..."
137,DLF The Pinnacle,"{'4 BHK': {'building_type': 'Apartment', 'area..."
138,Godrej Oasis,"{'2 BHK': {'building_type': 'Apartment', 'area..."
139,Anant Raj Estate Plots,"{'Land': {'building_type': '', 'area_type': 'P..."
140,Mapsko The Icon 79,"{'4 BHK': {'building_type': 'Apartment', 'area..."
141,DLF Regal Gardens,"{'2 BHK': {'building_type': 'Apartment', 'area..."
142,DLF The Icon,"{'4 BHK': {'building_type': 'Apartment', 'area..."
143,Vatika Sovereign Park,"{'3 BHK': {'building_type': 'Apartment', 'area..."
144,Vatika Sovereign Next,"{'3 BHK': {'building_type': 'Apartment', 'area..."
145,Central Park Flower Valley The Room,"{'1 BHK': {'building_type': 'Apartment', 'area..."
146,M3M Sky Lofts,{'1 BHK': {'building_type': 'Service Apartment...
147,Golden Park,"{'Land': {'building_type': '', 'area_type': 'P..."
148,Ireo Savannah,"{'Land': {'building_type': '', 'area_type': 'P..."
149,Satya Merano Greens,"{'Land': {'building_type': '', 'area_type': 'P..."
150,ATS Kocoon,"{'3 BHK': {'building_type': 'Apartment', 'area..."
151,Paras Quartier,"{'4 BHK': {'building_type': 'Apartment', 'area..."
152,Ashiana Amarah,"{'3 BHK': {'building_type': 'Apartment', 'area..."
153,JMS Prime Land,"{'Land': {'building_type': '', 'area_type': 'P..."
154,India Rashtra,"{'Land': {'building_type': '', 'area_type': 'P..."
155,Vipul Tatvam Villa,"{'3 BHK': {'building_type': 'Villa', 'area_typ..."
156,Orris Woodview Residencies,"{'Land': {'building_type': '', 'area_type': 'P..."
157,Emaar MGF Palm Hills,"{'3 BHK': {'building_type': 'Apartment', 'area..."
158,Vatika City,"{'2 BHK': {'building_type': 'Apartment', 'area..."
159,DLF New Town Heights 1,"{'2 BHK': {'building_type': 'Apartment', 'area..."
160,Vatika Gurgaon 21,"{'2 BHK': {'building_type': 'Apartment', 'area..."
161,Signature The Roselia,"{'2 BHK': {'building_type': 'Apartment', 'area..."
162,Vatika Independent Floors,{'2 BHK': {'building_type': 'Independent Floor...
163,Adani Tatva Estates,"{'Land': {'building_type': '', 'area_type': 'P..."
164,Emaar Palm Gardens,"{'3 BHK': {'building_type': 'Apartment', 'area..."
165,Pareena Mi Casa,"{'2 BHK': {'building_type': 'Apartment', 'area..."
166,The Close North,"{'3 BHK': {'building_type': 'Apartment', 'area..."
167,Emaar The Palm Springs,"{'3 BHK': {'building_type': 'Apartment', 'area..."
168,BPTP Park Serene,"{'2 BHK': {'building_type': 'Apartment', 'area..."
169,Orchid IVY Floors,"{'3 BHK': {'building_type': 'Apartment', 'area..."
170,ILD Greens,"{'2 BHK': {'building_type': 'Apartment', 'area..."
171,Godrej Icon,"{'2 BHK': {'building_type': 'Apartment', 'area..."
172,Orris Aster Court Premier,"{'3 BHK': {'building_type': 'Apartment', 'area..."
173,M3M Latitude,"{'3 BHK': {'building_type': 'Apartment', 'area..."
174,Emaar MGF Emerald Estate,"{'2 BHK': {'building_type': 'Apartment', 'area..."
175,Green Court,"{'1 BHK': {'building_type': 'Apartment', 'area..."
176,TARC Maceo,"{'2 BHK': {'building_type': 'Apartment', 'area..."
177,Raheja Vanya,"{'1 BHK': {'building_type': 'Apartment', 'area..."
178,Paras Ekam Homes,"{'Land': {'building_type': '', 'area_type': 'P..."
179,Landmark The Homes 81,"{'1 BHK': {'building_type': 'Apartment', 'area..."
180,ROF Normanton Park,"{'Land': {'building_type': '', 'area_type': 'P..."
181,Corona Greens,"{'Land': {'building_type': '', 'area_type': 'P..."
182,Umang Winter Hills,"{'2 BHK': {'building_type': 'Apartment', 'area..."
183,Puri Diplomatic Greens,"{'3 BHK': {'building_type': 'Apartment', 'area..."
184,Silverglades Hightown Residences,"{'3 BHK': {'building_type': 'Apartment', 'area..."
185,Pioneer Park,"{'2 BHK': {'building_type': 'Apartment', 'area..."
186,Anant Raj Ashok Estate,"{'Land': {'building_type': '', 'area_type': 'P..."
187,Paras Dews,"{'2 BHK': {'building_type': 'Apartment', 'area..."
188,Ireo The Corridors,"{'2 BHK': {'building_type': 'Apartment', 'area..."
189,Assotech Blith,"{'2 BHK': {'building_type': 'Apartment', 'area..."
190,Bestech Park View Sanskruti,"{'3 BHK': {'building_type': 'Apartment', 'area..."
191,Signature Global the Millennia,"{'1 BHK': {'building_type': 'Apartment', 'area..."
192,Orchid Island,{'2 BHK': {'building_type': 'Independent Floor...
193,Ramprastha The Edge Towers,"{'2 BHK': {'building_type': 'Apartment', 'area..."
194,Pyramid Spring Valley,"{'Land': {'building_type': '', 'area_type': 'P..."
195,Bestech Park View Ananda,"{'2 BHK': {'building_type': 'Apartment', 'area..."
196,Mapsko Casa Bella,"{'3 BHK': {'building_type': 'Apartment', 'area..."
197,Mahindra Aura,"{'2 BHK': {'building_type': 'Apartment', 'area..."
198,Godrej Air,"{'1 BHK': {'building_type': 'Apartment', 'area..."
199,Conscient Habitat,"{'2 BHK': {'building_type': 'Apartment', 'area..."
200,Conscient Heritage Max,"{'3 BHK': {'building_type': 'Apartment', 'area..."
201,Vipul Belmonte,"{'3 BHK': {'building_type': 'Apartment', 'area..."
202,Unitech The Residences,"{'1 BHK': {'building_type': 'Apartment', 'area..."
203,ILD Grand,"{'2 BHK': {'building_type': 'Apartment', 'area..."
204,Signature Global Solera 2,"{'1 BHK': {'building_type': 'Apartment', 'area..."
205,Signature Global Solera,"{'1 BHK': {'building_type': 'Apartment', 'area..."
206,M3M Woodshire,"{'2 BHK': {'building_type': 'Apartment', 'area..."
207,Vatika India Next Plots,"{'Land': {'building_type': '', 'area_type': 'P..."
208,MV Buildcon Precore City,"{'Land': {'building_type': '', 'area_type': 'P..."
209,Lion Infra Green Valley,"{'Land': {'building_type': '', 'area_type': 'P..."
210,Orchid Petals,"{'3 BHK': {'building_type': 'Apartment', 'area..."
211,BPTP Mansions Park Prime,"{'4 BHK': {'building_type': 'Apartment', 'area..."
212,Emaar MGF Palm Terraces,"{'4 BHK': {'building_type': 'Apartment', 'area..."
213,Optimal ultra luxury builder floors,{'3 BHK': {'building_type': 'Independent Floor...
214,Salcon The Verandas,"{'4 BHK': {'building_type': 'Apartment', 'area..."
215,BPTP Park Generations,"{'3 BHK': {'building_type': 'Apartment', 'area..."
216,Zara Aavaas,"{'1 BHK': {'building_type': 'Apartment', 'area..."
217,Yashika 104,"{'1 BHK': {'building_type': 'Apartment', 'area..."
218,Breez Global Heights 89,"{'2 BHK': {'building_type': 'Apartment', 'area..."
219,Zara Rossa,"{'2 BHK': {'building_type': 'Apartment', 'area..."
220,Alpha Corp GurgaonOne 84,"{'2 BHK': {'building_type': 'Apartment', 'area..."
221,Krrish Florence Estate,"{'3 BHK': {'building_type': 'Apartment', 'area..."
222,Tulip Purple,"{'4 BHK': {'building_type': 'Apartment', 'area..."
223,Tulip Ivory,"{'4 BHK': {'building_type': 'Apartment', 'area..."
224,Shree Vardhman City,"{'Land': {'building_type': '', 'area_type': 'P..."
225,Signature Global Prime,"{'2 BHK': {'building_type': 'Apartment', 'area..."
226,Antriksh Heights,"{'2 BHK': {'building_type': 'Apartment', 'area..."
227,BPTP Pedestal,"{'2 BHK': {'building_type': 'Apartment', 'area..."
228,Vatika Express City,"{'2 BHK': {'building_type': 'Apartment', 'area..."
229,Pegasus Atulyam 83,"{'Land': {'building_type': '', 'area_type': 'P..."
230,DLF The Summit,"{'4 BHK': {'building_type': 'Apartment', 'area..."
231,The Close South,"{'3 BHK': {'building_type': 'Apartment', 'area..."
232,Emaar Mgf Palm Terraces Select,"{'3 BHK': {'building_type': 'Apartment', 'area..."
233,Unitech Fresco,"{'2 BHK': {'building_type': 'Apartment', 'area..."
234,Unitech Escape,"{'2 BHK': {'building_type': 'Apartment', 'area..."
235,Unitech Harmony,"{'2 BHK': {'building_type': 'Apartment', 'area..."
236,Vatika The Seven Lamps,"{'1 BHK': {'building_type': 'Apartment', 'area..."
237,BPTP Freedom Park Life,"{'2 BHK': {'building_type': 'Apartment', 'area..."
238,DLF New Town Heights,"{'2 BHK': {'building_type': 'Apartment', 'area..."
239,La Lagune,"{'3 BHK': {'building_type': 'Apartment', 'area..."
240,M3M My Den,"{'2 BHK': {'building_type': 'Apartment', 'area..."
241,Suncity Avenue 102,"{'2 BHK': {'building_type': 'Apartment', 'area..."
242,DLF Princeton Estate,"{'2 BHK': {'building_type': 'Apartment', 'area..."
243,Pyramid Urban Homes 2,"{'1 BHK': {'building_type': 'Apartment', 'area..."
244,Satya The Hermitage,"{'2 BHK': {'building_type': 'Apartment', 'area..."
245,BPTP Spacio,"{'2 BHK': {'building_type': 'Apartment', 'area..."
246,SS The Coralwood,"{'2 BHK': {'building_type': 'Apartment', 'area..."

In [147]:
df[['PropertyName', 'PriceDetails']].PriceDetails.iloc[176]

"{'1 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '918 - 1,144 sq.ft.', 'price-range': 'Price on Request'}, '2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,252.13 - 1,701.64 sq.ft.', 'price-range': 'Price on Request'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,510.71 - 2,028 sq.ft.', 'price-range': 'Price on Request'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,676.51 - 1,965.18 sq.ft.', 'price-range': 'Price on Request'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '3,056.66 sq.ft.', 'price-range': 'Price on Request'}, 'Land': {'building_type': '', 'area_type': 'Plot Area', 'area': '1,023.57 - 1,581.93 sq.ft.', 'price-range': '₹ 1.2 - 1.86 Cr'}}"

In [148]:
df.shape

(246, 7)

In [166]:
import pandas as pd
import ast
import re


def convert_lakhs_to_crores_in_string(price_str):
    """
    Convert Lakhs (L/Lac/Lacs/Lakhs) to Crores (Cr) in a price string
    
    Examples:
    "₹ 88.45 L" -> "₹ 0.8845 Cr"
    "₹ 88.45 - 94.8 L" -> "₹ 0.8845 - 0.948 Cr"
    "₹ 88.45 Lac" -> "₹ 0.8845 Cr"
    "₹ 1.26 Cr" -> "₹ 1.26 Cr" (unchanged)
    """
    if not price_str or pd.isna(price_str):
        return price_str
    
    # Check if already in Crores
    if 'Cr' in price_str:
        return price_str
    
    # Check if it's in Lakhs (L, Lac, Lacs, Lakhs)
    lakhs_pattern = r'(L|Lac|Lacs|Lakhs)\b'
    if not re.search(lakhs_pattern, price_str, re.IGNORECASE):
        return price_str
    
    # Extract all numbers from the string
    numbers = re.findall(r'(\d+(?:\.\d+)?)', price_str)
    
    if not numbers:
        return price_str
    
    # Convert each number from Lakhs to Crores (divide by 100)
    converted_numbers = []
    for num in numbers:
        lakhs_value = float(num)
        crores_value = lakhs_value / 100
        # Round to 4 decimal places to avoid floating point issues
        crores_value = round(crores_value, 4)
        converted_numbers.append(str(crores_value))
    
    # Build the new string
    # Handle different formats
    if len(converted_numbers) == 1:
        # Single value: "₹ 88.45 L" -> "₹ 0.8845 Cr"
        new_str = f"₹ {converted_numbers[0]} Cr"
    elif len(converted_numbers) == 2:
        # Range: "₹ 88.45 - 94.8 L" -> "₹ 0.8845 - 0.948 Cr"
        new_str = f"₹ {converted_numbers[0]} - {converted_numbers[1]} Cr"
    else:
        # Fallback: just replace L/Lac/etc with Cr
        new_str = re.sub(lakhs_pattern, 'Cr', price_str, flags=re.IGNORECASE)
    
    return new_str


def convert_price_details_lakhs_to_crores(price_details_str):
    """
    Convert all Lakhs values to Crores in a PriceDetails dictionary string
    
    Args:
        price_details_str: String representation of dictionary with price details
    
    Returns:
        Modified string with all Lakhs converted to Crores
    """
    if not price_details_str or pd.isna(price_details_str):
        return price_details_str
    
    try:
        # Handle different input types
        if isinstance(price_details_str, dict):
            # Already a dictionary
            price_dict = price_details_str.copy()
        elif isinstance(price_details_str, str):
            # Try to parse as dictionary
            # First, try ast.literal_eval
            try:
                price_dict = ast.literal_eval(price_details_str)
            except (ValueError, SyntaxError):
                # If ast.literal_eval fails, try eval with restricted namespace
                # This handles cases where the string has variable names
                try:
                    import json
                    # Try to convert to valid JSON first
                    json_str = price_details_str.replace("'", '"')
                    price_dict = json.loads(json_str)
                except:
                    # If still fails, use eval with empty namespace for safety
                    price_dict = eval(price_details_str, {"__builtins__": {}}, {})
        else:
            # Unknown type, return as is
            return price_details_str
        
        # Iterate through each property type (BHK, Land, etc.)
        for property_type, details in price_dict.items():
            if isinstance(details, dict) and 'price-range' in details:
                original_price = details['price-range']
                converted_price = convert_lakhs_to_crores_in_string(original_price)
                details['price-range'] = converted_price
        
        # Convert back to string representation
        return str(price_dict)
    
    except Exception as e:
        print(f"Error converting price details: {str(e)}")
        print(f"Problematic value type: {type(price_details_str)}")
        print(f"First 200 chars: {str(price_details_str)[:200]}")
        return price_details_str


def diagnose_price_details_issues(df, price_column='PriceDetails'):
    """
    Diagnose issues in PriceDetails column to identify problematic rows
    
    Args:
        df: DataFrame to diagnose
        price_column: Column name to check
    
    Returns:
        Dictionary with diagnostic information
    """
    print("\n" + "="*100)
    print("DIAGNOSING PRICE DETAILS COLUMN")
    print("="*100 + "\n")
    
    issues = {
        'total_rows': len(df),
        'null_values': df[price_column].isna().sum(),
        'empty_strings': (df[price_column] == '').sum(),
        'dict_type': 0,
        'string_type': 0,
        'other_type': 0,
        'parseable': 0,
        'unparseable': [],
        'unparseable_samples': []
    }
    
    for idx, value in df[price_column].items():
        if pd.isna(value):
            continue
            
        # Check type
        if isinstance(value, dict):
            issues['dict_type'] += 1
            issues['parseable'] += 1
        elif isinstance(value, str):
            issues['string_type'] += 1
            # Try to parse
            try:
                ast.literal_eval(value)
                issues['parseable'] += 1
            except:
                issues['unparseable'].append(idx)
                if len(issues['unparseable_samples']) < 5:
                    issues['unparseable_samples'].append({
                        'index': idx,
                        'value': value[:200],
                        'property_name': df.loc[idx, 'PropertyName'] if 'PropertyName' in df.columns else 'N/A'
                    })
        else:
            issues['other_type'] += 1
    
    # Print summary
    print(f"Total rows: {issues['total_rows']}")
    print(f"Null values: {issues['null_values']}")
    print(f"Empty strings: {issues['empty_strings']}")
    print(f"\nData types:")
    print(f"  - Dictionary type: {issues['dict_type']}")
    print(f"  - String type: {issues['string_type']}")
    print(f"  - Other types: {issues['other_type']}")
    print(f"\nParseability:")
    print(f"  - Parseable: {issues['parseable']}")
    print(f"  - Unparseable: {len(issues['unparseable'])}")
    
    if issues['unparseable_samples']:
        print(f"\n⚠️  PROBLEMATIC ROWS (first 5):")
        print("-"*100)
        for sample in issues['unparseable_samples']:
            print(f"\nRow {sample['index']} - Property: {sample['property_name']}")
            print(f"Value (first 200 chars): {sample['value']}")
            print("-"*100)
    
    return issues


def preprocess_dataframe_prices(df, price_column='PriceDetails', diagnose=False):
    """
    Preprocess entire dataframe to convert Lakhs to Crores in PriceDetails column
    
    Args:
        df: pandas DataFrame with PriceDetails column
        price_column: name of the column containing price details (default: 'PriceDetails')
        diagnose: if True, run diagnostics before processing
    
    Returns:
        DataFrame with converted prices
    """
    # Create a copy to avoid modifying original
    df_processed = df.copy()
    
    # Run diagnostics if requested
    if diagnose:
        diagnose_price_details_issues(df_processed, price_column)
    
    # Apply conversion to each row
    print(f"\nConverting Lakhs to Crores in {len(df_processed)} rows...")
    
    df_processed[price_column] = df_processed[price_column].apply(
        convert_price_details_lakhs_to_crores
    )
    
    print("Conversion complete!")
    
    return df_processed


# ============================================================================
# USAGE EXAMPLE - HOW TO USE WITH YOUR 246 ROWS
# ============================================================================

if __name__ == "__main__":
    """
    This section only runs when you execute this file directly.
    To use with your data, import the function instead.
    """
    
    print("="*100)
    print("PRICE PREPROCESSING - USAGE INSTRUCTIONS")
    print("="*100)
    print("""
To process your 246-row dataframe, use this code in your script:

# Import the function
from price_preprocessing_corrected import preprocess_dataframe_prices

# Load your data
import pandas as pd
df = pd.read_csv('your_246_rows.csv')

# Check the shape
print(f"Input shape: {df.shape}")

# Process the data
df_processed = preprocess_dataframe_prices(df, diagnose=True)

# Check the output shape
print(f"Output shape: {df_processed.shape}")

# Save the result
df_processed.to_csv('processed_output.csv', index=False)

# The output should have 246 rows, same as input!
assert len(df_processed) == 246, "Row count mismatch!"
print("✅ All 246 rows processed successfully!")
    """)

Converting Lakhs to Crores in 6 rows...
Conversion complete!

In [168]:
df_processed.shape

(6, 2)

In [169]:
import pandas as pd
import ast
import re

class PropertyDataProcessor:
    """
    A class to process and flatten property data from PriceDetails column
    """
    
    def __init__(self, dataframe):
        """
        Initialize the processor with a dataframe
        
        Parameters:
        dataframe (pd.DataFrame): DataFrame containing PropertyName and PriceDetails columns
        """
        if dataframe is None:
            raise ValueError("Dataframe cannot be None. Please provide a valid pandas DataFrame.")
        
        if not isinstance(dataframe, pd.DataFrame):
            raise TypeError(f"Expected pandas DataFrame, got {type(dataframe)} instead.")
        
        if 'PropertyName' not in dataframe.columns or 'PriceDetails' not in dataframe.columns:
            raise ValueError("Dataframe must contain 'PropertyName' and 'PriceDetails' columns.")
        
        self.df = dataframe.copy()  # Create a copy to avoid modifying the original
        self.flattened_df = None
        
        print(f"✓ Initialized with dataframe containing {len(self.df)} rows")
        
    def extract_price_range(self, price_range_str):
        """
        Extract min and max prices from price range string as float values
        
        Parameters:
        price_range_str (str): Price range string like "₹ 2 - 2.4 Cr"
        
        Returns:
        tuple: (min_price, max_price) as floats without units
        """
        if not price_range_str or pd.isna(price_range_str):
            return None, None
        
        # Remove currency symbol and unit, extract all numbers
        cleaned = price_range_str.replace('₹', '').replace('Cr', '').replace('Lac', '').replace('L', '')
        
        # Extract all decimal numbers
        prices = re.findall(r'(\d+(?:\.\d+)?)', cleaned)
        
        if len(prices) >= 2:
            return float(prices[0]), float(prices[1])
        elif len(prices) == 1:
            return float(prices[0]), float(prices[0])
        else:
            return None, None
    
    def extract_area_value(self, area_str):
        """
        Extract a clean numeric area value (average if range, single if not)
        
        Parameters:
        area_str (str): Area string like "1,850 - 2,050 sq.ft." or "1,370 sq.ft."
        
        Returns:
        float: Single numeric area value without units
        """
        if not area_str or pd.isna(area_str):
            return None
        
        # Remove commas and extract all numbers
        area_clean = area_str.replace(',', '')
        numbers = re.findall(r'(\d+(?:\.\d+)?)', area_clean)
        
        if len(numbers) >= 2:
            # If range, return average
            return (float(numbers[0]) + float(numbers[1])) / 2
        elif len(numbers) == 1:
            return float(numbers[0])
        else:
            return None
    
    def extract_area_range(self, area_str):
        """
        Extract min and max area from area string as float values
        
        Parameters:
        area_str (str): Area string like "1,850 - 2,050 sq.ft." or "1,370 sq.ft."
        
        Returns:
        tuple: (min_area, max_area) as floats without units
        """
        if not area_str or pd.isna(area_str):
            return None, None
        
        # Remove commas and extract all numbers
        area_clean = area_str.replace(',', '')
        numbers = re.findall(r'(\d+(?:\.\d+)?)', area_clean)
        
        if len(numbers) >= 2:
            return float(numbers[0]), float(numbers[1])
        elif len(numbers) == 1:
            return float(numbers[0]), float(numbers[0])
        else:
            return None, None
    
    def flatten_price_details(self):
        """
        Flatten the PriceDetails column into separate columns for each property type
        
        Returns:
        pd.DataFrame: Flattened dataframe
        """
        if self.df is None:
            raise ValueError("Dataframe is None. Cannot process.")
        
        # Create a list to store all flattened rows
        flattened_data = []
        
        for idx, row in self.df.iterrows():
            flat_row = {'PropertyName': row['PropertyName']}
            
            # Parse the PriceDetails string to dictionary
            try:
                if pd.isna(row['PriceDetails']) or row['PriceDetails'] == '':
                    flattened_data.append(flat_row)
                    continue
                    
                # Convert string representation to actual dictionary
                price_dict = ast.literal_eval(row['PriceDetails'])
                
                # Iterate through each property type (BHK, Land, etc.)
                for property_type, details in price_dict.items():
                    # Normalize property type to lowercase and remove spaces for column naming
                    # For "2 BHK" -> "2_bhk", for "Land" -> "land"
                    prop_suffix = property_type.lower().replace(' ', '_')
                    
                    # Extract building_type
                    if 'building_type' in details:
                        building_val = details['building_type']
                        # If empty string, use None
                        flat_row[f'{prop_suffix}_building_type'] = building_val if building_val else None
                    
                    # Extract area_type
                    if 'area_type' in details:
                        flat_row[f'{prop_suffix}_area_type'] = details['area_type']
                    
                    # Extract area as clean numeric value (without units)
                    if 'area' in details:
                        area_numeric = self.extract_area_value(details['area'])
                        flat_row[f'{prop_suffix}_area'] = area_numeric
                        
                        # Extract and split area into min and max (numeric values)
                        min_area, max_area = self.extract_area_range(details['area'])
                        flat_row[f'{prop_suffix}_area_min'] = min_area
                        flat_row[f'{prop_suffix}_area_max'] = max_area
                    
                    # Extract and split price range (numeric values)
                    if 'price-range' in details:
                        min_price, max_price = self.extract_price_range(details['price-range'])
                        flat_row[f'{prop_suffix}_price_range_min'] = min_price
                        flat_row[f'{prop_suffix}_price_range_max'] = max_price
                
                flattened_data.append(flat_row)
                
            except Exception as e:
                print(f"Error processing row {idx}: {e}")
                print(f"PriceDetails content: {row['PriceDetails']}")
                flattened_data.append(flat_row)
        
        # Create new dataframe
        self.flattened_df = pd.DataFrame(flattened_data)
        
        return self.flattened_df
    
    def display_preview(self, num_rows=5):
        """
        Display a preview of the flattened dataframe
        
        Parameters:
        num_rows (int): Number of rows to display
        """
        if self.flattened_df is None:
            print("No flattened data available. Please run flatten_price_details() first.")
            return
        
        print("=" * 80)
        print("PREVIEW OF FLATTENED DATA")
        print("=" * 80)
        print(f"\nShowing first {num_rows} rows:\n")
        print(self.flattened_df.head(num_rows))
        print(f"\nTotal rows: {len(self.flattened_df)}")
        print(f"Total columns: {len(self.flattened_df.columns)}")
    
    def display_columns(self):
        """
        Display all column names in the flattened dataframe
        """
        if self.flattened_df is None:
            print("No flattened data available. Please run flatten_price_details() first.")
            return
        
        print("=" * 80)
        print("ALL COLUMNS IN FLATTENED DATA")
        print("=" * 80)
        for i, col in enumerate(self.flattened_df.columns, 1):
            print(f"{i}. {col}")
        print(f"\nTotal columns: {len(self.flattened_df.columns)}")
    
    def save_to_csv(self, filename='flattened_property_data.csv', index=False):
        """
        Save the flattened dataframe to a CSV file
        
        Parameters:
        filename (str): Name of the output CSV file
        index (bool): Whether to include index in CSV
        
        Returns:
        str: Path to saved file
        """
        if self.flattened_df is None:
            print("No flattened data available. Please run flatten_price_details() first.")
            return None
        
        try:
            self.flattened_df.to_csv(filename, index=index)
            print("=" * 80)
            print("FILE SAVED SUCCESSFULLY")
            print("=" * 80)
            print(f"File saved as: {filename}")
            print(f"Total rows saved: {len(self.flattened_df)}")
            print(f"Total columns saved: {len(self.flattened_df.columns)}")
            return filename
        except Exception as e:
            print(f"Error saving file: {e}")
            return None
    
    def get_statistics(self):
        """
        Display statistics about the flattened data
        """
        if self.flattened_df is None:
            print("No flattened data available. Please run flatten_price_details() first.")
            return
        
        print("=" * 80)
        print("DATA STATISTICS")
        print("=" * 80)
        
        # Get numeric columns
        numeric_cols = self.flattened_df.select_dtypes(include=['float64', 'int64']).columns
        
        print(f"\nNumeric columns: {len(numeric_cols)}")
        print(f"Text columns: {len(self.flattened_df.columns) - len(numeric_cols)}")
        
        print(f"\nMissing values per column:")
        missing_counts = self.flattened_df.isnull().sum()
        missing_counts = missing_counts[missing_counts > 0]
        if len(missing_counts) > 0:
            print(missing_counts)
        else:
            print("No missing values!")
        
        # Show data types
        print(f"\nData types:")
        print(self.flattened_df.dtypes.value_counts())
    
    def process_all(self, csv_filename='flattened_property_data.csv'):
        """
        Run all processing steps in sequence
        
        Parameters:
        csv_filename (str): Name of the output CSV file
        
        Returns:
        pd.DataFrame: The flattened dataframe
        """
        print("Starting data processing...\n")
        
        # Step 1: Flatten the data
        print("Step 1: Flattening price details...")
        self.flatten_price_details()
        print("✓ Flattening complete\n")
        
        # Step 2: Display preview
        print("Step 2: Displaying preview...")
        self.display_preview()
        print("\n")
        
        # Step 3: Display columns
        print("Step 3: Displaying all columns...")
        self.display_columns()
        print("\n")
        
        # Step 4: Display statistics
        print("Step 4: Displaying statistics...")
        self.get_statistics()
        print("\n")
        
        # Step 5: Save to CSV
        print("Step 5: Saving to CSV...")
        self.save_to_csv(csv_filename)
        print("\n")
        
        print("=" * 80)
        print("ALL PROCESSING COMPLETE!")
        print("=" * 80)
        
        return self.flattened_df


# ============================================================================
# USAGE EXAMPLE
# ============================================================================

if __name__ == "__main__":
    # Sample data for demonstration
    sample_data = {
        'PropertyName': [
            'Smartworld One DXP',
            'M3M Crown',
            'Adani Brahma Samsara Vilasa',
            'Sobha City',
            'Signature Global City 93',
            'Premium Land Plot'
        ],
        'PriceDetails': [
            "{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,370 sq.ft.', 'price-range': '₹ 2 - 2.4 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,850 - 2,050 sq.ft.', 'price-range': '₹ 2.25 - 3.59 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '2,600 sq.ft.', 'price-range': '₹ 3.24 - 4.56 Cr'}}",
            "{'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Area', 'area': '2,000 sq.ft.', 'price-range': '₹ 3 - 4 Cr'}}",
            "{'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Built-up Area', 'area': '1,800 sq.ft.', 'price-range': '₹ 2.5 - 3.2 Cr'}}",
            "{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,200 sq.ft.', 'price-range': '₹ 1.8 - 2.2 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,600 sq.ft.', 'price-range': '₹ 2.5 - 3 Cr'}}",
            "{'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Area', 'area': '1,100 sq.ft.', 'price-range': '₹ 1.5 - 1.8 Cr'}}",
            "{'Land': {'building_type': '', 'area_type': 'Plot Area', 'area': '2,160 - 3,240 sq.ft.', 'price-range': '₹ 4.2 - 6.3 Cr'}}"
        ]
    }
    
    # Create dataframe
    df = pd.DataFrame(sample_data)
    
    print("ORIGINAL DATA:")
    print(df)
    print("\n" + "=" * 80 + "\n")
    
    # Create an instance of PropertyDataProcessor
    processor = PropertyDataProcessor(df)
    
    # Process all steps at once
    result_df = processor.process_all(csv_filename='property_data_flattened.csv')
    
    # Show specific numeric columns
    print("\n" + "=" * 80)
    print("SAMPLE NUMERIC VALUES")
    print("=" * 80)
    
    numeric_cols = result_df.select_dtypes(include=['float64', 'int64']).columns
    if len(numeric_cols) > 0:
        print("\nFirst row numeric values:")
        for col in numeric_cols[:10]:  # Show first 10 numeric columns
            print(f"  {col}: {result_df[col].iloc[0]}")

ORIGINAL DATA:
                  PropertyName  \
0           Smartworld One DXP
1                    M3M Crown
2  Adani Brahma Samsara Vilasa
3                   Sobha City
4     Signature Global City 93
5            Premium Land Plot

                                        PriceDetails
0  {'2 BHK': {'building_type': 'Apartment', 'area...
1  {'3 BHK': {'building_type': 'Apartment', 'area...
2  {'3 BHK': {'building_type': 'Independent Floor...
3  {'2 BHK': {'building_type': 'Apartment', 'area...
4  {'2 BHK': {'building_type': 'Independent Floor...
5  {'Land': {'building_type': '', 'area_type': 'P...

================================================================================

✓ Initialized with dataframe containing 6 rows
Starting data processing...

Step 1: Flattening price details...
✓ Flattening complete

Step 2: Displaying preview...
================================================================================
PREVIEW OF FLATTENED DATA
================================================================================

Showing first 5 rows:

                  PropertyName 2_bhk_building_type 2_bhk_area_type  \
0           Smartworld One DXP           Apartment     Carpet Area
1                    M3M Crown                 NaN             NaN
2  Adani Brahma Samsara Vilasa                 NaN             NaN
3                   Sobha City           Apartment     Carpet Area
4     Signature Global City 93   Independent Floor      Super Area

   2_bhk_area  2_bhk_area_min  2_bhk_area_max  2_bhk_price_range_min  \
0      1370.0          1370.0          1370.0                    2.0
1         NaN             NaN             NaN                    NaN
2         NaN             NaN             NaN                    NaN
3      1200.0          1200.0          1200.0                    1.8
4      1100.0          1100.0          1100.0                    1.5

   2_bhk_price_range_max 3_bhk_building_type 3_bhk_area_type  3_bhk_area  \
0                    2.4           Apartment     Carpet Area      1950.0
1                    NaN           Apartment      Super Area      2000.0
2                    NaN   Independent Floor   Built-up Area      1800.0
3                    2.2           Apartment     Carpet Area      1600.0
4                    1.8                 NaN             NaN         NaN

   3_bhk_area_min  3_bhk_area_max  3_bhk_price_range_min  \
0          1850.0          2050.0                   2.25
1          2000.0          2000.0                   3.00
2          1800.0          1800.0                   2.50
3          1600.0          1600.0                   2.50
4             NaN             NaN                    NaN

   3_bhk_price_range_max 4_bhk_building_type 4_bhk_area_type  4_bhk_area  \
0                   3.59           Apartment     Carpet Area      2600.0
1                   4.00                 NaN             NaN         NaN
2                   3.20                 NaN             NaN         NaN
3                   3.00                 NaN             NaN         NaN
4                    NaN                 NaN             NaN         NaN

   4_bhk_area_min  4_bhk_area_max  4_bhk_price_range_min  \
0          2600.0          2600.0                   3.24
1             NaN             NaN                    NaN
2             NaN             NaN                    NaN
3             NaN             NaN                    NaN
4             NaN             NaN                    NaN

   4_bhk_price_range_max  land_building_type land_area_type  land_area  \
0                   4.56                 NaN            NaN        NaN
1                    NaN                 NaN            NaN        NaN
2                    NaN                 NaN            NaN        NaN
3                    NaN                 NaN            NaN        NaN
4                    NaN                 NaN            NaN        NaN

   land_area_min  land_area_max  land_price_range_min  land_price_range_max
0            NaN            NaN                   NaN                   NaN
1            NaN            NaN                   NaN                   NaN
2            NaN            NaN                   NaN                   NaN
3            NaN            NaN                   NaN                   NaN
4            NaN            NaN                   NaN                   NaN

Total rows: 6
Total columns: 29


Step 3: Displaying all columns...
================================================================================
ALL COLUMNS IN FLATTENED DATA
================================================================================
1. PropertyName
2. 2_bhk_building_type
3. 2_bhk_area_type
4. 2_bhk_area
5. 2_bhk_area_min
6. 2_bhk_area_max
7. 2_bhk_price_range_min
8. 2_bhk_price_range_max
9. 3_bhk_building_type
10. 3_bhk_area_type
11. 3_bhk_area
12. 3_bhk_area_min
13. 3_bhk_area_max
14. 3_bhk_price_range_min
15. 3_bhk_price_range_max
16. 4_bhk_building_type
17. 4_bhk_area_type
18. 4_bhk_area
19. 4_bhk_area_min
20. 4_bhk_area_max
21. 4_bhk_price_range_min
22. 4_bhk_price_range_max
23. land_building_type
24. land_area_type
25. land_area
26. land_area_min
27. land_area_max
28. land_price_range_min
29. land_price_range_max

Total columns: 29


Step 4: Displaying statistics...
================================================================================
DATA STATISTICS
================================================================================

Numeric columns: 21
Text columns: 8

Missing values per column:
2_bhk_building_type      3
2_bhk_area_type          3
2_bhk_area               3
2_bhk_area_min           3
2_bhk_area_max           3
2_bhk_price_range_min    3
2_bhk_price_range_max    3
3_bhk_building_type      2
3_bhk_area_type          2
3_bhk_area               2
3_bhk_area_min           2
3_bhk_area_max           2
3_bhk_price_range_min    2
3_bhk_price_range_max    2
4_bhk_building_type      5
4_bhk_area_type          5
4_bhk_area               5
4_bhk_area_min           5
4_bhk_area_max           5
4_bhk_price_range_min    5
4_bhk_price_range_max    5
land_building_type       6
land_area_type           5
land_area                5
land_area_min            5
land_area_max            5
land_price_range_min     5
land_price_range_max     5
dtype: int64

Data types:
float64    21
object      8
Name: count, dtype: int64


Step 5: Saving to CSV...
================================================================================
FILE SAVED SUCCESSFULLY
================================================================================
File saved as: property_data_flattened.csv
Total rows saved: 6
Total columns saved: 29


================================================================================
ALL PROCESSING COMPLETE!
================================================================================

================================================================================
SAMPLE NUMERIC VALUES
================================================================================

First row numeric values:
  2_bhk_area: 1370.0
  2_bhk_area_min: 1370.0
  2_bhk_area_max: 1370.0
  2_bhk_price_range_min: 2.0
  2_bhk_price_range_max: 2.4
  3_bhk_area: 1950.0
  3_bhk_area_min: 1850.0
  3_bhk_area_max: 2050.0
  3_bhk_price_range_min: 2.25
  3_bhk_price_range_max: 3.59

In [153]:
result_df.shape

(6, 29)

In [154]:
result_df.describe()

,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,4_bhk_area,4_bhk_area_min,4_bhk_area_max,4_bhk_price_range_min,4_bhk_price_range_max,land_building_type,land_area,land_area_min,land_area_max,land_price_range_min,land_price_range_max
count,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.0,1.0,1.0,1.00,1.00,0.0,1.0,1.0,1.0,1.0,1.0
mean,1223.333333,1223.333333,1223.333333,1.766667,2.133333,1837.500000,1812.500000,1862.500000,2.562500,3.447500,2600.0,2600.0,2600.0,3.24,4.56,NaN,2700.0,2160.0,3240.0,4.2,6.3
std,136.503968,136.503968,136.503968,0.251661,0.305505,179.698822,165.201897,205.649378,0.314576,0.442371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1100.000000,1100.000000,1100.000000,1.500000,1.800000,1600.000000,1600.000000,1600.000000,2.250000,3.000000,2600.0,2600.0,2600.0,3.24,4.56,NaN,2700.0,2160.0,3240.0,4.2,6.3
25%,1150.000000,1150.000000,1150.000000,1.650000,2.000000,1750.000000,1750.000000,1750.000000,2.437500,3.150000,2600.0,2600.0,2600.0,3.24,4.56,NaN,2700.0,2160.0,3240.0,4.2,6.3
50%,1200.000000,1200.000000,1200.000000,1.800000,2.200000,1875.000000,1825.000000,1900.000000,2.500000,3.395000,2600.0,2600.0,2600.0,3.24,4.56,NaN,2700.0,2160.0,3240.0,4.2,6.3
75%,1285.000000,1285.000000,1285.000000,1.900000,2.300000,1962.500000,1887.500000,2012.500000,2.625000,3.692500,2600.0,2600.0,2600.0,3.24,4.56,NaN,2700.0,2160.0,3240.0,4.2,6.3
max,1370.000000,1370.000000,1370.000000,2.000000,2.400000,2000.000000,2000.000000,2050.000000,3.000000,4.000000,2600.0,2600.0,2600.0,3.24,4.56,NaN,2700.0,2160.0,3240.0,4.2,6.3

In [155]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
result_df

,PropertyName,2_bhk_building_type,2_bhk_area_type,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_building_type,3_bhk_area_type,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,4_bhk_building_type,4_bhk_area_type,4_bhk_area,4_bhk_area_min,4_bhk_area_max,4_bhk_price_range_min,4_bhk_price_range_max,land_building_type,land_area_type,land_area,land_area_min,land_area_max,land_price_range_min,land_price_range_max
0,Smartworld One DXP,Apartment,Carpet Area,1370.0,1370.0,1370.0,2.0,2.4,Apartment,Carpet Area,1950.0,1850.0,2050.0,2.25,3.59,Apartment,Carpet Area,2600.0,2600.0,2600.0,3.24,4.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3M Crown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apartment,Super Area,2000.0,2000.0,2000.0,3.00,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Independent Floor,Built-up Area,1800.0,1800.0,1800.0,2.50,3.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sobha City,Apartment,Carpet Area,1200.0,1200.0,1200.0,1.8,2.2,Apartment,Carpet Area,1600.0,1600.0,1600.0,2.50,3.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Signature Global City 93,Independent Floor,Super Area,1100.0,1100.0,1100.0,1.5,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Premium Land Plot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Plot Area,2700.0,2160.0,3240.0,4.2,6.3

In [156]:
df.columns

Index(['PropertyName', 'PriceDetails'], dtype='object')

In [157]:
categorical_columns = result_df.select_dtypes(include=['object']).columns.tolist()

In [158]:
categorical_columns

['PropertyName',
 '2_bhk_building_type',
 '2_bhk_area_type',
 '3_bhk_building_type',
 '3_bhk_area_type',
 '4_bhk_building_type',
 '4_bhk_area_type',
 'land_area_type']

In [159]:
ohe_df = pd.get_dummies(result_df, columns=categorical_columns, drop_first=True)

In [160]:
ohe_df = ohe_df.astype('float')
ohe_df.fillna(0, inplace=True)

In [161]:
ohe_df.head(20)

,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,4_bhk_area,4_bhk_area_min,4_bhk_area_max,4_bhk_price_range_min,4_bhk_price_range_max,land_building_type,land_area,land_area_min,land_area_max,land_price_range_min,land_price_range_max,PropertyName_M3M Crown,PropertyName_Premium Land Plot,PropertyName_Signature Global City 93,PropertyName_Smartworld One DXP,PropertyName_Sobha City,2_bhk_building_type_Independent Floor,2_bhk_area_type_Super Area,3_bhk_building_type_Independent Floor,3_bhk_area_type_Carpet Area,3_bhk_area_type_Super Area
0,1370.0,1370.0,1370.0,2.0,2.4,1950.0,1850.0,2050.0,2.25,3.59,2600.0,2600.0,2600.0,3.24,4.56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,2000.0,2000.0,2000.0,3.00,4.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,1800.0,1800.0,1800.0,2.50,3.20,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1200.0,1200.0,1200.0,1.8,2.2,1600.0,1600.0,1600.0,2.50,3.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,1100.0,1100.0,1100.0,1.5,1.8,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.0,2700.0,2160.0,3240.0,4.2,6.3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [162]:
len(ohe_df.columns)

31

In [163]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = pd.DataFrame(scaler.fit_transform(ohe_df), columns=ohe_df.columns, index=ohe_df.index)

In [164]:
scaled_data.head()

,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,4_bhk_area,4_bhk_area_min,4_bhk_area_max,4_bhk_price_range_min,4_bhk_price_range_max,land_building_type,land_area,land_area_min,land_area_max,land_price_range_min,land_price_range_max,PropertyName_M3M Crown,PropertyName_Premium Land Plot,PropertyName_Signature Global City 93,PropertyName_Smartworld One DXP,PropertyName_Sobha City,2_bhk_building_type_Independent Floor,2_bhk_area_type_Super Area,3_bhk_building_type_Independent Floor,3_bhk_area_type_Carpet Area,3_bhk_area_type_Super Area
0,1.229617,1.229617,1.229617,1.247389,1.233253,0.828121,0.744074,0.908289,0.440995,0.780465,2.236068,2.236068,2.236068,2.236068,2.236068,0.0,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,2.236068,-0.447214,-0.447214,-0.447214,-0.447214,1.414214,-0.447214
1,-0.991801,-0.991801,-0.991801,-0.986741,-0.986602,0.885233,0.918014,0.852106,1.051603,1.028199,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,0.0,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,2.236068,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.707107,2.236068
2,-0.991801,-0.991801,-0.991801,-0.986741,-0.986602,0.656786,0.686094,0.627375,0.644531,0.544815,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,0.0,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,2.236068,-0.707107,-0.447214
3,0.953967,0.953967,0.953967,1.023976,1.048265,0.428338,0.454175,0.402644,0.644531,0.423969,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,0.0,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,2.236068,-0.447214,-0.447214,-0.447214,1.414214,-0.447214
4,0.791820,0.791820,0.791820,0.688857,0.678289,-1.399239,-1.401179,-1.395207,-1.390830,-1.388724,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,0.0,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,-0.447214,2.236068,-0.447214,-0.447214,2.236068,2.236068,-0.447214,-0.707107,-0.447214

In [165]:
len(scaled_data.columns)

31