In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv('gurgaon_property_aftercleaning.csv')

In [9]:
df = df.drop('Unnamed: 0',axis=1)

In [10]:
df.head()

,property_type,society,sector,price_in_crores,price_per_sqft,area_sqft,areaWithType,bedRoom,bathroom,balcony,floorNum,facing,agePossession,Super Built up area,Built Up area,Carpet area,study room,store room,Pooja Room,servant room,Others,furnishing_type,luxury_score
0,flat,maa bhagwati residency,sector 7,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2.0,2.0,1,4.0,West,Relatively New,NaN,NaN,900,0,0,0,0,0,1,28
1,flat,apna enclave,sector 3,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2.0,2.0,1,1.0,West,Old Property,NaN,NaN,650,0,0,0,0,0,0,37
2,flat,tulsiani easy in homes,sohna road,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2.0,2.0,3,12.0,not available,New Property,NaN,NaN,595,0,0,0,0,0,1,36
3,flat,smart world orchard,sector 61,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2.0,2.0,2,2.0,not available,Undefined,NaN,NaN,1200,0,0,0,0,0,1,76
4,flat,parkwood westend,sector 92,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2.0,2.0,3,5.0,not available,Under Construction,1345,NaN,NaN,0,0,0,0,0,1,0

## cleaning of Super Built up area, Built Up area, Carpet area

In [26]:
import re
df['Super Built up area']=df['Super Built up area'].str.extract(r'^(\d+)')

df['Super Built up area'] = df['Super Built up area'].astype(float)

In [27]:
def clean_built_up_area(x):
    if pd.isnull(x):
        return np.nan
    try:
        return round(float(str(x).split()[0]), 2)
    except:
        return None

df['Built Up area'] = df['Built Up area'].apply(clean_built_up_area)

In [28]:
def clean_built_up_area(x):
    if pd.isnull(x):
        return np.nan
    try:
        return round(float(str(x).split()[0]), 2)
    except:
        return None

df['Carpet area'] = df['Carpet area'].apply(clean_built_up_area)

In [29]:
df.to_csv('final_cleaned_gurgaon_property.csv')