In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('gurgaon_properties.csv')

In [4]:
df.head(3)

,property_name,property_type,society,price_in_crores,price_per_sqft,area_sqft,areaWithType,bedRoom,bathroom,balcony,...,nearbyLocations,description,furnishDetails,features,rating,noOfFloor,Plot Area,Built-up Area,Carpet Area,area_in_sqft
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2.0,2.0,1,...,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,NaN,NaN,NaN,NaN
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2.0,2.0,1,...,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,NaN,NaN,NaN,NaN
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2.0,2.0,3,...,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(3961, 25)

In [7]:
df.drop(columns = {'Plot Area','Built-up Area','Carpet Area'})

,property_name,property_type,society,price_in_crores,price_per_sqft,area_sqft,areaWithType,bedRoom,bathroom,balcony,...,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,noOfFloor,area_in_sqft
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2.0,2.0,1,...,4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,NaN
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2.0,2.0,1,...,1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,NaN
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2.0,2.0,3,...,12.0,not available,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,NaN
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2.0,2.0,2,...,2.0,not available,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,NaN,NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2.0,2.0,3,...,5.0,not available,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3956,4 Bedroom House for sale in Sector 26 Gurgaon,house,DLF City Phase 1,5.50,30556.0,NaN,NaN,4.0,4.0,3,...,NaN,North-East,5 to 10 Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...","Residential house, g block, dlf phase-1, gurga...","['10 Light', 'No AC', 'No Bed', 'No Chimney', ...","['Feng Shui / Vaastu Compliant', 'High Ceiling...",NaN,2.0,1799.973819
3957,3 Bedroom House for sale in DLF Phase 2,house,DLF City Plots Phase 2,4.25,31481.0,NaN,NaN,3.0,2.0,3,...,NaN,North,10+ Year Old,"['Sahara Mall', 'Delhi Public School', 'Privat...","Residential house, k block, dlf phase-2, gurga...",NaN,"['High Ceiling Height', 'Maintenance Staff', '...","['Environment5 out of 5', 'Safety5 out of 5', ...",2.0,1350.020647
3958,3 Bedroom House for sale in Sector 26 Gurgaon,house,DLF City Phase 1,4.50,33333.0,NaN,NaN,3.0,3.0,2,...,NaN,East,5 to 10 Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...","Residential house, e block 150 sq.Yds , dlf ph...","['6 Fan', '20 Light', 'No AC', 'No Bed', 'No C...","['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN,2.0,1350.013500
3959,3 Bedroom House for sale in Sector 26 Gurgaon,house,DLF City Phase 1,3.25,33129.0,NaN,NaN,3.0,3.0,3,...,NaN,West,10+ Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...","Residential house, e block, dlf phase-1, gurga...","['5 Fan', '16 Light', 'No AC', 'No Bed', 'No C...","['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN,2.0,981.013613
3960,3 Bedroom House for sale in Bissar,house,Silverglades Tarudhan Valley Golf Resort,3.60,14815.0,NaN,NaN,3.0,3.0,2,...,NaN,NaN,5 to 10 Year Old,NaN,This 3 bhk house for sale in bissar is an idea...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Centrally Air Conditioned', 'Water purifier'...",NaN,2.0,2429.969625

In [8]:
df['floorNum'] = df['floorNum'].fillna(df['noOfFloor'])

In [9]:
pd.set_option('display.max_columns', None)

In [10]:
df.head()

,property_name,property_type,society,price_in_crores,price_per_sqft,area_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,noOfFloor,Plot Area,Built-up Area,Carpet Area,area_in_sqft
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2.0,2.0,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,NaN,NaN,NaN,NaN
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2.0,2.0,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,NaN,NaN,NaN,NaN
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2.0,2.0,3,not available,"Sohna, Gurgaon, Haryana",12.0,not available,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,NaN,NaN,NaN,NaN
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2.0,2.0,2,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2.0,not available,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,NaN,NaN,NaN,NaN,NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2.0,2.0,3,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,not available,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",NaN,NaN,NaN,NaN,NaN

In [12]:
df['floorNum'].isnull().sum()

21

In [14]:
df.drop('noOfFloor',axis=1,inplace=True)

In [15]:
df.drop(columns = {'Plot Area','Built-up Area','Carpet Area'}, inplace=True)

In [17]:
df.head(2)

,property_name,property_type,society,price_in_crores,price_per_sqft,area_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,area_in_sqft
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2.0,2.0,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2.0,2.0,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN

In [18]:
df['area_sqft'] = df['area_sqft'].fillna(df['area_in_sqft'])

In [19]:
df['area_sqft'].isnull().sum()

20

In [20]:
df.drop('area_in_sqft',axis=1, inplace=True)

In [21]:
df.head(2)

,property_name,property_type,society,price_in_crores,price_per_sqft,area_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2.0,2.0,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2.0,2.0,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [23]:
df.duplicated().sum()

0

In [24]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [25]:
df.head(2)

,property_name,property_type,society,sector,price_in_crores,price_per_sqft,area_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,Krishna Colony,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2.0,2.0,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,Ashok Vihar,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2.0,2.0,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [27]:
df['sector'] = df['sector'].str.lower()

In [29]:

pd.set_option('display.max_rows', None)

In [30]:
df['sector'].value_counts()

sector
sohna                                                        163
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 69                                                     94
sector 81                                                     90
sector 90                                                     90
sector 65                                                     90
sector 109                                                    88
sector 79                                                     80
sector 83                                                     69
sector 37d                                                    68
sector 86                                                     67
sector 104                                                    66
sector 107                                                    60
sector 108                                                    59
sector 95                                                     57
sector 56                                                     57
sector 48                                                     56
sector 89                                                     56
sector 70a                                                    54
sector 70                                                     53
nirvana country                                               53
sector 37c                                                    53
sector 84                                                     51
sector-33 sohna                                               51
palam vihar                                                   50
sector 67                                                     48
sector 66                                                     46
sector 103                                                    45
dlf phase 1                                                   43
sector 113                                                    43
dlf phase 2                                                   43
sector 82                                                     42
sector 61                                                     42
sector 106                                                    38
sector 49                                                     36
sector 99a                                                    32
sushant lok phase 1                                           31
sector 68                                                     30
sector 77                                                     29
sector 72                                                     29
sector 71                                                     27
sector 54                                                     27
laxman vihar                                                  27
dlf phase 4                                                   26
sector 112                                                    24
sector 88a                                                    23
sector 33                                                     23
dlf phase 3                                                   22
sector 111                                                    22
sector 67a                                                    22
sector 22                                                     20
sector 82a                                                    20
sector 78                                                     19
sector 74                                                     18
sector 63a                                                    18
sector 91                                                     17
sector 62                                                     17
sushant lok phase 3                                           16
sector 99                                                     16
sector 110                                                    16
sector 14                                                     15
sector 63                                                     15
sector 60                                                     15
sector 52                                                     14
rajendra park                                                 14
dlf phase 5                                                   14
sector 1 imt manesar                                          14
sector 76                                                     14
sector 53                                                     14
gwal pahari                                                   14
sector 3                                                      14
sector 46                                                     13
laxman vihar phase 2                                          13
sector 36a                                                    13
sohna road                                                    12
sector 93                                                     12
sector 38                                                     12
sector 39                                                     12
sector 31                                                     12
sector 50                                                     12
uppals southend                                               12
ashok vihar phase 3 extension                                 11
sector 47                                                     11
sector 9a                                                     11
sector 1a imt manesar                                         10
sector 7                                                      10
ashok vihar phase 2                                            9
sector 55                                                      9
sector 4                                                       9
sector 95a                                                     9
south city 1                                                   9
c block sushant lok phase 1                                    8
sector 59                                                      8
palam vihar extension                                          8
dwarka expressway                                              8
sector 57                                                      8
sector 40                                                      8
sector 43                                                      8
sector 10a                                                     8
sector 89 a                                                    8
mehrauli  road                                                 8
malibu town                                                    8
sector 51                                                      7
new colony                                                     7
surat nagar 1                                                  7
sector 58                                                      7
sector 11                                                      7
mianwali colony                                                7
sector 36 sohna                                                7
sector 26                                                      7
sector 5                                                       6
sector 1                                                       6
jacobpura                                                      6
ashok vihar                                                    6
jyoti park                                                     6
rajiv nagar                                                    6
saraswati vihar                                                5
subhash nagar                                                  5
new palam vihar                                                5
sector 30                                                      5
sector 2                                                       5
ansal plaza                                                    5
sushant lok phase 2                                            5
sector 23a                                                     5
greenwood city                                                 5
sector 80                                                      5
arjun nagar                                                    5
chakkarpur                                                     5
sector 28                                                      5
manesar                                                        5
dayanand colony                                                5
sector 9                                                       5
sector 105                                                     5
adarsh nagar                                                   4
valley view estate                                             4
shivpuri                                                       4
shivaji nagar                                                  4
vishnu garden                                                  4
madanpuri                                                      4
ravi nagar                                                     4
dharam colony                                                  4
bhim nagar                                                     4
devilal colony                                                 4
bhondsi                                                        4
krishna colony                                                 4
sector 45                                                      4
sector 3a                                                      4
baldev nagar                                                   4
surya vihar                                                    4
sector 36                                                      4
sector 12                                                      4
new                                                            4
garhi harsaru                                                  4
suncity                                                        4
sector 6                                                       4
sector 12a                                                     4
imt manesar                                                    4
sector 17                                                      4
maruti kunj                                                    3
b block sushant lok phase 1                                    3
laxmi garden                                                   3
sector 15                                                      3
sector 8                                                       3
sector 73                                                      3
sector 17b                                                     3
sector 23                                                      3
patel nagar                                                    3
sector 110 a                                                   3
sector 27                                                      3
mg road                                                        3
prem nagar                                                     3
sector 17a                                                     3
gandhi nagar                                                   3
sector 88b                                                     3
shakti nagar                                                   3
a block sushant lok phase 1                                    3
mayfield garden                                                2
rosewood                                                       2
mohan nagar                                                    2
hira nagar                                                     2
daulatabad                                                     2
farukhnagar                                                    2
rajiv chowk                                                    2
new basti                                                      2
, delhi ncr                                                    2
sheetla colony                                                 2
surat nagar phase 2                                            2
manohar nagar                                                  2
pratap nagar                                                   2
surat nagar                                                    2
acharya puri                                                   2
west rajiv nagar                                               2
sohna  road                                                    2
bissar                                                         2
golf course ext road                                           2
bhawani enclave                                                2
sector 21                                                      2
faridabad road                                                 2
samaspur                                                       2
lajpat nagar                                                   2
sispal vihar                                                   2
sushant lok                                                    2
shankar vihar                                                  2
golf course road                                               2
nars                                                           2
new palam vihar phase 2                                        2
iffco chowk                                                    2
sector 24                                                      2
sector 32                                                      2
shanti nagar                                                   2
ambience island                                                2
sector 15 part 1                                               2
sector 41                                                      2
new palam vihar phase 1                                        2
sector-2 sohna                                                 2
block a surya vihar                                            2
sector 15 part 2                                               2
sector-11 sohna                                                2
new jyoti park                                                 1
mahavir pura                                                   1
kanahi                                                         1
sector 37b                                                     1
sector 17c                                                     1
damdma                                                         1
sector-5 sheetla colony                                        1
laxman vihar, railway road,                                    1
park view                                                      1
naharpur rupa                                                  1
sadar bazar                                                    1
rattan garden                                                  1
mahalaxmi garden, rajendra place                               1
udyog vihar phase 1                                            1
shivji park colony                                             1
g block dlf city phase 1                                       1
saraswati enclave                                              1
ravi nager basai road                                          1
begampur khatola                                               1
v block dlf phase 3                                            1
south city                                                     1
sector-7 hous                                                  1
sector 42                                                      1
b1 block sector 57                                             1
rajiv colony                                                   1
garauli kalan                                                  1
near sector 1 market                                           1
laxmna vihar, phase 2                                          1
huda saraswati vihar                                           1
bhimgarh kheri phase 3                                         1
near euro                                                      1
sec 3 bhim vihar part 1 bhimgher kheri                         1
ansal's palam vihar                                            1
alipur                                                         1
devi lal colony gali no 12 gurgaon nr omkar public school      1
dhankot                                                        1
jacobpura near sadar bazar                                     1
block g sector-57                                              1
ashok vihar phase 3                                            1
sector-35 sohna                                                1
sector 5 chowk                                                 1
old delhi road, opp sector-14                                  1
block h ashok vihar phase iii extension                        1
ashok vihar phase i                                            1
nirvana country pocket h                                       1
near nand hospital                                             1
bhora kalan                                                    1
sector 9b                                                      1
saroop garden rajendra park                                    1
khandsa                                                        1
sector 4 urban estate                                          1
bptp                                                           1
godrej aria , sector 79 ,                                      1
sector 21a faridabad                                           1
kheri                                                          1
hsiidc plot sector 1 imt manesar                               1
jat colony,fazilpur/taj nagar road                             1
gopal nagar, garhi ghasita, sonipat                            1
sector-5 sohna                                                 1
urban estate, sector 5                                         1
tekchand nagar                                                 1
vir nagar                                                      1
heritage city                                                  1
anand garden, sector-105                                       1
om nagar                                                       1
sai kunj                                                       1
sultanpur                                                      1
ram nagar                                                      1
sector 13                                                      1
hno 13 sagar enclave sura                                      1
civil l                                                        1
near khandsa road                                              1
new colony, sector 7                                           1
near pataudi chowk                                             1
cyber city                                                     1
pataudi road                                                   1
lucknow                                                        1
part 3 sector 5                                                1
ats marigold                                                   1
sector 37a                                                     1
carterpuri village                                             1
Name: count, dtype: int64

In [31]:
df['sector'] = df['sector'].str.replace('dharam colony', 'sector 12')
df['sector'] = df['sector'].str.replace('krishna colony', 'sector 7')
df['sector'] = df['sector'].str.replace('suncity', 'sector 54')
df['sector'] = df['sector'].str.replace('prem nagar', 'sector 13')
df['sector'] = df['sector'].str.replace('mg road', 'sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar', 'sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden', 'sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar', 'sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar', 'sector 7')
df['sector'] = df['sector'].str.replace('shivpuri', 'sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru', 'sector 17')
df['sector'] = df['sector'].str.replace('imt manesar', 'manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar', 'sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar', 'sector 11')
df['sector'] = df['sector'].str.replace('madanpuri', 'sector 7')

In [32]:
df['sector'] = df['sector'].str.replace('saraswati vihar', 'sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar', 'sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar', 'sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden', 'sector 105')
df['sector'] = df['sector'].str.replace('bhondsi', 'sector 11')
df['sector'] = df['sector'].str.replace('surya vihar', 'sector 21')
df['sector'] = df['sector'].str.replace('devilal colony', 'sector 9')
df['sector'] = df['sector'].str.replace('valley view estate', 'gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli road', 'sector 14')
df['sector'] = df['sector'].str.replace('jyoti park', 'sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza', 'sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony', 'sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2', 'sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur', 'sector 28')
df['sector'] = df['sector'].str.replace('greenwood city', 'sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar', 'sector 12')

In [33]:
df['sector'] = df['sector'].str.replace('dlf phase 1', 'sector 26')
df['sector'] = df['sector'].str.replace('nirvana country', 'sector 50')
df['sector'] = df['sector'].str.replace('palam vihar', 'sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2', 'sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1', 'sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar', 'sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4', 'sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3', 'sector 24')
df['sector'] = df['sector'].str.replace('sohna road road', 'sohna road')
df['sector'] = df['sector'].str.replace('malibu town', 'sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1', 'sector 104')
df['sector'] = df['sector'].str.replace('new colony', 'sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony', 'sector 12')
df['sector'] = df['sector'].str.replace('jacobpura', 'sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar', 'sector 43')
df['sector'] = df['sector'].str.replace('ashok vihar', 'sector 3')

In [34]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3', 'sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5', 'sector 43')
df['sector'] = df['sector'].str.replace('rajendra park', 'sector 105')
df['sector'] = df['sector'].str.replace('uppals southend', 'sector 49')
df['sector'] = df['sector'].str.replace('sohna', 'sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension', 'sector 5')
df['sector'] = df['sector'].str.replace('south city 1', 'sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2', 'sector 5')

In [37]:
D = df['sector'].value_counts()[df['sector'].value_counts() >= 3]

In [38]:
D

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 81                      90
sector 90                      90
sector 65                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 43                      59
sector 95                      57
sector 56                      57
sector 48                      56
sector 89                      56
sector 2                       55
sector 70a                     54
sector 37c                     53
sector 70                      53
sector-33 sohna road           51
sector 84                      51
sector 26                      50
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 25                      43
sector 113                     43
sector 82                      42
sector 61                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 68                      30
sector 12                      30
sector 77                      29
sector 72                      29
sector 71                      27
sector 112                     24
sector 57                      24
sector 24                      24
sector 33                      23
sector 105                     23
sector 88a                     23
sector 111                     22
sector 67a                     22
sector 11                      21
sector 82a                     20
sector 22                      20
sector 3                       20
sector 47                      19
sector 78                      19
gwal pahari                    18
sector 63a                     18
sector 74                      18
sector 91                      17
sector 62                      17
sector 99                      16
sector 110                     16
sector 14                      15
sector 63                      15
sector 60                      15
sector 53                      14
sector 1 manesar               14
sector 76                      14
sector 52                      14
sector 55                      14
sector 36a                     13
sector 9                       13
sector 46                      13
sector 4 phase 2               13
sector 39                      12
sector 31                      12
sector 38                      12
sohna road road                12
sector 93                      12
sector 41                      11
sector 9a                      11
sector 3 phase 3 extension     11
sector 1a manesar              10
sector 45                       9
sector 95a                      9
manesar                         9
sector 6                        9
sector 3 phase 2                9
sector 23                       8
sector 17                       8
sector 89 a                     8
sector 40                       8
sector 8                        8
mehrauli  road                  8
c block sector 43               8
sector 2 extension              8
sector 59                       8
dwarka expressway               8
sector 10a                      8
sector 51                       7
sector 36 sohna road            7
sector 58                       7
sector 1                        6
sector 5                        6
sector 21                       6
new sector 2                    5
sector 23a                      5
sector 80                       5
sector 30                       5
sector 3a                       4
sector 13                       4
sector 12a                      4
new                             4
sector 36                       4
bhim nagar                      4
patel nagar                     3
sector 27                       3
sector 17a                      3
a block sector 43               3
b block sector 43               3
sector 17b                      3
maruti kunj                     3
sector 15                       3
sector 110 a                    3
sector 88b                      3
sector 73                       3
Name: count, dtype: int64

In [40]:
df = df[df['sector'].isin(D.index)]

In [41]:
df['sector'].value_counts()

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 90                      90
sector 81                      90
sector 65                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 43                      59
sector 108                     59
sector 56                      57
sector 95                      57
sector 89                      56
sector 48                      56
sector 2                       55
sector 70a                     54
sector 37c                     53
sector 70                      53
sector-33 sohna road           51
sector 84                      51
sector 26                      50
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 113                     43
sector 25                      43
sector 82                      42
sector 61                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 68                      30
sector 12                      30
sector 72                      29
sector 77                      29
sector 71                      27
sector 24                      24
sector 112                     24
sector 57                      24
sector 88a                     23
sector 105                     23
sector 33                      23
sector 67a                     22
sector 111                     22
sector 11                      21
sector 22                      20
sector 82a                     20
sector 3                       20
sector 47                      19
sector 78                      19
sector 63a                     18
gwal pahari                    18
sector 74                      18
sector 62                      17
sector 91                      17
sector 110                     16
sector 99                      16
sector 63                      15
sector 60                      15
sector 14                      15
sector 76                      14
sector 55                      14
sector 53                      14
sector 52                      14
sector 1 manesar               14
sector 9                       13
sector 46                      13
sector 36a                     13
sector 4 phase 2               13
sector 93                      12
sohna road road                12
sector 31                      12
sector 39                      12
sector 38                      12
sector 9a                      11
sector 3 phase 3 extension     11
sector 41                      11
sector 1a manesar              10
sector 6                        9
manesar                         9
sector 45                       9
sector 3 phase 2                9
sector 95a                      9
sector 2 extension              8
sector 89 a                     8
sector 23                       8
c block sector 43               8
sector 17                       8
sector 40                       8
dwarka expressway               8
mehrauli  road                  8
sector 8                        8
sector 10a                      8
sector 59                       8
sector 58                       7
sector 51                       7
sector 36 sohna road            7
sector 21                       6
sector 5                        6
sector 1                        6
sector 23a                      5
sector 80                       5
new sector 2                    5
sector 30                       5
sector 12a                      4
sector 36                       4
sector 13                       4
new                             4
bhim nagar                      4
sector 3a                       4
sector 17b                      3
a block sector 43               3
sector 110 a                    3
maruti kunj                     3
sector 17a                      3
b block sector 43               3
patel nagar                     3
sector 15                       3
sector 73                       3
sector 88b                      3
sector 27                       3
Name: count, dtype: int64

In [42]:
df['sector'] = df['sector'].str.replace('sector 95a', 'sector 95')
df['sector'] = df['sector'].str.replace('sector 23a', 'sector 23')
df['sector'] = df['sector'].str.replace('sector 12a', 'sector 12')
df['sector'] = df['sector'].str.replace('sector 3a', 'sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a', 'sector 110')
df['sector'] = df['sector'].str.replace('patel nagar', 'sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43', 'sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj', 'sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43', 'sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road', 'sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar', 'manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2', 'sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar', 'manesar')
df['sector'] = df['sector'].str.replace('c block sector 43', 'sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a', 'sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension', 'sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road', 'sector 36')

C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 95a', 'sector 95')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 23a', 'sector 23')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 12a', 'sector 12')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 3a', 'sector 3')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 110 a', 'sector 110')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('patel nagar', 'sector 15')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('a block sector 43', 'sector 43')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('maruti kunj', 'sector 12')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('b block sector 43', 'sector 43')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector-33 sohna road', 'sector 33')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 1 manesar', 'manesar')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 4 phase 2', 'sector 4')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 1a manesar', 'manesar')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('c block sector 43', 'sector 43')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 89 a', 'sector 89')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 2 extension', 'sector 2')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3464365942.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 36 sohna road', 'sector 36')

In [43]:
df['sector'].value_counts()

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 65                      90
sector 81                      90
sector 90                      90
sector 109                     88
sector 79                      80
sector 33                      74
sector 104                     73
sector 43                      73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 95                      66
sector 50                      65
sector 89                      64
sector 2                       63
sector 107                     60
sector 108                     59
sector 56                      57
sector 48                      56
sector 70a                     54
sector 37c                     53
sector 70                      53
sector 84                      51
sector 26                      50
sector 4                       49
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 113                     43
sector 25                      43
sector 61                      42
sector 82                      42
sector 7                       39
sector 106                     38
sector 12                      37
manesar                        33
sector 99a                     32
sector 54                      31
sector 68                      30
sector 77                      29
sector 72                      29
sector 71                      27
sector 112                     24
sector 3                       24
sector 24                      24
sector 57                      24
sector 105                     23
sector 88a                     23
sector 111                     22
sector 67a                     22
sector 11                      21
sector 82a                     20
sector 22                      20
sector 47                      19
sector 110                     19
sector 78                      19
sector 63a                     18
gwal pahari                    18
sector 74                      18
sector 62                      17
sector 91                      17
sector 99                      16
sector 14                      15
sector 63                      15
sector 60                      15
sector 55                      14
sector 53                      14
sector 76                      14
sector 52                      14
sector 36a                     13
sector 46                      13
sector 9                       13
sector 23                      13
sector 31                      12
sector 39                      12
sector 38                      12
sohna road road                12
sector 93                      12
sector 36                      11
sector 9a                      11
sector 41                      11
sector 3 phase 3 extension     11
sector 45                       9
sector 6                        9
sector 3 phase 2                9
sector 40                       8
dwarka expressway               8
sector 17                       8
sector 8                        8
mehrauli  road                  8
sector 59                       8
sector 10a                      8
sector 58                       7
sector 51                       7
sector 5                        6
sector 15                       6
sector 21                       6
sector 1                        6
sector 30                       5
sector 80                       5
new sector 2                    5
new                             4
sector 13                       4
bhim nagar                      4
sector 17b                      3
sector 88b                      3
sector 17a                      3
sector 73                       3
sector 27                       3
Name: count, dtype: int64

In [46]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price_in_crores,price_per_sqft,area_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2045,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4.0,4.0,2,"Study Room,Servant Room","New Gurgaon, Gurgaon, Haryana",4.0,not available,2027-06-01 00:00:00,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
2803,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2.0,2.0,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,not available,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
2895,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2.0,2.0,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,not available,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
2960,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4.0,4.0,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,not available,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [47]:
df['sector'] = df['sector'].str.replace('sector 37d', 'sector 37')
df['sector'] = df['sector'].str.replace('sector 70a', 'sector 70')
df['sector'] = df['sector'].str.replace('sector 37c', 'sector 37')
df['sector'] = df['sector'].str.replace('sector 99a', 'sector 99')
df['sector'] = df['sector'].str.replace('sector 88a', 'sector 88')
df['sector'] = df['sector'].str.replace('sector 67a', 'sector 67')
df['sector'] = df['sector'].str.replace('sector 82a', 'sector 82')
df['sector'] = df['sector'].str.replace('sector 63a', 'sector 63')
df['sector'] = df['sector'].str.replace('sector 36a', 'sector 36')
df['sector'] = df['sector'].str.replace('sector 3 phase 3 extension', 'sector 3')
df['sector'] = df['sector'].str.replace('sector 3 phase 2', 'sector 3')
df['sector'] = df['sector'].str.replace('sector 10a', 'sector 10')
df['sector'] = df['sector'].str.replace('sector 89 a', 'sector 89')
df['sector'] = df['sector'].str.replace('sector 17b', 'sector 17')
df['sector'] = df['sector'].str.replace('sector 88b', 'sector 88')
df['sector'] = df['sector'].str.replace('sector 17a', 'sector 17')

C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 37d', 'sector 37')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 70a', 'sector 70')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 37c', 'sector 37')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 99a', 'sector 99')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 88a', 'sector 88')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 67a', 'sector 67')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 82a', 'sector 82')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 63a', 'sector 63')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 36a', 'sector 36')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 3 phase 3 extension', 'sector 3')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 3 phase 2', 'sector 3')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 10a', 'sector 10')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 89 a', 'sector 89')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 17b', 'sector 17')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 88b', 'sector 88')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\34512518.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 17a', 'sector 17')

In [51]:
df['sector'].value_counts()

sector
sohna road           175
sector 37            121
sector 102           113
sector 85            110
sector 70            107
sector 92            104
sector 69             94
sector 65             90
sector 90             90
sector 81             90
sector 109            88
sector 79             80
sector 33             74
sector 104            73
sector 43             73
sector 67             70
sector 83             69
sector 2              68
sector 86             67
sector 95             66
sector 50             65
sector 89             64
sector 82             62
sector 107            60
sector 108            59
sector 56             57
sector 48             56
sector 84             51
sector 26             50
sector 4              49
sector 49             48
sector 99             48
sector 28             47
sector 66             46
sector 103            45
sector 3              44
sector 113            43
sector 25             43
sector 61             42
sector 7              39
sector 106            38
sector 12             37
sector 63             33
manesar               33
sector 54             31
sector 68             30
sector 77             29
sector 72             29
sector 71             27
sector 88             26
sector 36             24
sector 57             24
sector 24             24
sector 112            24
sector 105            23
sector 111            22
sector 11             21
sector 22             20
sector 110            19
sector 78             19
sector 47             19
gwal pahari           18
sector 74             18
sector 62             17
sector 23             17
sector 91             17
sector 60             15
sector 14             15
sector 55             14
sector 52             14
sector 53             14
sector 76             14
sector 17             14
sector 9              13
sector 46             13
sector 39             12
sector 31             12
sector 93             12
sector 38             12
sector 41             11
sector 9a             11
sector 45              9
sector 6               9
sector 40              8
mehrauli  road         8
dwarka expressway      8
sector 8               8
sector 59              8
sector 10              8
sector 58              7
sector 51              7
sector 21              6
sector 5               6
sector 15              6
sector 1               6
sector 30              5
sector 80              5
sector 13              4
bhim nagar             4
sector 73              3
sector 27              3
Name: count, dtype: int64

In [49]:
df['sector'] = df['sector'].str.replace('sohna road road', 'sohna road')

C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\1392960065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sohna road road', 'sohna road')

In [50]:
df['sector'] = df['sector'].str.replace('new sector 2', 'sector 2')
df['sector'] = df['sector'].str.replace('new', 'sector 23')

C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\2783059994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('new sector 2', 'sector 2')
C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\2783059994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('new', 'sector 23')

In [52]:
df.drop(columns={'property_name','address','description','rating'}, inplace=True)

C:\Users\deepu\AppData\Local\Temp\ipykernel_16896\3227613249.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns={'property_name','address','description','rating'}, inplace=True)

In [53]:
df.head(2)

,property_type,society,sector,price_in_crores,price_per_sqft,area_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,maa bhagwati residency,sector 7,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2.0,2.0,1,not available,4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...","['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F..."
1,flat,apna enclave,sector 3,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2.0,2.0,1,not available,1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',..."

In [55]:
df.to_csv('gurgaon_propety_cleaned.csv',index=False)