In [85]:
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [86]:
df = pd.read_csv("../Datasets/appartments.csv")

In [87]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [88]:
df.iloc[22]

PropertyName                PropertyName
PropertySubName          PropertySubName
NearbyLocations          NearbyLocations
LocationAdvantages    LocationAdvantages
Link                                Link
PriceDetails                PriceDetails
TopFacilities              TopFacilities
Name: 22, dtype: object

In [89]:
df.drop(df.index[22], inplace=True)

In [90]:
df.shape

(246, 7)

In [91]:
df.iloc[145].LocationAdvantages

"{'Sohna Road': '2.1Km', 'Vega School': '2.5Km', 'Omex City Centre Mall': '3.6Km', 'Polaris Hospital': '4.6Km', 'NH 48': '5Km', 'SkyJumper Trampoline Park': '5.6Km', 'Sector 55-56 Rapid Metro': '8.8Km', 'Indira Gandhi Intl Airport': '23 KM'}"

In [92]:
df.iloc[90].PriceDetails

"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,124.8 - 1,345.6 sq.ft.', 'price-range': '₹ 2.45 - 2.95 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,614.4 - 1,625.6 sq.ft.', 'price-range': '₹ 3.53 - 3.57 Cr'}}"

In [93]:
df.iloc[200].TopFacilities

"['Swimming Pool', 'ATM', 'Water Softener Plant', 'Grocery Shop', 'Wi-Fi Connectivity', 'Pool Table', 'Property Staff', 'Cafeteria', 'Billiards']"

In [94]:
def extract_list(s):
    return re.findall(r"'(.*?)'", s)

df["TopFacilities"] = df["TopFacilities"].apply(extract_list)

In [95]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Salon, Restaurant, Spa, Cafete..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","[Bowling Alley, Mini Theatre, Manicured Garden..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"[Terrace Garden, Gazebo, Fountain, Amphitheatr..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Volley Ball Court, Aerobics Ce..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"[Mini Theatre, Doctor on Call, Concierge Servi..."

In [96]:
df.iloc[200].TopFacilities

['Swimming Pool',
 'ATM',
 'Water Softener Plant',
 'Grocery Shop',
 'Wi-Fi Connectivity',
 'Pool Table',
 'Property Staff',
 'Cafeteria',
 'Billiards']

In [97]:
df["TopFacilities"] = df["TopFacilities"].apply(" ".join)

In [98]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...",Swimming Pool Salon Restaurant Spa Cafeteria S...
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...",Bowling Alley Mini Theatre Manicured Garden Sw...
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,Terrace Garden Gazebo Fountain Amphitheatre Pa...
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...",Swimming Pool Volley Ball Court Aerobics Centr...
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,Mini Theatre Doctor on Call Concierge Service ...

In [99]:
df.iloc[200].TopFacilities

'Swimming Pool ATM Water Softener Plant Grocery Shop Wi-Fi Connectivity Pool Table Property Staff Cafeteria Billiards'

In [100]:
tfidf_vectorizer = TfidfVectorizer(stop_words="english", ngram_range=(1,2))

In [101]:
tfidf_matrix = tfidf_vectorizer.fit_transform(df["TopFacilities"])

In [102]:
tfidf_matrix.toarray().shape

(246, 953)

In [103]:
cosine_sim1 = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [104]:
cosine_sim1.shape

(246, 246)

In [105]:
def recommend_properties(property_name, cosine_sim):
    # Get the index of the property that matches the name
    idx = df.index[df['PropertyName'] == property_name].tolist()[0]

    # Get the pairwise similarity scores with that property
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the properties based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x : x[1], reverse=True)

    # Get the scores of the 10 most similar properties
    sim_scores = sim_scores[1:6]

    # Get the property indices
    property_indices = [i[0] for i in sim_scores]

    recommendations_df = pd.DataFrame({
        'PropertyName' : df['PropertyName'].iloc[property_indices],
        'SimilarityScore' : sim_scores
    })
    return recommendations_df

In [106]:
recommend_properties("DLF The Arbour", cosine_sim1)

           PropertyName            SimilarityScore
64      Ace Palm Floors   (63, 0.4529382062441955)
217         Yashika 104  (216, 0.4199606322926784)
93       JMS The Nation   (92, 0.4166584649363288)
154       India Rashtra   (153, 0.398954234680194)
0    Smartworld One DXP   (0, 0.38885046199432893)

In [107]:
df = pd.read_csv("../Datasets/appartments.csv")

In [108]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [109]:
df.drop(df.index[22], inplace=True)

In [110]:
import re
def extract_list(s):
    return re.findall(r"'(.*?)'",s)

df['TopFacilities'] = df['TopFacilities'].apply(extract_list)

In [111]:
import pandas as pd
import ast
import re


def convert_price_details_lakhs_to_crores(price_details_str):
    """
    Convert all Lakhs values to Crores in a PriceDetails dictionary string
    
    Args:
        price_details_str: String representation of dictionary with price details
    
    Returns:
        Modified string with all Lakhs converted to Crores
    """
    if not price_details_str or pd.isna(price_details_str):
        return price_details_str
    
    try:
        # Handle different input types
        if isinstance(price_details_str, dict):
            # Already a dictionary
            price_dict = price_details_str.copy()
        elif isinstance(price_details_str, str):
            # Try to parse as dictionary
            # First, try ast.literal_eval
            try:
                price_dict = ast.literal_eval(price_details_str)
            except (ValueError, SyntaxError):
                # If ast.literal_eval fails, try eval with restricted namespace
                # This handles cases where the string has variable names
                try:
                    import json
                    # Try to convert to valid JSON first
                    json_str = price_details_str.replace("'", '"')
                    price_dict = json.loads(json_str)
                except:
                    # If still fails, use eval with empty namespace for safety
                    price_dict = eval(price_details_str, {"__builtins__": {}}, {})
        else:
            # Unknown type, return as is
            return price_details_str
        
        # Iterate through each property type (BHK, Land, etc.)
        for property_type, details in price_dict.items():
            if isinstance(details, dict) and 'price-range' in details:
                original_price = details['price-range']
                converted_price = convert_lakhs_to_crores_in_string(original_price)
                details['price-range'] = converted_price
        
        # Convert back to string representation
        return str(price_dict)
    
    except Exception as e:
        print(f"Error converting price details: {str(e)}")
        print(f"Problematic value type: {type(price_details_str)}")
        print(f"First 200 chars: {str(price_details_str)[:200]}")
        return price_details_str

In [112]:
df['PriceDetails'] = df['PriceDetails'].apply(convert_price_details_lakhs_to_crores)

Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,370 sq.ft.', 'price-range': '₹ 2 - 2.4 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area':
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,605 - 2,170 sq.ft.', 'price-range': '₹ 2.2 - 3.03 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Su
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built-up Area', 'area': '1,800 - 3,150 sq.ft.', 'price-range': '₹ 2.43 - 15.75 Cr'}, '4 BHK': {'building_type': 'Independent Floor'
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,381 - 1,692 sq.ft.', 'price-range': '₹ 1.55 - 3.21 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '981 - 1,118 sq.ft.', 'price-range': '₹ 93.01 L - 1.06 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,290 - 2,937 sq.ft.', 'price-range': '₹ 3.07 - 3.96 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,015 - 2,150 sq.ft.', 'price-range': '₹ 1.53 - 1.85 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,347 - 2,600 sq.ft.', 'price-range': '₹ 4.05 - 8.88 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '959 - 1,145 sq.ft.', 'price-range': '₹ 1.26 - 1.51 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_typ
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,508.26 sq.ft.', 'price-range': '₹ 1.82 - 3.5 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super B
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,055 sq.ft.', 'price-range': '₹ 1.05 - 1.5 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Ca
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '3,950 sq.ft.', 'price-range': '₹ 7 - 7.31 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,193 - 1,200 sq.ft.', 'price-range': '₹ 1.3 - 1.31 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Are
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '546.12 sq.ft.', 'price-range': '₹ 80.01 - 83 L'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Ca
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,487.57 - 1,558 sq.ft.', 'price-range': '₹ 2 - 2.41 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,534.61 - 3,030 sq.ft.', 'price-range': '₹ 4.5 - 10.87 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,420 sq.ft.', 'price-range': '₹ 1.49 - 1.5 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Buil
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '500 - 560 sq.ft.', 'price-range': '₹ 96 L - 1.1 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type':
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,300 - 1,690 sq.ft.', 'price-range': '₹ 1.4 - 2.47 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '3,525 sq.ft.', 'price-range': '₹ 8.2 - 8.64 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Buil
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,638 - 1,646 sq.ft.', 'price-range': '₹ 6 - 7.22 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area'
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'1 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '464.14 - 6,367.71 sq.ft.', 'price-range': 'Price on Request'}, '2 BHK': {'building_type': 'Apartment', 'area_type': 'Super
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,300 - 1,330 sq.ft.', 'price-range': '₹ 1.3 - 1.56 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Are
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'1 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,510 sq.ft.', 'price-range': '₹ 1.98 - 2.38 Cr'}, '2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,276 - 1,573 sq.ft.', 'price-range': '₹ 1.88 - 3.43 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '763.81 - 893.94 sq.ft.', 'price-range': '₹ 1.7 - 4.48 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '990 sq.ft.', 'price-range': '₹ 82 L - 1.77 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Car
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,383 - 1,572 sq.ft.', 'price-range': '₹ 1.25 - 1.43 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,105 sq.ft.', 'price-range': '₹ 88 - 93.93 L'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Car
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,410 sq.ft.', 'price-range': '₹ 1.19 - 2.1 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Buil
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,280 sq.ft.', 'price-range': '₹ 1.6 - 2.05 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'are
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,359 - 1,593 sq.ft.', 'price-range': '₹ 1.63 - 2.12 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '929.89 - 986.84 sq.ft.', 'price-range': '₹ 1.1 - 1.17 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet A
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,640 - 1,772 sq.ft.', 'price-range': '₹ 1.22 - 1.33 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '730 - 849 sq.ft.', 'price-range': '₹ 91 L - 1.06 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area',
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,650 sq.ft.', 'price-range': '₹ 1.29 - 1.35 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Bui
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,012 - 1,593 sq.ft.', 'price-range': '₹ 1.39 - 3.15 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built-up Area', 'area': '1,782 sq.ft.', 'price-range': '₹ 1.22 - 13.03 Cr'}, '4 BHK': {'building_type': 'Independent Floor', 'area_
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Villa', 'area_type': 'Built-up Area', 'area': '2,268 sq.ft.', 'price-range': 'Price on Request'}, '4 BHK': {'building_type': 'Villa', 'area_type': 'Built-up Area', 'area':
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,704 sq.ft.', 'price-range': '₹ 1.32 - 1.38 Cr'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'Super Bui
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Built-up Area', 'area': '1,770 - 2,229 sq.ft.', 'price-range': '₹ 1.59 - 4.95 Cr'}, '4 BHK': {'building_type': 'Independent Floor', 'area
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Villa', 'area_type': 'Built-up Area', 'area': '1,975 sq.ft.', 'price-range': 'Price on Request'}, '2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,230 - 2,240 sq.ft.', 'price-range': '₹ 2.75 - 6.03 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,290 sq.ft.', 'price-range': '₹ 1.6 - 2 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-u
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,750 - 2,650 sq.ft.', 'price-range': '₹ 1.45 - 2.35 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,050 sq.ft.', 'price-range': '₹ 90 L'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Villa', 'area_type': 'Built-up Area', 'area': '5,843.51 sq.ft.', 'price-range': '₹ 7.79 Cr'}, '4 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built-up
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,441 sq.ft.', 'price-range': '₹ 2.7 - 2.8 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,965 - 2,990 sq.ft.', 'price-range': '₹ 1.97 - 2.99 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '2,100 - 2,200 sq.ft.', 'price-range': '₹ 2.39 - 2.57 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'Land': {'building_type': '', 'area_type': 'Plot Area', 'area': '827.96 - 1,307.6 sq.ft.', 'price-range': '₹ 34.96 - 55.22 L'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,100 - 1,250 sq.ft.', 'price-range': '₹ 1.65 - 1.88 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '7,196 - 7,685 sq.ft.', 'price-range': '₹ 40 - 46.88 Cr'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'Su
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,225 - 1,372 sq.ft.', 'price-range': '₹ 3.15 - 3.53 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,627.7 - 1,675.87 sq.ft.', 'price-range': '₹ 4.2 - 4.32 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpe
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,246 - 2,370 sq.ft.', 'price-range': '₹ 7.8 - 8.42 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Su
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '6,350 - 6,400 sq.ft.', 'price-range': '₹ 19.84 - 30 Cr'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'Su
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '5,575 - 5,600 sq.ft.', 'price-range': '₹ 22.2 - 22.4 Cr'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built-up Area', 'area': '1,300 - 1,953 sq.ft.', 'price-range': '₹ 2 Cr'}, '4 BHK': {'building_type': 'Independent Floor', 'area_typ
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined

In [113]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Salon, Restaurant, Spa, Cafete..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","[Bowling Alley, Mini Theatre, Manicured Garden..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"[Terrace Garden, Gazebo, Fountain, Amphitheatr..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Volley Ball Court, Aerobics Ce..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"[Mini Theatre, Doctor on Call, Concierge Servi..."

In [114]:
df[['PriceDetails']].iloc[0].PriceDetails

"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,370 sq.ft.', 'price-range': '₹ 2 - 2.4 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,850 - 2,050 sq.ft.', 'price-range': '₹ 2.25 - 3.59 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '2,600 sq.ft.', 'price-range': '₹ 3.24 - 4.56 Cr'}}"

In [115]:
df[['PriceDetails']].iloc[45].PriceDetails

"{'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,050 sq.ft.', 'price-range': '₹ 90 L'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,305 - 1,470 sq.ft.', 'price-range': '₹ 1 - 1.15 Cr'}}"

In [116]:
df[['PriceDetails']].iloc[91].PriceDetails

"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,375 sq.ft.', 'price-range': '₹ 2.3 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,156 sq.ft.', 'price-range': '₹ 3.61 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,857 sq.ft.', 'price-range': '₹ 4.78 Cr'}}"

In [117]:
df[['PriceDetails']].iloc[139].PriceDetails

"{'4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '3,500 sq.ft.', 'price-range': '₹ 2.99 Cr'}}"

In [118]:
df[['PriceDetails']].iloc[207].PriceDetails

"{'Land': {'building_type': '', 'area_type': 'Plot Area', 'area': '1,800 - 3,060 sq.ft.', 'price-range': '₹ 1.06 - 1.81 Cr'}}"

In [119]:
df.shape

(246, 7)

In [120]:
import pandas as pd
import ast
import re

class PropertyDataProcessor:
    """
    A class to process and flatten property data from PriceDetails column
    """
    
    def __init__(self, dataframe):
        """
        Initialize the processor with a dataframe
        
        Parameters:
        dataframe (pd.DataFrame): DataFrame containing PropertyName and PriceDetails columns
        """
        if dataframe is None:
            raise ValueError("Dataframe cannot be None. Please provide a valid pandas DataFrame.")
        
        if not isinstance(dataframe, pd.DataFrame):
            raise TypeError(f"Expected pandas DataFrame, got {type(dataframe)} instead.")
        
        if 'PropertyName' not in dataframe.columns or 'PriceDetails' not in dataframe.columns:
            raise ValueError("Dataframe must contain 'PropertyName' and 'PriceDetails' columns.")
        
        self.df = dataframe.copy()  # Create a copy to avoid modifying the original
        self.flattened_df = None
        
        print(f"✓ Initialized with dataframe containing {len(self.df)} rows")
        
    def extract_price_range(self, price_range_str):
        """
        Extract min and max prices from price range string as float values
        
        Parameters:
        price_range_str (str): Price range string like "₹ 2 - 2.4 Cr"
        
        Returns:
        tuple: (min_price, max_price) as floats without units
        """
        if not price_range_str or pd.isna(price_range_str):
            return None, None
        
        # Remove currency symbol and unit, extract all numbers
        cleaned = price_range_str.replace('₹', '').replace('Cr', '').replace('Lac', '').replace('L', '')
        
        # Extract all decimal numbers
        prices = re.findall(r'(\d+(?:\.\d+)?)', cleaned)
        
        if len(prices) >= 2:
            return float(prices[0]), float(prices[1])
        elif len(prices) == 1:
            return float(prices[0]), float(prices[0])
        else:
            return None, None
    
    def extract_area_value(self, area_str):
        """
        Extract a clean numeric area value (average if range, single if not)
        
        Parameters:
        area_str (str): Area string like "1,850 - 2,050 sq.ft." or "1,370 sq.ft."
        
        Returns:
        float: Single numeric area value without units
        """
        if not area_str or pd.isna(area_str):
            return None
        
        # Remove commas and extract all numbers
        area_clean = area_str.replace(',', '')
        numbers = re.findall(r'(\d+(?:\.\d+)?)', area_clean)
        
        if len(numbers) >= 2:
            # If range, return average
            return (float(numbers[0]) + float(numbers[1])) / 2
        elif len(numbers) == 1:
            return float(numbers[0])
        else:
            return None
    
    def extract_area_range(self, area_str):
        """
        Extract min and max area from area string as float values
        
        Parameters:
        area_str (str): Area string like "1,850 - 2,050 sq.ft." or "1,370 sq.ft."
        
        Returns:
        tuple: (min_area, max_area) as floats without units
        """
        if not area_str or pd.isna(area_str):
            return None, None
        
        # Remove commas and extract all numbers
        area_clean = area_str.replace(',', '')
        numbers = re.findall(r'(\d+(?:\.\d+)?)', area_clean)
        
        if len(numbers) >= 2:
            return float(numbers[0]), float(numbers[1])
        elif len(numbers) == 1:
            return float(numbers[0]), float(numbers[0])
        else:
            return None, None
    
    def flatten_price_details(self):
        """
        Flatten the PriceDetails column into separate columns for each property type
        
        Returns:
        pd.DataFrame: Flattened dataframe
        """
        if self.df is None:
            raise ValueError("Dataframe is None. Cannot process.")
        
        # Create a list to store all flattened rows
        flattened_data = []
        
        for idx, row in self.df.iterrows():
            flat_row = {'PropertyName': row['PropertyName']}
            
            # Parse the PriceDetails string to dictionary
            try:
                if pd.isna(row['PriceDetails']) or row['PriceDetails'] == '':
                    flattened_data.append(flat_row)
                    continue
                    
                # Convert string representation to actual dictionary
                price_dict = ast.literal_eval(row['PriceDetails'])
                
                # Iterate through each property type (BHK, Land, etc.)
                for property_type, details in price_dict.items():
                    # Normalize property type to lowercase and remove spaces for column naming
                    # For "2 BHK" -> "2_bhk", for "Land" -> "land"
                    prop_suffix = property_type.lower().replace(' ', '_')
                    
                    # Extract building_type
                    if 'building_type' in details:
                        building_val = details['building_type']
                        # If empty string, use None
                        flat_row[f'{prop_suffix}_building_type'] = building_val if building_val else None
                    
                    # Extract area_type
                    if 'area_type' in details:
                        flat_row[f'{prop_suffix}_area_type'] = details['area_type']
                    
                    # Extract area as clean numeric value (without units)
                    if 'area' in details:
                        area_numeric = self.extract_area_value(details['area'])
                        flat_row[f'{prop_suffix}_area'] = area_numeric
                        
                        # Extract and split area into min and max (numeric values)
                        min_area, max_area = self.extract_area_range(details['area'])
                        flat_row[f'{prop_suffix}_area_min'] = min_area
                        flat_row[f'{prop_suffix}_area_max'] = max_area
                    
                    # Extract and split price range (numeric values)
                    if 'price-range' in details:
                        min_price, max_price = self.extract_price_range(details['price-range'])
                        flat_row[f'{prop_suffix}_price_range_min'] = min_price
                        flat_row[f'{prop_suffix}_price_range_max'] = max_price
                
                flattened_data.append(flat_row)
                
            except Exception as e:
                print(f"Error processing row {idx}: {e}")
                print(f"PriceDetails content: {row['PriceDetails']}")
                flattened_data.append(flat_row)
        
        # Create new dataframe
        self.flattened_df = pd.DataFrame(flattened_data)
        
        # IMPORTANT: Return the dataframe
        return self.flattened_df


# NOW USE IT PROPERLY:
processor = PropertyDataProcessor(df)
flattened_df = processor.flatten_price_details()

# Check the result
print(flattened_df.head())

✓ Initialized with dataframe containing 246 rows
                  PropertyName 2_bhk_building_type      2_bhk_area_type  \
0           Smartworld One DXP           Apartment          Carpet Area
1                    M3M Crown                 NaN                  NaN
2  Adani Brahma Samsara Vilasa                 NaN                  NaN
3                   Sobha City           Apartment  Super Built-up Area
4     Signature Global City 93   Independent Floor          Carpet Area

   2_bhk_area  2_bhk_area_min  2_bhk_area_max  2_bhk_price_range_min  \
0      1370.0          1370.0          1370.0                   2.00
1         NaN             NaN             NaN                    NaN
2         NaN             NaN             NaN                    NaN
3      1536.5          1381.0          1692.0                   1.55
4      1049.5           981.0          1118.0                  93.01

   2_bhk_price_range_max 3_bhk_building_type      3_bhk_area_type  ...  \
0                   2.40           Apartment          Carpet Area  ...
1                    NaN           Apartment  Super Built-up Area  ...
2                    NaN   Independent Floor  Super Built-up Area  ...
3                   3.21           Apartment  Super Built-up Area  ...
4                   1.06   Independent Floor          Carpet Area  ...

   1_rk_area_max  1_rk_price_range_min  1_rk_price_range_max  \
0            NaN                   NaN                   NaN
1            NaN                   NaN                   NaN
2            NaN                   NaN                   NaN
3            NaN                   NaN                   NaN
4            NaN                   NaN                   NaN

   6_bhk_building_type  6_bhk_area_type 6_bhk_area 6_bhk_area_min  \
0                  NaN              NaN        NaN            NaN
1                  NaN              NaN        NaN            NaN
2                  NaN              NaN        NaN            NaN
3                  NaN              NaN        NaN            NaN
4                  NaN              NaN        NaN            NaN

   6_bhk_area_max  6_bhk_price_range_min  6_bhk_price_range_max
0             NaN                    NaN                    NaN
1             NaN                    NaN                    NaN
2             NaN                    NaN                    NaN
3             NaN                    NaN                    NaN
4             NaN                    NaN                    NaN

[5 rows x 57 columns]

In [121]:
flattened_df.head()

,PropertyName,2_bhk_building_type,2_bhk_area_type,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_building_type,3_bhk_area_type,...,1_rk_area_max,1_rk_price_range_min,1_rk_price_range_max,6_bhk_building_type,6_bhk_area_type,6_bhk_area,6_bhk_area_min,6_bhk_area_max,6_bhk_price_range_min,6_bhk_price_range_max
0,Smartworld One DXP,Apartment,Carpet Area,1370.0,1370.0,1370.0,2.00,2.40,Apartment,Carpet Area,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3M Crown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apartment,Super Built-up Area,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Independent Floor,Super Built-up Area,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sobha City,Apartment,Super Built-up Area,1536.5,1381.0,1692.0,1.55,3.21,Apartment,Super Built-up Area,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Signature Global City 93,Independent Floor,Carpet Area,1049.5,981.0,1118.0,93.01,1.06,Independent Floor,Carpet Area,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
flattened_df.shape

(246, 57)

In [123]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Salon, Restaurant, Spa, Cafete..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","[Bowling Alley, Mini Theatre, Manicured Garden..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"[Terrace Garden, Gazebo, Fountain, Amphitheatr..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Volley Ball Court, Aerobics Ce..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"[Mini Theatre, Doctor on Call, Concierge Servi..."

In [124]:
import ast
import pandas as pd

# STEP 1: Convert string → dictionary
df['PriceDict'] = df['PriceDetails'].apply(ast.literal_eval)

# STEP 2: Check if keys contain BHK or RK
def has_bhk_or_rk(d):
    return any("rk" in key.lower() for key in d.keys())

# STEP 3: Filter rows
df_filtered = df[df['PriceDict'].apply(has_bhk_or_rk)]

In [125]:
df_filtered.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities,PriceDict
21,Krisumi Waterfall Residences,"1, 2, 3, 4 BHK Apartment, 1 RK Studio Apartmen...","['Dwarka Expy', 'Delhi Public School, Sector 8...","{'Dwarka Expy': '6 KM', 'Delhi Public School, ...",https://www.99acres.com/krisumi-waterfall-resi...,"{'1 BHK': {'building_type': 'Apartment', 'area...","[Concierge Service, Swimming Pool, Bar/Chill-O...","{'1 BHK': {'building_type': 'Apartment', 'area..."
126,Bellavista Central Park Resorts,"1 BHK Service Apartment, 1 RK Studio Apartment...","['Candor TechSpace, Sector 48', 'Badshahpur So...","{'Candor TechSpace, Sector 48': '500 Meter', '...",https://www.99acres.com/bellavista-central-par...,"{'1 RK': {'building_type': 'Studio Apartment',...","[Mini Theatre, Infinity Pool, Lounge, Restaura...","{'1 RK': {'building_type': 'Studio Apartment',..."
240,M3M My Den,"1 BHK Service Apartment, 2 BHK Apartment, 1 RK...","['Unitech Business Zone', 'Park Hospital', 'Om...","{'Unitech Business Zone': '4 KM', 'Park Hospit...",https://www.99acres.com/m3m-my-den-sector-67-g...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Food Court, Concierge Service, Infinity Pool,...","{'2 BHK': {'building_type': 'Apartment', 'area..."

In [126]:
df['PriceDetails'].iloc[125]

"{'1 RK': {'building_type': 'Studio Apartment', 'area_type': 'Carpet Area', 'area': '438.63 - 1,607 sq.ft.', 'price-range': 'Price on Request'}, '1 BHK': {'building_type': 'Service Apartment', 'area_type': 'Carpet Area', 'area': '569.95 - 639.59 sq.ft.', 'price-range': 'Price on Request'}}"

In [127]:
categorical_columns = flattened_df.select_dtypes(include=['object']).columns.tolist()

In [128]:
categorical_columns

['PropertyName',
 '2_bhk_building_type',
 '2_bhk_area_type',
 '3_bhk_building_type',
 '3_bhk_area_type',
 '4_bhk_building_type',
 '4_bhk_area_type',
 'land_area_type',
 '5_bhk_building_type',
 '5_bhk_area_type',
 '1_bhk_building_type',
 '1_bhk_area_type',
 '1_rk_building_type',
 '1_rk_area_type',
 '6_bhk_building_type',
 '6_bhk_area_type']

In [129]:
cols_to_encode = ['2_bhk_building_type',
 '2_bhk_area_type',
 '3_bhk_building_type',
 '3_bhk_area_type',
 '4_bhk_building_type',
 '4_bhk_area_type',
 'land_area_type',
 '5_bhk_building_type',
 '5_bhk_area_type',
 '1_bhk_building_type',
 '1_bhk_area_type',
 '1_rk_building_type',
 '1_rk_area_type',
 '6_bhk_building_type',
 '6_bhk_area_type']   # 4 columns

In [130]:
ohe_df = pd.get_dummies(flattened_df, columns=cols_to_encode, drop_first=True)

ohe_df.head()

,PropertyName,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,...,4_bhk_area_type_Super Built-up Area,5_bhk_building_type_Independent Floor,5_bhk_building_type_Villa,5_bhk_area_type_Carpet Area,5_bhk_area_type_Super Built-up Area,1_bhk_building_type_Service Apartment,1_bhk_area_type_Super Built-up Area,1_rk_area_type_Super Built-up Area,6_bhk_building_type_Villa,6_bhk_area_type_Super Built-up Area
0,Smartworld One DXP,1370.0,1370.0,1370.0,2.00,2.40,1950.0,1850.0,2050.0,2.25,...,False,False,False,False,False,False,False,False,False,False
1,M3M Crown,NaN,NaN,NaN,NaN,NaN,1887.5,1605.0,2170.0,2.20,...,True,False,False,False,False,False,False,False,False,False
2,Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,2475.0,1800.0,3150.0,2.43,...,True,False,False,False,False,False,False,False,False,False
3,Sobha City,1536.5,1381.0,1692.0,1.55,3.21,2027.0,1711.0,2343.0,1.76,...,True,False,False,False,False,False,False,False,False,False
4,Signature Global City 93,1049.5,981.0,1118.0,93.01,1.06,1382.5,1235.0,1530.0,1.12,...,False,False,False,False,False,False,False,False,False,False

In [131]:
ohe_df = ohe_df.set_index(df.columns[0])

In [132]:
ohe_df.head()

,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,...,4_bhk_area_type_Super Built-up Area,5_bhk_building_type_Independent Floor,5_bhk_building_type_Villa,5_bhk_area_type_Carpet Area,5_bhk_area_type_Super Built-up Area,1_bhk_building_type_Service Apartment,1_bhk_area_type_Super Built-up Area,1_rk_area_type_Super Built-up Area,6_bhk_building_type_Villa,6_bhk_area_type_Super Built-up Area
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,1370.0,1370.0,1370.0,2.00,2.40,1950.0,1850.0,2050.0,2.25,3.59,...,False,False,False,False,False,False,False,False,False,False
M3M Crown,NaN,NaN,NaN,NaN,NaN,1887.5,1605.0,2170.0,2.20,3.03,...,True,False,False,False,False,False,False,False,False,False
Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,2475.0,1800.0,3150.0,2.43,15.75,...,True,False,False,False,False,False,False,False,False,False
Sobha City,1536.5,1381.0,1692.0,1.55,3.21,2027.0,1711.0,2343.0,1.76,4.79,...,True,False,False,False,False,False,False,False,False,False
Signature Global City 93,1049.5,981.0,1118.0,93.01,1.06,1382.5,1235.0,1530.0,1.12,1.45,...,False,False,False,False,False,False,False,False,False,False

In [133]:
from sklearn.preprocessing import StandardScaler
 
# Initialize the scaler
scaler = StandardScaler()

# Apply the scaler to the entire dataframe
scaled_data = pd.DataFrame(scaler.fit_transform(ohe_df), columns=ohe_df.columns, index=ohe_df.index)

C:\Users\deepu\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\deepu\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\deepu\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [134]:
scaled_data.head()

,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,...,4_bhk_area_type_Super Built-up Area,5_bhk_building_type_Independent Floor,5_bhk_building_type_Villa,5_bhk_area_type_Carpet Area,5_bhk_area_type_Super Built-up Area,1_bhk_building_type_Service Apartment,1_bhk_area_type_Super Built-up Area,1_rk_area_type_Super Built-up Area,6_bhk_building_type_Villa,6_bhk_area_type_Super Built-up Area
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,0.336628,0.503381,0.159822,-0.845357,-0.634849,0.005695,0.142293,-0.098195,-0.314605,-0.157876,...,-0.848693,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111
M3M Crown,NaN,NaN,NaN,NaN,NaN,-0.083682,-0.238534,0.042792,-0.316749,-0.208497,...,1.178282,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111
Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,0.756461,0.064573,1.194187,-0.306887,0.941332,...,1.178282,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111
Sobha City,0.765374,0.531863,0.927439,-0.856795,-0.612332,0.115807,-0.073768,0.246048,-0.335615,-0.049401,...,1.178282,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111
Signature Global City 93,-0.488677,-0.503845,-0.440921,1.467796,-0.672099,-0.805848,-0.813661,-0.709140,-0.363057,-0.351322,...,-0.848693,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111

In [135]:
scaled_data = scaled_data.fillna(0)

In [136]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine similarity
cosine_sim2 = cosine_similarity(scaled_data)

In [137]:
cosine_sim2.shape

(246, 246)

In [138]:
def recommend_property_with_scores(property_name, top_n=5):

    sim_scores = list(enumerate(cosine_sim2[scaled_data.index.get_loc(property_name)]))

    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Correctly separate indices and scores
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores  = [i[1] for i in sorted_scores[1:top_n+1]]

    top_properties = scaled_data.index[top_indices].tolist()

    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'Similarity_score': top_scores
    })

    return recommendations_df

recommend_property_with_scores("M3M Golf Hills")

       PropertyName  Similarity_score
0        BPTP Terra          0.960313
1        Sobha City          0.951100
2        Paras Dews          0.926360
3  BPTP Park Serene          0.924808
4        Ireo Skyon          0.917186

In [139]:
df = pd.read_csv("../Datasets/appartments.csv")

In [140]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [141]:
df.drop(df.index[22], inplace=True)

In [142]:
df[['PropertyName','LocationAdvantages']]

,PropertyName,LocationAdvantages
0,Smartworld One DXP,"{'Bajghera Road': '800 Meter', 'Palam Vihar Ha..."
1,M3M Crown,"{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N..."
2,Adani Brahma Samsara Vilasa,"{'AIPL Business Club Sector 62': '2.7 Km', 'He..."
3,Sobha City,"{'The Shikshiyan School': '2.9 KM', 'WTC Plaza..."
4,Signature Global City 93,"{'Pranavananda Int. School': '450 m', 'DLF Sit..."
...,...,...
242,DLF Princeton Estate,"{'Sector 42-43 Metro Station': '1.8 Km', 'Para..."
243,Pyramid Urban Homes 2,{'Aarvy Healthcare Super Speciality': '1.8 KM'...
244,Satya The Hermitage,"{'Dwarka Expressway': '1.2 Km', 'S N Internati..."
245,BPTP Spacio,"{'Suncity School': '0.2 Km', 'Gurugram Road': ..."
246,SS The Coralwood,"{'Sector 84 Road': '600 Meter', 'Delhi Public ..."

In [143]:
df[['LocationAdvantages']].iloc[0].LocationAdvantages

"{'Bajghera Road': '800 Meter', 'Palam Vihar Halt': '2.5 KM', 'DPSG Palam Vihar': '3.1 KM', 'Park Hospital': '3.1 KM', 'Gurgaon Railway Station': '4.9 KM', 'The NorthCap University': '5.4 KM', 'Dwarka Expy': '1.2 KM', 'Hyatt Place Gurgaon Udyog Vihar': '7.7 KM', 'Dwarka Sector 21, Metro Station': '7.2 KM', 'Pacific D21 Mall': '7.4 KM', 'Indira Gandhi International Airport': '14.7 KM', 'Hamoni Golf Camp': '6.2 KM', 'Fun N Food Waterpark': '8.8 KM', 'Accenture DDC5': '9 KM'}"

In [144]:
import re, ast, pandas as pd

# assume df already exists and has column 'Locationadvantages'

def convert_to_km(distance_str):
    if distance_str is None:
        return None
    distance_str = str(distance_str).strip()
    match = re.match(r'([\d.]+)\s*(Meter|KM|Km|km|m|M)', distance_str, re.IGNORECASE)
    if match:
        value = float(match.group(1))
        unit = match.group(2).upper()
        if unit in ['METER', 'M']:
            return round(value / 1000, 2)
        else:
            return round(value, 2)
    return None

def convert_dict_string(cell_value, return_as_string=True):
    if pd.isna(cell_value) or str(cell_value).strip() == "":
        return cell_value
    try:
        data_dict = ast.literal_eval(cell_value)
        if not isinstance(data_dict, dict):
            return cell_value
    except Exception:
        return cell_value
    converted = {}
    for place, dist in data_dict.items():
        km_val = convert_to_km(dist)
        if km_val is None:
            converted[place] = dist
        else:
            converted[place] = f"{km_val} KM"
    return str(converted) if return_as_string else converted

# Apply to entire column (example: create a new column)
df['LocationAdvantages'] = df['LocationAdvantages'].apply(lambda x: convert_dict_string(x, return_as_string=True))

In [145]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '0.8 KM', 'Palam Vihar Halt'...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 KM', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 KM', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '0.45 KM', 'DLF S...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [146]:
import pandas as pd
import ast
import re

def normalize_location(name):
    """
    Normalize location name:
    - Convert to lowercase
    - Keep spaces between words intact
    - Remove only underscores and hyphens (replace with space)
    - Remove special characters but keep letters, numbers and spaces
    """
    name = str(name).lower().strip()
    name = re.sub(r'[_-]+', ' ', name)           # replace underscores and hyphens with space
    name = re.sub(r'[^a-z0-9\s]', '', name)      # keep only letters, numbers, and spaces
    name = re.sub(r'\s+', ' ', name)             # collapse multiple spaces into one
    name = name.strip()                          # remove leading/trailing spaces
    return name

def clean_distance(value):
    """
    Remove 'km' or 'KM' or extra spaces and convert to float.
    If distance is not given or invalid, return NaN.
    """
    if value is None or pd.isna(value) or value == '':
        return pd.NA
    
    value = str(value).lower().replace("km", "").strip()
    
    if value == '' or value == 'none':
        return pd.NA
    
    try:
        return float(value)
    except:
        return pd.NA

def parse_location_dict(cell_value):
    """
    Parse the LocationAdvantages cell and return a dictionary with:
    - Keys: normalized location names (lowercase, spaces intact)
    - Values: float distances or NaN if not provided
    """
    if pd.isna(cell_value) or cell_value == '':
        return {}
    
    try:
        raw_dict = ast.literal_eval(cell_value)
    except:
        return {}
    
    clean_dict = {}
    for k, v in raw_dict.items():
        norm_key = normalize_location(k)
        clean_value = clean_distance(v)
        
        # If the exact same normalized location already exists, skip duplicates
        if norm_key not in clean_dict:
            clean_dict[norm_key] = clean_value
    
    return clean_dict

def process_location_advantages(df):
    """
    Process the LocationAdvantages column:
    1. Parse each cell into dictionary
    2. Normalize location names (lowercase, keep spaces)
    3. Remove exact duplicates (keep only first occurrence)
    4. Create new columns for each unique location
    5. Fill with distances or NaN if not provided
    """
    # Convert each cell into dict with normalized keys + float/NaN values
    parsed = df['LocationAdvantages'].apply(parse_location_dict)
    
    # Expand into columns
    expanded = parsed.apply(pd.Series)
    
    # Since we already handled duplicates in parse_location_dict,
    # we just need to handle any column-level duplicates from expansion
    # Group by column name and keep first (in case of any duplicates)
    if not expanded.empty:
        expanded = expanded.groupby(level=0, axis=1).first()
    
    # Merge with original df
    final_df = pd.concat([df, expanded], axis=1)
    
    return final_df

In [147]:
df_processed = process_location_advantages(df)

C:\Users\deepu\AppData\Local\Temp\ipykernel_23520\1378281504.py:82: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  expanded = expanded.groupby(level=0, axis=1).first()

In [148]:
df_processed.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities,aapno ghar,aapnoghar,aarvy healthcare,...,wtc plaza,xaviers international,yaduvanshi shiksha niketan,yashlok medical centre,yashroop hospital,yes bank,yes bank atm,yonex badminton stadium,zen golf range academy,zooper india trampoline park
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '0.8 KM', 'Palam Vihar Halt'...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 KM', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 KM', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi...",NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '0.45 KM', 'DLF S...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ...",NaN,9.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
df.columns

Index(['PropertyName', 'PropertySubName', 'NearbyLocations',
       'LocationAdvantages', 'Link', 'PriceDetails', 'TopFacilities'],
      dtype='object')

In [150]:
df_processed = df_processed.drop(['PropertySubName', 'NearbyLocations',
       'LocationAdvantages', 'Link', 'PriceDetails', 'TopFacilities'],axis=1)

In [151]:
df_processed.head()

,PropertyName,aapno ghar,aapnoghar,aarvy healthcare,aarvy healthcare hospital,aarvy healthcare super speciality,aarvy hospital,aatish hospital,accenture ddc5,adarsh public schoolgarhi harsaru,...,wtc plaza,xaviers international,yaduvanshi shiksha niketan,yashlok medical centre,yashroop hospital,yes bank,yes bank atm,yonex badminton stadium,zen golf range academy,zooper india trampoline park
0,Smartworld One DXP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3M Crown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sobha City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Signature Global City 93,NaN,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
df_processed = df_processed.set_index(df.columns[0])

In [153]:
df_processed.head()

,aapno ghar,aapnoghar,aarvy healthcare,aarvy healthcare hospital,aarvy healthcare super speciality,aarvy hospital,aatish hospital,accenture ddc5,adarsh public schoolgarhi harsaru,adarsh senior secondary school,...,wtc plaza,xaviers international,yaduvanshi shiksha niketan,yashlok medical centre,yashroop hospital,yes bank,yes bank atm,yonex badminton stadium,zen golf range academy,zooper india trampoline park
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M3M Crown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sobha City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Signature Global City 93,NaN,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
x = df_processed[df_processed['aatish hospital'] < 10.0]['aatish hospital'].sort_values()

In [179]:
for location,distance in x.items():
    print(location,distance)

Whiteland Blissville 2.1

In [154]:
df_processed.fillna(100000, inplace=True)

C:\Users\deepu\AppData\Local\Temp\ipykernel_23520\1279412131.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_processed.fillna(100000, inplace=True)

In [155]:
df_processed.head()

,aapno ghar,aapnoghar,aarvy healthcare,aarvy healthcare hospital,aarvy healthcare super speciality,aarvy hospital,aatish hospital,accenture ddc5,adarsh public schoolgarhi harsaru,adarsh senior secondary school,...,wtc plaza,xaviers international,yaduvanshi shiksha niketan,yashlok medical centre,yashroop hospital,yes bank,yes bank atm,yonex badminton stadium,zen golf range academy,zooper india trampoline park
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,9.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
M3M Crown,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
Adani Brahma Samsara Vilasa,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
Sobha City,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,4.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
Signature Global City 93,100000.0,9.6,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0

In [156]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Apply the scaler to the entire DataFrame
scaled_data3 = pd.DataFrame(scaler.fit_transform(df_processed), columns=df_processed.columns, index=df_processed.index)

In [157]:
scaled_data3.head()

,aapno ghar,aapnoghar,aarvy healthcare,aarvy healthcare hospital,aarvy healthcare super speciality,aarvy hospital,aatish hospital,accenture ddc5,adarsh public schoolgarhi harsaru,adarsh senior secondary school,...,wtc plaza,xaviers international,yaduvanshi shiksha niketan,yashlok medical centre,yashroop hospital,yes bank,yes bank atm,yonex badminton stadium,zen golf range academy,zooper india trampoline park
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,0.063888,0.111111,0.111111,0.144038,0.144038,0.128565,0.063888,-15.652476,0.063888,0.063888,...,0.111111,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111
M3M Crown,0.063888,0.111111,0.111111,0.144038,0.144038,0.128565,0.063888,0.063888,0.063888,0.063888,...,0.111111,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111
Adani Brahma Samsara Vilasa,0.063888,0.111111,0.111111,0.144038,0.144038,0.128565,0.063888,0.063888,0.063888,0.063888,...,0.111111,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111
Sobha City,0.063888,0.111111,0.111111,0.144038,0.144038,0.128565,0.063888,0.063888,0.063888,0.063888,...,-8.999939,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111
Signature Global City 93,0.063888,-8.999708,0.111111,0.144038,0.144038,0.128565,0.063888,0.063888,0.063888,0.063888,...,0.111111,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111

In [158]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim3 = cosine_similarity(scaled_data3)

In [159]:
cosine_sim3.shape

(246, 246)

In [160]:
def recommend_property_with_scores(property_name, top_n=5):

    # cosine_sim_matrix = cosine_sim1 + cosine_sim2 + 8*cosine_sim3
    cosine_sim_matrix = cosine_sim1+41*cosine_sim2+10*cosine_sim3

    #Get the similarity scores for the property using its name as the index
    sim_scores = list(enumerate(cosine_sim_matrix[scaled_data3.index.get_loc(property_name)]))

    # sort properties based on the similarity scores
    sorted_scores = sorted(sim_scores, key=lambda x : x[1], reverse=True)

    #Get the indices and scores of the top_n most similar properties
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]

    #Retrieve the names of the top properties using the indices
    top_properties = scaled_data3.index[top_indices].tolist()

    # Create a DataFrame with the result
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore' : top_scores
    })

    return recommendations_df

    # Test the recommender function using a property name
recommend_property_with_scores("Adani Brahma Samsara Vilasa")

                       PropertyName  SimilarityScore
0            DLF Garden City Floors        33.298343
1  Emaar MGF Emerald Floors Premier        27.507906
2                     BPTP Amstoria        26.620083
3                 Ansal API Esencia        22.001763
4                       Birla Navya        20.833519

In [161]:
cosine_sim1

array([[1.        , 0.01095159, 0.        , ..., 0.01183329, 0.08656385,
        0.0110727 ],
       [0.01095159, 1.        , 0.01982121, ..., 0.11904241, 0.01555534,
        0.00963852],
       [0.        , 0.01982121, 1.        , ..., 0.07020502, 0.03820314,
        0.01962826],
       ...,
       [0.01183329, 0.11904241, 0.07020502, ..., 1.        , 0.09825738,
        0.03255851],
       [0.08656385, 0.01555534, 0.03820314, ..., 0.09825738, 1.        ,
        0.06257614],
       [0.0110727 , 0.00963852, 0.01962826, ..., 0.03255851, 0.06257614,
        1.        ]])

In [162]:
cosine_sim2

array([[ 1.        , -0.25296967, -0.22066707, ..., -0.36964563,
        -0.33112041, -0.26551114],
       [-0.25296967,  1.        ,  0.02849043, ...,  0.13965786,
         0.05575239,  0.05521045],
       [-0.22066707,  0.02849043,  1.        , ..., -0.07370695,
        -0.17506352, -0.18322913],
       ...,
       [-0.36964563,  0.13965786, -0.07370695, ...,  1.        ,
         0.06918038,  0.27078043],
       [-0.33112041,  0.05575239, -0.17506352, ...,  0.06918038,
         1.        ,  0.7375277 ],
       [-0.26551114,  0.05521045, -0.18322913, ...,  0.27078043,
         0.7375277 ,  1.        ]])

In [163]:
cosine_sim3

array([[ 1.        ,  0.07528295, -0.00961296, ...,  0.00416742,
        -0.00745645, -0.00428117],
       [ 0.07528295,  1.        , -0.00813597, ...,  0.00174517,
        -0.00936041, -0.016025  ],
       [-0.00961296, -0.00813597,  1.        , ..., -0.01431334,
        -0.01460159, -0.0136073 ],
       ...,
       [ 0.00416742,  0.00174517, -0.01431334, ...,  1.        ,
         0.11487996, -0.02706509],
       [-0.00745645, -0.00936041, -0.01460159, ...,  0.11487996,
         1.        , -0.02144624],
       [-0.00428117, -0.016025  , -0.0136073 , ..., -0.02706509,
        -0.02144624,  1.        ]])

In [164]:
cosine_sim1+cosine_sim2+cosine_sim3

array([[ 3.        , -0.16673514, -0.23028003, ..., -0.35364492,
        -0.25201301, -0.25871961],
       [-0.16673514,  3.        ,  0.04017567, ...,  0.26044543,
         0.06194732,  0.04882397],
       [-0.23028003,  0.04017567,  3.        , ..., -0.01781526,
        -0.15146197, -0.17720816],
       ...,
       [-0.35364492,  0.26044543, -0.01781526, ...,  3.        ,
         0.28231772,  0.27627385],
       [-0.25201301,  0.06194732, -0.15146197, ...,  0.28231772,
         3.        ,  0.7786576 ],
       [-0.25871961,  0.04882397, -0.17720816, ...,  0.27627385,
         0.7786576 ,  3.        ]])

In [165]:
(cosine_sim1+cosine_sim2+cosine_sim3).shape

(246, 246)

In [166]:
4*cosine_sim1+6*cosine_sim2+8*cosine_sim3

array([[18.        , -0.87174811, -1.40090607, ..., -2.13720126,
        -1.70011867, -1.58302541],
       [-0.87174811, 18.        ,  0.18513963, ...,  1.32807811,
         0.32185243,  0.24161677],
       [-1.40090607,  0.18513963, 18.        , ..., -0.27592827,
        -1.01438129, -1.1297201 ],
       ...,
       [-2.13720126,  1.32807811, -0.27592827, ..., 18.        ,
         1.72715147,  1.5383959 ],
       [-1.70011867,  0.32185243, -1.01438129, ...,  1.72715147,
        18.        ,  4.50390083],
       [-1.58302541,  0.24161677, -1.1297201 , ...,  1.5383959 ,
         4.50390083, 18.        ]])

In [183]:
import pickle
pickle.dump(df_processed, open("location_dist.pkl", "wb"))

In [184]:
import pickle
pickle.dump(cosine_sim1, open("cosine_sim1.pkl", "wb"))

In [185]:
import pickle
pickle.dump(cosine_sim2, open("cosine_sim2.pkl", "wb"))

In [186]:
import pickle
pickle.dump(cosine_sim3, open("cosine_sim3.pkl", "wb"))

In [187]:
location_df = pickle.load(open("location_dist.pkl", 'rb'))

In [189]:
location_df.head()

,aapno ghar,aapnoghar,aarvy healthcare,aarvy healthcare hospital,aarvy healthcare super speciality,aarvy hospital,aatish hospital,accenture ddc5,adarsh public schoolgarhi harsaru,adarsh senior secondary school,...,wtc plaza,xaviers international,yaduvanshi shiksha niketan,yashlok medical centre,yashroop hospital,yes bank,yes bank atm,yonex badminton stadium,zen golf range academy,zooper india trampoline park
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,9.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
M3M Crown,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
Adani Brahma Samsara Vilasa,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
Sobha City,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,4.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
Signature Global City 93,100000.0,9.6,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0

In [188]:
location_df.columns.to_list()

['aapno ghar',
 'aapnoghar',
 'aarvy healthcare',
 'aarvy healthcare hospital',
 'aarvy healthcare super speciality',
 'aarvy hospital',
 'aatish hospital',
 'accenture ddc5',
 'adarsh public schoolgarhi harsaru',
 'adarsh senior secondary school',
 'agri business management collage',
 'aiims',
 'aiims jhajjar',
 'aipl business centre',
 'aipl business club',
 'aipl business club sector 62',
 'aipl business co working space',
 'aipl business tower',
 'aipl joy street mall',
 'airia mall',
 'airia mall sector 68',
 'airport',
 'ajit stadium dhanwapur',
 'alfaa health care hospital',
 'alpine convent school',
 'alpine hospital',
 'alpine school',
 'altrade business centre',
 'aman hospital',
 'aman hospital surgical centre',
 'ambience mall',
 'ambience mall new',
 'ambience public school',
 'american express',
 'amity',
 'amity university',
 'amity university gurugram',
 'amma hospital',
 'anand multispeciality hospital',
 'anand preschool',
 'ananta hospital',
 'ansal plaza',
 'anya gurgaon',
 'ap sports cricket ground',
 'apex plus hospital',
 'apj abdul kalam park',
 'apollo',
 'apollo pharmacy',
 'approved sector 37 mero station',
 'appu ghar',
 'appu ghar water park',
 'aradhya cricket club gurgaon',
 'aravali adventure hill',
 'aravalli hill view point',
 'aravalli hills',
 'arc hospital',
 'arc multi speciality',
 'arc multi speciality hospital',
 'ardee mall',
 'artemis',
 'artemis hospital',
 'artemis hospital gurgaon',
 'artimis hospital',
 'arvy hospital',
 'aryan hospital',
 'ascendas onehub gurgaon',
 'ascendas onehub gurgaon business park',
 'asf insignia sez',
 'ashiana anmol kid centric homes',
 'ashoka international school',
 'athena',
 'au grand air',
 'axis bank',
 'axis bank atm',
 'axis bank sohna rd',
 'baba kanala chowk',
 'badsa ams hospital',
 'badshahpur sohna hwy',
 'badshahpur sohna rd hwy',
 'badshahpur sohna rd hwy haryana',
 'badshahpur sohna rd hwy malibu town',
 'badshahpur sohna rd hwy raghav vatika',
 'badshahpur sohna rd hwy rajoria ngr',
 'badshahpur sohna rd hwy sector 68',
 'badshahpur sohna rd hwysector 48',
 'badshapur sohna highway',
 'baghera university',
 'bajghera road',
 'bal bharati public school',
 'balaji hospital',
 'bamroli cricket ground',
 'banjara market gurugram',
 'bank of baroda',
 'bank of baroda atm',
 'basai dhancourt railway station',
 'basai dhankot',
 'basai dhankot railway station',
 'basai enclave park',
 'basai metro station',
 'basai road',
 'basant valley global school',
 'best ivf centre',
 'bestech business tower',
 'bestech central square mall',
 'bharat petrol pump',
 'bharat petroleum petrol pump',
 'bharat petroleum retail outlet',
 'bharat petroleum shree shyam filling',
 'bharat ram global school',
 'bharat singh fuel company',
 'bharti international convent school',
 'bhondsi nature park',
 'bigbazaar',
 'bijwasan railway station',
 'biryani shah',
 'blue bells public school',
 'bm college of technology',
 'bm college of technology mgmt',
 'bml munjal university bmu',
 'bob atm',
 'broadways international school',
 'bsf golf course',
 'cambridge college of education',
 'cambridge montessori',
 'cambridge montessori preschool',
 'cambridge pre school',
 'canara bank',
 'canara bank atm',
 'canara bank nawada fatehpur',
 'canara bank new palam vihar',
 'candor techspace',
 'candor techspace sector 48',
 'capital business park',
 'capital cyberscape',
 'captain chandan lal marg',
 'cbr cricket ground',
 'cd international school',
 'central bank of india sohna rd',
 'central park flower valley',
 'central park ii road',
 'central park resorts',
 'central park sohna rd',
 'central peripheral road',
 'central plaza mall',
 'centrum plaza',
 'chauma road',
 'cherubs cradle',
 'children park',
 'chirag hospital',
 'choice pharmacy',
 'citibank atm',
 'city hospital',
 'city square',
 'civil hospital',
 'ck birla hospital',
 'ck birla hospital gurgaon',
 'cloudnine hospital sector 47',
 'cng petrol pump',
 'colonels central academy',
 'conexuslife b35',
 'conscient one',
 'conscient one mall',
 'cool deck coffee',
 'country inn',
 'country inn and suites by radisson',
 'country inn suites by radisson',
 'creative tennis academy',
 'cricket academy',
 'cyber park',
 'damdama lake',
 'damdama lake rd',
 'damdama more',
 'daultabad stadium',
 'daultabad village park',
 'de adventure amusement park',
 'de adventure park',
 'deerika hypermart',
 'delh ajmer expy',
 'delhi',
 'delhi ajmer expressway',
 'delhi gurgaon expressway',
 'delhi international airport',
 'delhi jaipur expressway',
 'delhi jaipur highway',
 'delhi mumbai expressway',
 'delhi public school',
 'delhi public school gurugram sector 67a',
 'delhi public school sector 103',
 'delhi public school sector 84',
 'dhanwapur road',
 'dharampeth main road',
 'dharampur main road',
 'diamond public school',
 'discount department store',
 'dishoom cinemas',
 'dlc cricket ground',
 'dlf corporate greens',
 'dlf corporate park',
 'dlf cyber city',
 'dlf golf and country club',
 'dlf grand mall',
 'dlf linear park',
 'dlf site central office',
 'dlf world tech park',
 'dlf5 summit plaza',
 'dominos pizza',
 'double infinity market',
 'double tree by hilton',
 'doubletree by hilton hotel',
 'doubletree by hilton hotel gurgaon',
 'dpg degree college',
 'dpg institute of technology',
 'dpgitm engineering college sector 34',
 'dps',
 'dps international edge',
 'dps international school',
 'dps manesar',
 'dps sector 103',
 'dpsg palam vihar',
 'dpsg palam vihar gurugram',
 'dr naveen chawla general physician',
 'dreamz cafe',
 'drona sports village',
 'dronacharya college of engineering',
 'dsd college',
 'duke horse riding club',
 'dwaraka expressway',
 'dwarka',
 'dwarka expressway',
 'dwarka expressway basai crossing',
 'dwarka expressway link road',
 'dwarka expy',
 'dwarka expy block d new palam vihar',
 'dwarka expy dhanwapur village',
 'dwarka expy sector 109',
 'dwarka expy sector 88',
 'dwarka expynorthern peripheral rd',
 'dwarka sector 21',
 'dwarka sector 21 metro station',
 'early basket grocery shop',
 'edge towers tennis court',
 'ektaa hospital',
 'ektaa hospitals',
 'ektaa hospitals main sohna rd',
 'elan miracle mall',
 'emaar business park',
 'emerald plaza',
 'emerald plaza shopping mall',
 'enkays hospital',
 'entertainland mall',
 'epf regional office',
 'ernst young',
 'eros city square',
 'eros corporate park',
 'esic dispensary',
 'esic hospital',
 'esplanade mall',
 'essar petrol pump',
 'euro int school',
 'euro int school sector 37d gurugram',
 'euro international school',
 'euro international school sec 84',
 'euro international school sector 109',
 'euro international school sector 37d',
 'euro international school sector 51',
 'euro international school sector 84',
 'euro intl school sec 51',
 'euro intl school sector 109',
 'euro intl school sector 37d gurugram',
 'eurokids preschool suncity',
 'excellere world school',
 'eye doctors at krishna netralaya',
 'f9 go karting gurgaon',
 'faridabad',
 'faridabad gurgaon rd',
 'faridabad gurgaon road',
 'farrukh nagar railway station',
 'federal bank sector 71',
 'first step play school',
 'fitso sector 48 spuddy badminton',
 'fly india adventure resort',
 'flying wings badminton academy',
 'fortis hospital',
 'fortis memorial research institute',
 'fresco market',
 'frescos',
 'fuel nation',
 'fun n food village',
 'fun n food water park',
 'fun n food waterpark',
 'g d goenka university',
 'g d goenka world school',
 'galleria 108 mall',
 'galleria market',
 'garhi budhera road',
 'garhi harsaru junction',
 'garhi harsaru railway station gurgaon',
 'garima public school',
 'gaytri public school',
 'gd goenka',
 'gd goenka high school',
 'gd goenka public school',
 'gd goenka school',
 'gd goenka signature school',
 'gd goenka university',
 'gd goenka university gurugram',
 'gd goenka world school',
 'gems international school',
 'genesis hospital',
 'genesis hospital sector 84',
 'genpact chowk bus stop',
 'global city centre',
 'global city centre mall',
 'global foyer mall',
 'global foyer mall palam vihar',
 'global ways school',
 'globalhealthcare multispeciality',
 'glorious world school',
 'golden greens golf resorts',
 'golden greens golf resorts limited',
 'golden tulip suites gurgaon',
 'golf corse ext rd',
 'golf course ext rd',
 'golf course ext road',
 'golf course extension',
 'golf course extension rd',
 'golf course extension road',
 'golf course extn road',
 'golf course rd',
 'golf course road',
 'golf pavilion',
 'govind hospital',
 'govt model sanskriti primary school',
 'govt pg college',
 'grand hyatt',
 'grand hyatt gurgaon',
 'green field public school',
 'green field school',
 'green garden narsari',
 'greenway hospital',
 'guls kitchen',
 'gurgaon',
 'gurgaon delhi expy',
 'gurgaon delhi expy sector 75a',
 'gurgaon dreamz mall',
 'gurgaon faridabad highway',
 'gurgaon gramin bank',
 'gurgaon old railway station',
 'gurgaon railway station',
 'gurgaon road',
 'gurgaon toll',
 'gurjar samrat jaipal khatana marg',
 'gurugram city bus depot',
 'gurugram global heights school',
 'gurugram hospital',
 'gurugram public school',
 'gurugram railway station',
 'gurugram rd',
 'gurugram road',
 'gurugram university',
 'gurugram university kankrola',
 'gurugram university sector 87',
 'gurukul preschool',
 'gyaananda school',
 'gyan bharti public school',
 'hamoni golf camp',
 'hanuman shani mandir',
 'harsaru village bus stop',
 'haryana city gas',
 'hasanpur',
 'hdfc bank',
 'hdfc bank atm',
 'hdfc bank atm dhunela ghamroj',
 'hdfc bank pataudi rd',
 'health care pharmacy',
 'heritage badminton academy',
 'heritage intl xperiential school',
 'heritage school',
 'heritage village resort spa',
 'heritage xperiential learning crpf rd',
 'heritage xperiential learning school',
 'hero honda chowk',
 'holiday inn',
 'holiday inn express gurugram',
 'holiday inn express gurugram sec 50',
 'holiday inn express gurugram sector 50',
 'holiday inn gurugram',
 'holiday inn gurugram sector 90',
 'holiday inn hotel sector 90',
 'holiday inn sector 90',
 'hong kong bazaar',
 'horizon 1 mall',
 'hotel golf view suites',
 'hp petrol pump',
 'hp petrol pump unnamed rd',
 'hsbc',
 'hub 66',
 'huda city center',
 'huda city centre',
 'huda city centre metro station',
 'huda market',
 'huda market sector 14',
 'huda metro station',
 'huda metro station gurugram',
 'huda mini golf course',
 'huda park',
 'hyatt place',
 'hyatt place gurgaon udyog vihar',
 'hyatt regency',
 'hyatt regency gurgaon',
 'hyatt regency gurugram',
 'hyatt regency hotel',
 'ibis hotel',
 'icfai university',
 'icici atm',
 'icici bank',
 'icici bank atm',
 'icici bank atm annapurna mkt',
 'icici bank atm sector 86',
 'idea cosmic plaza',
 'idfc first bank',
 'iffco chowk',
 'iffco chowk metro station',
 'ig international airport',
 'igi airport',
 'igia airport',
 'igrow montessori',
 'igrow montessori play school',
 'iilm school of management',
 'iilm university gurugram',
 'imperfecto patio',
 'imperia mindspace',
 'imperial heritage school',
 'imperio school',
 'imt manesar',
 'imt manesar gurugram',
 'imt office sohna',
 'imt road',
 'imt sohna',
 'indian school of hospitality',
 'indianoil hasanpur',
 'indianoil sohna gurgaon rd',
 'indira gandhi airport',
 'indira gandhi eye hospital',
 'indira gandhi int airport',
 'indira gandhi international airport',
 'indira gandhi intl airport',
 'indus valley public school',
 'indus world school',
 'indusind bank',
 'indusind bank atm',
 'infinity business park',
 'infinitys badminton academy',
 'info technology park phase 2',
 'inox cinema',
 'insfire sports',
 'international airport',
 'international tech park gurgaon',
 'inxt high street',
 'ion digital zone gurgaon',
 'ion digital zone gurugram',
 'iris broadway gurugram',
 'iris broadway mall',
 'isbm college',
 'iskcon',
 'iskcon temple',
 'jadon pharmacy',
 'jagdish super market',
 'jai sai ram hospital',
 'jhankar group of institutions',
 'jhankar senior secondary school',
 'jharsha chowk',
 'jinaglala theme park',
 'jinga lala theme park gurgaon delhi',
 'jmd megapolis',
 'jmd regent mall',
 'jms crosswalk',
 'jms marine square',
 'jms marine square mall',
 'jungle safari trails',
 'k r mangalam university',
 'kadipur industrial area',
 'kamal hospital',
 'kangaroo kids preschool',
 'karma lakelands',
 'kd hospital',
 'kdm public school sohna',
 'keshav pharmacy',
 'kfg sports club',
 'kfg sports club parking',
 'khatu shyam mandir',
 'kheri railway station',
 'kidzee',
 'kidzee sec 93',
 'kiit college',
 'kiit college of engineering',
 'kiit college of engineering sohna road',
 'kinder care playschool',
 'kingdom of dreams',
 'kings international school',
 'klay play school',
 'kmp corridor',
 'kmp expressway',
 'knowledge tree world school',
 'kotak mahindra bank mbs tower',
 'kr mangalam',
 'kr mangalam university',
 'kr mangalam university sohna',
 'krishna hospital',
 'kriti hospital',
 'krmangalam world school',
 'kundli manesar palwal expressway',
 'kunskapsskolan international',
 'kunskapsskolan school',
 'kutumbh hospital',
 'lancers international school',
 'le meridien gurgaon',
 'learning stars school',
 'leisure valley park',
 'lemon tree hotel',
 'lemon tree hotel sector 60',
 'lemon tree hotel sohna road',
 'leopard hills',
 'lingayas lalita devi institute',
 'lions public school',
 'little e step pre school',
 'lotus sports academy',
 'lotus valley international school',
 'lotus valley intl school gurgaon',
 'lotus valley school',
 'lovely public school',
 'luxus haritma resort',
 'm3m 65th avenue mall',
 'm3m cosmopolitan',
 'm3m cosmopolitan mall',
 'm3m ifc',
 'm3m international financial center ifc',
 'm3m sco shop cum office',
 'maharana pratap school',
 'mall fifty one',
 'mamta hospital',
 'manav rachna school',
 'manesar bus stand',
 'manesar golf course',
 'manesar road',
 'manesar toll plaza kherki daula',
 'manipal hospital',
 'manipal hospital gurugram',
 'manipal hospital palam vihar',
 'manish gallexie 91',
 'marengo asia hospitals',
 'marigold secondary school',
 'marriott courtyard',
 'matrikiran high school',
 'matrikiran school',
 'mavens inn',
 'mavens orange hotel',
 'max fortis',
 'mcc cricket ground dhankot',
 'mcdonalds india',
 'mcdonalds india 24 hours',
 'mds public school',
 'medanta dialysis center',
 'medanta hospital',
 'medanta the medicity',
 'medeor hospital manesar',
 'medhaam pre school daycare',
 'medicity',
 'meditree market',
 'mehrauli gurgaon rd',
 'mehrauli gurgaon road',
 'metro hospital palam vihar',
 'metro station kankrola sec 87',
 'metro world mall',
 'mg road',
 'mg road metro station',
 'mgf megacity mall',
 'mgf metropolitan mall',
 'minda industries corporate office',
 'minda industries limited',
 'minda industries nawada fatehpur',
 'miracles apollo cradle',
 'miracles apollo cradle hospital',
 'miracles apollo cradle spectra',
 'miracles apollo cradle spectra hospital',
 'miracles apollo cradlespectra hospital',
 'miracles apollo hospital',
 'mkd hospital',
 'moksh wellness pvt ltd',
 'more hypermart vipul business park',
 'mother land public school',
 'moulsari avenue',
 'mount olympus junior school',
 'mount olympus school sec 79',
 'mps world school',
 'muincipal corporation of gurugram',
 'museum of folk and tribal art',
 'najafgarh jheel bird sanctuary',
 'najafgarh kapashera road',
 'nakhrola stadium',
 'nakhrola stadium sector 81a',
 'narayana e techno',
 'narayana e techno school',
 'narayana e techno school manesar',
 'narayana junior college',
 'national highway 48',
 'national highway 8',
 'national tennis academy',
 'national tennis academy sector 98',
 'naurangpur cricket stadium',
 'naurangpur road',
 'nawada cricket accadmy',
 'nazafgarh gurgaon road',
 'neemrana palace',
 'nehru stadium',
 'neosquare shopping mall',
 'netaji subhash marg',
 'new water pond',
 'newtown square mall',
 'nh 08',
 'nh 148a',
 'nh 248',
 'nh 248 a',
 'nh 248a',
 'nh 352w',
 'nh 352w pataudi',
 'nh 48',
 'nh 48 gurugram',
 'nh 48 sector 78',
 'nh 8',
 'nh 8 delhi jaipur highway',
 'nh 8 imt manesar',
 'nh 8 sector 15 part 2',
 'nh248a',
 'nh48',
 'nh8',
 'ninex mall',
 'nirvana rd',
 'nischay cricket academy',
 'nora solomon medicenter',
 'northern peripheral road',
 'nouveau medics multispeciality opd',
 'numberdar market imt manesar',
 'ocus medley mall',
 'old bengali market',
 'old delhi gurgaon road',
 'old sohna dhani road',
 'omaxe celebration mall',
 'omaxe city centre',
 'omaxe city centre mall',
 'omaxe gurgaon mall',
 'omex city centre mall',
 'ompee international school',
 'one horizon center bus stop',
 'open gym garden',
 'open tap',
 'orchid business park',
 'orchids the international school',
 'oriental bank of commerce',
 'oysters water park',
 'pacific d21 mall',
 'palam vihar halt',
 'palam vihar halt railway station',
 'pallavan preschool sohna road',
 'paras hospital',
 'paras hospitals',
 'paras hospitals gurgaon',
 'paras trinity',
 'paras trinity mall',
 'paras trinity mall sector 63',
 'paras trinity shopping mall',
 'park dr dlf phase 5',
 'park hospital',
 'park hospital palam vihar',
 'park inn',
 'park inn gurgaon',
 'pasco automobiles alipur sohna',
 'pataudi rd',
 'pataudi rd sector 95b',
 'pataudi road',
 'pathfinder global school pataudi',
 'pathways',
 'pathways school gurgaon',
 'patil station',
 'patli railway station',
 'pawlywoof dog park',
 'peer baba ki mazar',
 'phase 2 metro station',
 'phc garhi harsaru',
 'plaza mall',
 'pnb atm',
 'polaris hospital',
 'pragyanam school',
 'prakash hospital',
 'pranavananda int school',
 'pranavananda international school',
 'presidium school gurgoan',
 'primamed super speciality hospital',
 'prime scholars int school',
 'prime scholars international school',
 'propose metro station',
 'proposed metro corridor',
 'proposed metro station',
 'public bazar',
 'punjab national bank',
 'pushpanjali hospital',
 'pvr drive in cinema',
 'pvr drive in theater',
 'pvr drive in theatre',
 'quality inn gurgaon',
 'qutub plaza',
 'radha krishan mandir',
 'radisson hotel',
 'radisson hotel gurugram',
 'radisson hotel gurugram sohna road',
 'radisson hotel sohna road',
 'raghunath bal vidya mandir school',
 'raheja mall',
 'raheja market',
 'rajesh pilot road',
 'rajiv chowk',
 'rajiv chowk sohna highway',
 'ram krishna public school',
 'ramada by wyndham gurgaon',
 'ramgarh farms resort',
 'ramprastha police post',
 'rampura flyover naurangpur rd',
 'rao bharat singh international school',
 'rapid metro sector 55 56',
 'rapid metro sector 56',
 'rapid metro station sector 55 56',
 'rapid metro station sector 56',
 'rathore imt hospital',
 'rbsm public school',
 'reach 3 roads shopping mall',
 'red roses public school',
 'reliance trends newtown square mall',
 'rhm public school',
 'rions hospital',
 'rotary public school',
 'royal institute of science',
 'royal institute of science and mgt',
 'royal institute of science management',
 'rps international school',
 'rps international school sector 89',
 'rx pharmacy',
 's n international school',
 'sahara mall',
 'sai sports club cricket ground',
 'saint pauls school',
 'samrat mihir bhoj road',
 'sanar international hospital',
 'sanjeevani hospital',
 'sanjeevani hospital child specialist',
 'sanjivani hospital',
 'sanskar bharti public school',
 'sanskar jyoti school',
 'sant soordas sihi metro station',
 'sapphire 83',
 'sapphire 83 mall',
 'sapphire 83 mall sector 83',
 'sapphire 93 mall',
 'sapphire mall',
 'saraswati model school',
 'satya the hive mall',
 'satyam medicare hospital',
 'savoy suites',
 'savoy suites manesar',
 'scc drive in cinema',
 'scc rooftop drive in',
 'scj academy',
 'scottish high international school',
 'scottish international school',
 'scr model school',
 'sealdah',
 'sealdah railway station',
 'sector 10 market',
 'sector 102 dhankot',
 'sector 21 metro dwarka',
 'sector 29 gurgaon pubs and bars',
 'sector 37 police station',
 'sector 42 43',
 'sector 42 43 metro station',
 'sector 42 43 rapid metro',
 'sector 42 43 rapid metro station',

In [192]:
location_df.index.get_loc("Salcon The Verandas")

213

In [193]:
cosine_sim_matrix = cosine_sim1 + 41 * cosine_sim2 + 10 * cosine_sim3

In [196]:
cosine_sim_matrix[location_df.index.get_loc("Salcon The Verandas")]

array([-4.25333579, -3.86843161, -0.6972149 , -4.36984111, -3.00553527,
        8.10908008, -4.13176809, -3.22765824, -2.98454093, -4.90943904,
       -3.36085461,  8.43126034, -2.74366571, -2.43849766, -5.23500289,
       -2.36375864, -4.14679148, -2.62852277, -4.59468181,  5.30214812,
       -1.52298897,  3.25694701, -5.1537611 , -4.28918669, -5.91471187,
       -4.78827401, -3.28174285, -5.96539569, -3.13721009, -6.20701297,
       -2.7817024 , -2.7750212 , -2.53826901,  4.73151078, -2.13119532,
       -0.25730598, -5.96567703, -0.81525295, -0.37547969,  4.78472603,
       -3.58984266, -4.93009438,  5.04989638, -0.69951396, -4.81998537,
       -3.2066246 ,  2.30752231,  5.11451883,  0.50944613, -4.04230188,
       -0.31658137, -2.72455241, 25.91414804, -5.07918175, -5.98516078,
        5.59182305, 11.66226435, 12.25646439, -3.12347496,  7.65893854,
        2.93269597, -3.20124471, -0.35825942, -4.02824034, -2.6712503 ,
       -4.97647646, -2.67127285,  2.96612121, -0.59102359, -5.21244696,
       -1.09729567,  2.65427457, -0.7100144 , -4.08088266,  6.33782559,
       -3.58004193,  8.04875524, -2.21905706, -3.07989817, -2.89542247,
       -2.66838771,  9.12866731, -0.49321756, -4.12851881, -2.45508016,
       -2.99944009, 10.63740583, -2.85124126, -5.73410341, -0.28347355,
       -2.66410525, -2.81408082, -0.4596519 , -2.92857221, -5.13589596,
       -0.23720711, -3.62754895, -4.2116548 , -5.22986882,  2.85759482,
       -1.5108453 , -1.42049142,  6.63978398, -4.3774507 , -6.18806744,
       -0.48484538,  0.97835343, -6.14558886, -0.43838299, -0.47087449,
       -3.62368709, -4.30591484, -5.94986553, -2.76678404, -5.2147979 ,
       -0.26485166, 37.76721565,  9.47709589,  0.32281596, -2.47934073,
        8.9944037 , -6.37358962, -4.84483783, -4.76011029, -3.24654893,
       -0.65368633, -6.39037976, -5.7728494 , -5.65080089, -1.11644622,
       -3.51403489, -4.10440766, -0.53772597, -2.16537875, -0.56061552,
       -3.57656841,  8.43319559, -5.8906573 , -0.49998181, -0.618653  ,
       -4.53295269,  2.64807984,  1.76908285,  2.35405334, -4.08805175,
       -1.22557628, -0.29667462, -0.44236727, -0.5776075 , -1.24910556,
        9.51077276, -6.14636136, -0.56936798, -0.64347324,  0.72274632,
       -0.59994008, -5.30711557, -7.91082452, -3.3463343 , -4.87189307,
       -1.76790179, -5.4238355 , -0.56025156,  5.39453737, -4.82826017,
        1.29833925,  7.4011642 , -4.55991223, -2.34143253,  0.12362483,
       -3.30528936, -3.44007721, -0.63896217, -5.40196141, -1.81644762,
       -1.11072434, -1.03721697, -0.40360648, -1.87130275, -0.58256553,
       -0.47216049, -3.66671162, -0.29233051, -3.83223602, -5.3900956 ,
       -0.63027391, -3.95054082, -3.73476071, -2.44463008, -4.29039751,
       -1.81889251, -0.46106818, -1.43469421, -0.56795652, -3.91481333,
       -0.22766121, -5.22725415, -5.73572522, -1.891301  , -2.9184238 ,
        9.18195988, -3.28475149, -3.13310737, -1.42544473, -2.83460049,
       -3.74976662, -0.53449084, -0.60325545, -0.56341313,  5.45392496,
        1.7932418 , -1.27598157, -4.41167365, 52.        , -2.58613162,
       -1.91111245, -1.99016982, -1.79286722, -3.87178206, -1.43233799,
       -5.1206459 , -0.55525752,  2.14042597, -0.59162958, -1.4141573 ,
       -5.2573237 , -5.28190705, -4.79289231, -0.68792326,  5.605354  ,
       -0.50649246,  6.09669353, -6.08698106, -1.63098574, -0.92701225,
        1.26816935,  3.72375521, -3.93743506,  8.02157493, -0.89707012,
       -2.14939869, -5.99503402, -1.3943019 ,  5.03297891, -6.26306457,
       -6.9223931 ])

In [199]:
df['Link'].iloc[0]

'https://www.99acres.com/smartworld-one-dxp-sector-113-gurgaon-npxid-r400415'