In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("../Datasets/appartments.csv")

In [4]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [5]:
df.drop(df.index[22], inplace=True)

In [6]:
import re
def extract_list(s):
    return re.findall(r"'(.*?)'",s)

df['TopFacilities'] = df['TopFacilities'].apply(extract_list)

In [7]:
import pandas as pd
import ast
import re


def convert_price_details_lakhs_to_crores(price_details_str):
    """
    Convert all Lakhs values to Crores in a PriceDetails dictionary string
    
    Args:
        price_details_str: String representation of dictionary with price details
    
    Returns:
        Modified string with all Lakhs converted to Crores
    """
    if not price_details_str or pd.isna(price_details_str):
        return price_details_str
    
    try:
        # Handle different input types
        if isinstance(price_details_str, dict):
            # Already a dictionary
            price_dict = price_details_str.copy()
        elif isinstance(price_details_str, str):
            # Try to parse as dictionary
            # First, try ast.literal_eval
            try:
                price_dict = ast.literal_eval(price_details_str)
            except (ValueError, SyntaxError):
                # If ast.literal_eval fails, try eval with restricted namespace
                # This handles cases where the string has variable names
                try:
                    import json
                    # Try to convert to valid JSON first
                    json_str = price_details_str.replace("'", '"')
                    price_dict = json.loads(json_str)
                except:
                    # If still fails, use eval with empty namespace for safety
                    price_dict = eval(price_details_str, {"__builtins__": {}}, {})
        else:
            # Unknown type, return as is
            return price_details_str
        
        # Iterate through each property type (BHK, Land, etc.)
        for property_type, details in price_dict.items():
            if isinstance(details, dict) and 'price-range' in details:
                original_price = details['price-range']
                converted_price = convert_lakhs_to_crores_in_string(original_price)
                details['price-range'] = converted_price
        
        # Convert back to string representation
        return str(price_dict)
    
    except Exception as e:
        print(f"Error converting price details: {str(e)}")
        print(f"Problematic value type: {type(price_details_str)}")
        print(f"First 200 chars: {str(price_details_str)[:200]}")
        return price_details_str

In [8]:
# Use the correct function for dictionary-formatted price details
df['PriceDetails'] = df['PriceDetails'].apply(convert_price_details_lakhs_to_crores)

Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,370 sq.ft.', 'price-range': '₹ 2 - 2.4 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area':
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,605 - 2,170 sq.ft.', 'price-range': '₹ 2.2 - 3.03 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Su
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built-up Area', 'area': '1,800 - 3,150 sq.ft.', 'price-range': '₹ 2.43 - 15.75 Cr'}, '4 BHK': {'building_type': 'Independent Floor'
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,381 - 1,692 sq.ft.', 'price-range': '₹ 1.55 - 3.21 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '981 - 1,118 sq.ft.', 'price-range': '₹ 93.01 L - 1.06 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,290 - 2,937 sq.ft.', 'price-range': '₹ 3.07 - 3.96 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,015 - 2,150 sq.ft.', 'price-range': '₹ 1.53 - 1.85 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,347 - 2,600 sq.ft.', 'price-range': '₹ 4.05 - 8.88 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '959 - 1,145 sq.ft.', 'price-range': '₹ 1.26 - 1.51 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_typ
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,508.26 sq.ft.', 'price-range': '₹ 1.82 - 3.5 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super B
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,055 sq.ft.', 'price-range': '₹ 1.05 - 1.5 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Ca
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '3,950 sq.ft.', 'price-range': '₹ 7 - 7.31 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,193 - 1,200 sq.ft.', 'price-range': '₹ 1.3 - 1.31 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Are
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '546.12 sq.ft.', 'price-range': '₹ 80.01 - 83 L'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Ca
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,487.57 - 1,558 sq.ft.', 'price-range': '₹ 2 - 2.41 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,534.61 - 3,030 sq.ft.', 'price-range': '₹ 4.5 - 10.87 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,420 sq.ft.', 'price-range': '₹ 1.49 - 1.5 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Buil
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '500 - 560 sq.ft.', 'price-range': '₹ 96 L - 1.1 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type':
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,300 - 1,690 sq.ft.', 'price-range': '₹ 1.4 - 2.47 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '3,525 sq.ft.', 'price-range': '₹ 8.2 - 8.64 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Buil
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,638 - 1,646 sq.ft.', 'price-range': '₹ 6 - 7.22 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area'
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'1 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '464.14 - 6,367.71 sq.ft.', 'price-range': 'Price on Request'}, '2 BHK': {'building_type': 'Apartment', 'area_type': 'Super
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,300 - 1,330 sq.ft.', 'price-range': '₹ 1.3 - 1.56 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Are
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'1 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,510 sq.ft.', 'price-range': '₹ 1.98 - 2.38 Cr'}, '2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,276 - 1,573 sq.ft.', 'price-range': '₹ 1.88 - 3.43 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '763.81 - 893.94 sq.ft.', 'price-range': '₹ 1.7 - 4.48 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '990 sq.ft.', 'price-range': '₹ 82 L - 1.77 Cr'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Car
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,383 - 1,572 sq.ft.', 'price-range': '₹ 1.25 - 1.43 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,105 sq.ft.', 'price-range': '₹ 88 - 93.93 L'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Car
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,410 sq.ft.', 'price-range': '₹ 1.19 - 2.1 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Buil
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,280 sq.ft.', 'price-range': '₹ 1.6 - 2.05 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'are
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,359 - 1,593 sq.ft.', 'price-range': '₹ 1.63 - 2.12 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '929.89 - 986.84 sq.ft.', 'price-range': '₹ 1.1 - 1.17 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet A
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,640 - 1,772 sq.ft.', 'price-range': '₹ 1.22 - 1.33 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '730 - 849 sq.ft.', 'price-range': '₹ 91 L - 1.06 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area',
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,650 sq.ft.', 'price-range': '₹ 1.29 - 1.35 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Bui
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,012 - 1,593 sq.ft.', 'price-range': '₹ 1.39 - 3.15 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built-up Area', 'area': '1,782 sq.ft.', 'price-range': '₹ 1.22 - 13.03 Cr'}, '4 BHK': {'building_type': 'Independent Floor', 'area_
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Villa', 'area_type': 'Built-up Area', 'area': '2,268 sq.ft.', 'price-range': 'Price on Request'}, '4 BHK': {'building_type': 'Villa', 'area_type': 'Built-up Area', 'area':
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,704 sq.ft.', 'price-range': '₹ 1.32 - 1.38 Cr'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'Super Bui
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Built-up Area', 'area': '1,770 - 2,229 sq.ft.', 'price-range': '₹ 1.59 - 4.95 Cr'}, '4 BHK': {'building_type': 'Independent Floor', 'area
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Villa', 'area_type': 'Built-up Area', 'area': '1,975 sq.ft.', 'price-range': 'Price on Request'}, '2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,230 - 2,240 sq.ft.', 'price-range': '₹ 2.75 - 6.03 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,290 sq.ft.', 'price-range': '₹ 1.6 - 2 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-u
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,750 - 2,650 sq.ft.', 'price-range': '₹ 1.45 - 2.35 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,050 sq.ft.', 'price-range': '₹ 90 L'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Villa', 'area_type': 'Built-up Area', 'area': '5,843.51 sq.ft.', 'price-range': '₹ 7.79 Cr'}, '4 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built-up
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,441 sq.ft.', 'price-range': '₹ 2.7 - 2.8 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,965 - 2,990 sq.ft.', 'price-range': '₹ 1.97 - 2.99 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '2,100 - 2,200 sq.ft.', 'price-range': '₹ 2.39 - 2.57 Cr'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'Land': {'building_type': '', 'area_type': 'Plot Area', 'area': '827.96 - 1,307.6 sq.ft.', 'price-range': '₹ 34.96 - 55.22 L'}}
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,100 - 1,250 sq.ft.', 'price-range': '₹ 1.65 - 1.88 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '7,196 - 7,685 sq.ft.', 'price-range': '₹ 40 - 46.88 Cr'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'Su
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,225 - 1,372 sq.ft.', 'price-range': '₹ 3.15 - 3.53 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Ar
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,627.7 - 1,675.87 sq.ft.', 'price-range': '₹ 4.2 - 4.32 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpe
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,246 - 2,370 sq.ft.', 'price-range': '₹ 7.8 - 8.42 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Su
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '6,350 - 6,400 sq.ft.', 'price-range': '₹ 19.84 - 30 Cr'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'Su
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '5,575 - 5,600 sq.ft.', 'price-range': '₹ 22.2 - 22.4 Cr'}, '5 BHK': {'building_type': 'Apartment', 'area_type': 'S
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined
Problematic value type: <class 'str'>
First 200 chars: {'3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Super Built-up Area', 'area': '1,300 - 1,953 sq.ft.', 'price-range': '₹ 2 Cr'}, '4 BHK': {'building_type': 'Independent Floor', 'area_typ
Error converting price details: name 'convert_lakhs_to_crores_in_string' is not defined

In [9]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Salon, Restaurant, Spa, Cafete..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","[Bowling Alley, Mini Theatre, Manicured Garden..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"[Terrace Garden, Gazebo, Fountain, Amphitheatr..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Volley Ball Court, Aerobics Ce..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"[Mini Theatre, Doctor on Call, Concierge Servi..."

In [10]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [11]:
df[['PriceDetails']].iloc[0].PriceDetails

"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,370 sq.ft.', 'price-range': '₹ 2 - 2.4 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,850 - 2,050 sq.ft.', 'price-range': '₹ 2.25 - 3.59 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '2,600 sq.ft.', 'price-range': '₹ 3.24 - 4.56 Cr'}}"

In [12]:
df[['PriceDetails']].iloc[45].PriceDetails

"{'2 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,050 sq.ft.', 'price-range': '₹ 90 L'}, '3 BHK': {'building_type': 'Independent Floor', 'area_type': 'Carpet Area', 'area': '1,305 - 1,470 sq.ft.', 'price-range': '₹ 1 - 1.15 Cr'}}"

In [13]:
df[['PriceDetails']].iloc[91].PriceDetails

"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,375 sq.ft.', 'price-range': '₹ 2.3 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,156 sq.ft.', 'price-range': '₹ 3.61 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,857 sq.ft.', 'price-range': '₹ 4.78 Cr'}}"

In [14]:
df[['PriceDetails']].iloc[139].PriceDetails

"{'4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '3,500 sq.ft.', 'price-range': '₹ 2.99 Cr'}}"

In [15]:
df[['PriceDetails']].iloc[207].PriceDetails

"{'Land': {'building_type': '', 'area_type': 'Plot Area', 'area': '1,800 - 3,060 sq.ft.', 'price-range': '₹ 1.06 - 1.81 Cr'}}"

In [16]:
df.shape

(246, 7)

In [17]:
import pandas as pd
import ast
import re

class PropertyDataProcessor:
    """
    A class to process and flatten property data from PriceDetails column
    """
    
    def __init__(self, dataframe):
        """
        Initialize the processor with a dataframe
        
        Parameters:
        dataframe (pd.DataFrame): DataFrame containing PropertyName and PriceDetails columns
        """
        if dataframe is None:
            raise ValueError("Dataframe cannot be None. Please provide a valid pandas DataFrame.")
        
        if not isinstance(dataframe, pd.DataFrame):
            raise TypeError(f"Expected pandas DataFrame, got {type(dataframe)} instead.")
        
        if 'PropertyName' not in dataframe.columns or 'PriceDetails' not in dataframe.columns:
            raise ValueError("Dataframe must contain 'PropertyName' and 'PriceDetails' columns.")
        
        self.df = dataframe.copy()  # Create a copy to avoid modifying the original
        self.flattened_df = None
        
        print(f"✓ Initialized with dataframe containing {len(self.df)} rows")
        
    def extract_price_range(self, price_range_str):
        """
        Extract min and max prices from price range string as float values
        
        Parameters:
        price_range_str (str): Price range string like "₹ 2 - 2.4 Cr"
        
        Returns:
        tuple: (min_price, max_price) as floats without units
        """
        if not price_range_str or pd.isna(price_range_str):
            return None, None
        
        # Remove currency symbol and unit, extract all numbers
        cleaned = price_range_str.replace('₹', '').replace('Cr', '').replace('Lac', '').replace('L', '')
        
        # Extract all decimal numbers
        prices = re.findall(r'(\d+(?:\.\d+)?)', cleaned)
        
        if len(prices) >= 2:
            return float(prices[0]), float(prices[1])
        elif len(prices) == 1:
            return float(prices[0]), float(prices[0])
        else:
            return None, None
    
    def extract_area_value(self, area_str):
        """
        Extract a clean numeric area value (average if range, single if not)
        
        Parameters:
        area_str (str): Area string like "1,850 - 2,050 sq.ft." or "1,370 sq.ft."
        
        Returns:
        float: Single numeric area value without units
        """
        if not area_str or pd.isna(area_str):
            return None
        
        # Remove commas and extract all numbers
        area_clean = area_str.replace(',', '')
        numbers = re.findall(r'(\d+(?:\.\d+)?)', area_clean)
        
        if len(numbers) >= 2:
            # If range, return average
            return (float(numbers[0]) + float(numbers[1])) / 2
        elif len(numbers) == 1:
            return float(numbers[0])
        else:
            return None
    
    def extract_area_range(self, area_str):
        """
        Extract min and max area from area string as float values
        
        Parameters:
        area_str (str): Area string like "1,850 - 2,050 sq.ft." or "1,370 sq.ft."
        
        Returns:
        tuple: (min_area, max_area) as floats without units
        """
        if not area_str or pd.isna(area_str):
            return None, None
        
        # Remove commas and extract all numbers
        area_clean = area_str.replace(',', '')
        numbers = re.findall(r'(\d+(?:\.\d+)?)', area_clean)
        
        if len(numbers) >= 2:
            return float(numbers[0]), float(numbers[1])
        elif len(numbers) == 1:
            return float(numbers[0]), float(numbers[0])
        else:
            return None, None
    
    def flatten_price_details(self):
        """
        Flatten the PriceDetails column into separate columns for each property type
        
        Returns:
        pd.DataFrame: Flattened dataframe
        """
        if self.df is None:
            raise ValueError("Dataframe is None. Cannot process.")
        
        # Create a list to store all flattened rows
        flattened_data = []
        
        for idx, row in self.df.iterrows():
            flat_row = {'PropertyName': row['PropertyName']}
            
            # Parse the PriceDetails string to dictionary
            try:
                if pd.isna(row['PriceDetails']) or row['PriceDetails'] == '':
                    flattened_data.append(flat_row)
                    continue
                    
                # Convert string representation to actual dictionary
                price_dict = ast.literal_eval(row['PriceDetails'])
                
                # Iterate through each property type (BHK, Land, etc.)
                for property_type, details in price_dict.items():
                    # Normalize property type to lowercase and remove spaces for column naming
                    # For "2 BHK" -> "2_bhk", for "Land" -> "land"
                    prop_suffix = property_type.lower().replace(' ', '_')
                    
                    # Extract building_type
                    if 'building_type' in details:
                        building_val = details['building_type']
                        # If empty string, use None
                        flat_row[f'{prop_suffix}_building_type'] = building_val if building_val else None
                    
                    # Extract area_type
                    if 'area_type' in details:
                        flat_row[f'{prop_suffix}_area_type'] = details['area_type']
                    
                    # Extract area as clean numeric value (without units)
                    if 'area' in details:
                        area_numeric = self.extract_area_value(details['area'])
                        flat_row[f'{prop_suffix}_area'] = area_numeric
                        
                        # Extract and split area into min and max (numeric values)
                        min_area, max_area = self.extract_area_range(details['area'])
                        flat_row[f'{prop_suffix}_area_min'] = min_area
                        flat_row[f'{prop_suffix}_area_max'] = max_area
                    
                    # Extract and split price range (numeric values)
                    if 'price-range' in details:
                        min_price, max_price = self.extract_price_range(details['price-range'])
                        flat_row[f'{prop_suffix}_price_range_min'] = min_price
                        flat_row[f'{prop_suffix}_price_range_max'] = max_price
                
                flattened_data.append(flat_row)
                
            except Exception as e:
                print(f"Error processing row {idx}: {e}")
                print(f"PriceDetails content: {row['PriceDetails']}")
                flattened_data.append(flat_row)
        
        # Create new dataframe
        self.flattened_df = pd.DataFrame(flattened_data)
        
        # IMPORTANT: Return the dataframe
        return self.flattened_df


# NOW USE IT PROPERLY:
processor = PropertyDataProcessor(df)
flattened_df = processor.flatten_price_details()

# Check the result
print(flattened_df.head())

✓ Initialized with dataframe containing 246 rows
                  PropertyName 2_bhk_building_type      2_bhk_area_type  \
0           Smartworld One DXP           Apartment          Carpet Area
1                    M3M Crown                 NaN                  NaN
2  Adani Brahma Samsara Vilasa                 NaN                  NaN
3                   Sobha City           Apartment  Super Built-up Area
4     Signature Global City 93   Independent Floor          Carpet Area

   2_bhk_area  2_bhk_area_min  2_bhk_area_max  2_bhk_price_range_min  \
0      1370.0          1370.0          1370.0                   2.00
1         NaN             NaN             NaN                    NaN
2         NaN             NaN             NaN                    NaN
3      1536.5          1381.0          1692.0                   1.55
4      1049.5           981.0          1118.0                  93.01

   2_bhk_price_range_max 3_bhk_building_type      3_bhk_area_type  3_bhk_area  \
0                   2.40           Apartment          Carpet Area      1950.0
1                    NaN           Apartment  Super Built-up Area      1887.5
2                    NaN   Independent Floor  Super Built-up Area      2475.0
3                   3.21           Apartment  Super Built-up Area      2027.0
4                   1.06   Independent Floor          Carpet Area      1382.5

   3_bhk_area_min  3_bhk_area_max  3_bhk_price_range_min  \
0          1850.0          2050.0                   2.25
1          1605.0          2170.0                   2.20
2          1800.0          3150.0                   2.43
3          1711.0          2343.0                   1.76
4          1235.0          1530.0                   1.12

   3_bhk_price_range_max 4_bhk_building_type      4_bhk_area_type  4_bhk_area  \
0                   3.59           Apartment          Carpet Area      2600.0
1                   3.03           Apartment  Super Built-up Area      2459.0
2                  15.75   Independent Floor  Super Built-up Area      3625.0
3                   4.79           Apartment  Super Built-up Area      2693.0
4                   1.45                 NaN                  NaN         NaN

   4_bhk_area_min  4_bhk_area_max  4_bhk_price_range_min  \
0          2600.0          2600.0                   3.24
1          2248.0          2670.0                   3.08
2          2750.0          4500.0                   3.36
3          2423.0          2963.0                   2.50
4             NaN             NaN                    NaN

   4_bhk_price_range_max  land_building_type land_area_type  land_area  \
0                   4.56                 NaN            NaN        NaN
1                   3.73                 NaN            NaN        NaN
2                  22.50                 NaN      Plot Area     2414.5
3                   6.06                 NaN            NaN        NaN
4                    NaN                 NaN            NaN        NaN

   land_area_min  land_area_max  land_price_range_min  land_price_range_max  \
0            NaN            NaN                   NaN                   NaN
1            NaN            NaN                   NaN                   NaN
2          500.0         4329.0                  2.05                 41.13
3            NaN            NaN                   NaN                   NaN
4            NaN            NaN                   NaN                   NaN

  5_bhk_building_type 5_bhk_area_type  5_bhk_area  5_bhk_area_min  \
0                 NaN             NaN         NaN             NaN
1                 NaN             NaN         NaN             NaN
2                 NaN             NaN         NaN             NaN
3                 NaN             NaN         NaN             NaN
4                 NaN             NaN         NaN             NaN

   5_bhk_area_max  5_bhk_price_range_min  5_bhk_price_range_max  \
0             NaN                    NaN                    NaN
1             NaN                    NaN                    NaN
2             NaN                    NaN                    NaN
3             NaN                    NaN                    NaN
4             NaN                    NaN                    NaN

  1_bhk_building_type 1_bhk_area_type  1_bhk_area  1_bhk_area_min  \
0                 NaN             NaN         NaN             NaN
1                 NaN             NaN         NaN             NaN
2                 NaN             NaN         NaN             NaN
3                 NaN             NaN         NaN             NaN
4                 NaN             NaN         NaN             NaN

   1_bhk_area_max  1_bhk_price_range_min  1_bhk_price_range_max  \
0             NaN                    NaN                    NaN
1             NaN                    NaN                    NaN
2             NaN                    NaN                    NaN
3             NaN                    NaN                    NaN
4             NaN                    NaN                    NaN

  1_rk_building_type 1_rk_area_type  1_rk_area  1_rk_area_min  1_rk_area_max  \
0                NaN            NaN        NaN            NaN            NaN
1                NaN            NaN        NaN            NaN            NaN
2                NaN            NaN        NaN            NaN            NaN
3                NaN            NaN        NaN            NaN            NaN
4                NaN            NaN        NaN            NaN            NaN

   1_rk_price_range_min  1_rk_price_range_max 6_bhk_building_type  \
0                   NaN                   NaN                 NaN
1                   NaN                   NaN                 NaN
2                   NaN                   NaN                 NaN
3                   NaN                   NaN                 NaN
4                   NaN                   NaN                 NaN

  6_bhk_area_type  6_bhk_area  6_bhk_area_min  6_bhk_area_max  \
0             NaN         NaN             NaN             NaN
1             NaN         NaN             NaN             NaN
2             NaN         NaN             NaN             NaN
3             NaN         NaN             NaN             NaN
4             NaN         NaN             NaN             NaN

   6_bhk_price_range_min  6_bhk_price_range_max
0                    NaN                    NaN
1                    NaN                    NaN
2                    NaN                    NaN
3                    NaN                    NaN
4                    NaN                    NaN

In [18]:
flattened_df.head()

,PropertyName,2_bhk_building_type,2_bhk_area_type,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_building_type,3_bhk_area_type,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,4_bhk_building_type,4_bhk_area_type,4_bhk_area,4_bhk_area_min,4_bhk_area_max,4_bhk_price_range_min,4_bhk_price_range_max,land_building_type,land_area_type,land_area,land_area_min,land_area_max,land_price_range_min,land_price_range_max,5_bhk_building_type,5_bhk_area_type,5_bhk_area,5_bhk_area_min,5_bhk_area_max,5_bhk_price_range_min,5_bhk_price_range_max,1_bhk_building_type,1_bhk_area_type,1_bhk_area,1_bhk_area_min,1_bhk_area_max,1_bhk_price_range_min,1_bhk_price_range_max,1_rk_building_type,1_rk_area_type,1_rk_area,1_rk_area_min,1_rk_area_max,1_rk_price_range_min,1_rk_price_range_max,6_bhk_building_type,6_bhk_area_type,6_bhk_area,6_bhk_area_min,6_bhk_area_max,6_bhk_price_range_min,6_bhk_price_range_max
0,Smartworld One DXP,Apartment,Carpet Area,1370.0,1370.0,1370.0,2.00,2.40,Apartment,Carpet Area,1950.0,1850.0,2050.0,2.25,3.59,Apartment,Carpet Area,2600.0,2600.0,2600.0,3.24,4.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3M Crown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apartment,Super Built-up Area,1887.5,1605.0,2170.0,2.20,3.03,Apartment,Super Built-up Area,2459.0,2248.0,2670.0,3.08,3.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Independent Floor,Super Built-up Area,2475.0,1800.0,3150.0,2.43,15.75,Independent Floor,Super Built-up Area,3625.0,2750.0,4500.0,3.36,22.50,NaN,Plot Area,2414.5,500.0,4329.0,2.05,41.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sobha City,Apartment,Super Built-up Area,1536.5,1381.0,1692.0,1.55,3.21,Apartment,Super Built-up Area,2027.0,1711.0,2343.0,1.76,4.79,Apartment,Super Built-up Area,2693.0,2423.0,2963.0,2.50,6.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Signature Global City 93,Independent Floor,Carpet Area,1049.5,981.0,1118.0,93.01,1.06,Independent Floor,Carpet Area,1382.5,1235.0,1530.0,1.12,1.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
flattened_df.shape

(246, 57)

In [20]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Salon, Restaurant, Spa, Cafete..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","[Bowling Alley, Mini Theatre, Manicured Garden..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"[Terrace Garden, Gazebo, Fountain, Amphitheatr..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Swimming Pool, Volley Ball Court, Aerobics Ce..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"[Mini Theatre, Doctor on Call, Concierge Servi..."

In [21]:
import ast
import pandas as pd

# STEP 1: Convert string → dictionary
df['PriceDict'] = df['PriceDetails'].apply(ast.literal_eval)

# STEP 2: Check if keys contain BHK or RK
def has_bhk_or_rk(d):
    return any("rk" in key.lower() for key in d.keys())

# STEP 3: Filter rows
df_filtered = df[df['PriceDict'].apply(has_bhk_or_rk)]

In [22]:
df_filtered.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities,PriceDict
21,Krisumi Waterfall Residences,"1, 2, 3, 4 BHK Apartment, 1 RK Studio Apartmen...","['Dwarka Expy', 'Delhi Public School, Sector 8...","{'Dwarka Expy': '6 KM', 'Delhi Public School, ...",https://www.99acres.com/krisumi-waterfall-resi...,"{'1 BHK': {'building_type': 'Apartment', 'area...","[Concierge Service, Swimming Pool, Bar/Chill-O...","{'1 BHK': {'building_type': 'Apartment', 'area..."
126,Bellavista Central Park Resorts,"1 BHK Service Apartment, 1 RK Studio Apartment...","['Candor TechSpace, Sector 48', 'Badshahpur So...","{'Candor TechSpace, Sector 48': '500 Meter', '...",https://www.99acres.com/bellavista-central-par...,"{'1 RK': {'building_type': 'Studio Apartment',...","[Mini Theatre, Infinity Pool, Lounge, Restaura...","{'1 RK': {'building_type': 'Studio Apartment',..."
240,M3M My Den,"1 BHK Service Apartment, 2 BHK Apartment, 1 RK...","['Unitech Business Zone', 'Park Hospital', 'Om...","{'Unitech Business Zone': '4 KM', 'Park Hospit...",https://www.99acres.com/m3m-my-den-sector-67-g...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Food Court, Concierge Service, Infinity Pool,...","{'2 BHK': {'building_type': 'Apartment', 'area..."

In [23]:
df['PriceDetails'].iloc[125]

"{'1 RK': {'building_type': 'Studio Apartment', 'area_type': 'Carpet Area', 'area': '438.63 - 1,607 sq.ft.', 'price-range': 'Price on Request'}, '1 BHK': {'building_type': 'Service Apartment', 'area_type': 'Carpet Area', 'area': '569.95 - 639.59 sq.ft.', 'price-range': 'Price on Request'}}"

In [24]:
categorical_columns = flattened_df.select_dtypes(include=['object']).columns.tolist()

In [25]:
categorical_columns

['PropertyName',
 '2_bhk_building_type',
 '2_bhk_area_type',
 '3_bhk_building_type',
 '3_bhk_area_type',
 '4_bhk_building_type',
 '4_bhk_area_type',
 'land_area_type',
 '5_bhk_building_type',
 '5_bhk_area_type',
 '1_bhk_building_type',
 '1_bhk_area_type',
 '1_rk_building_type',
 '1_rk_area_type',
 '6_bhk_building_type',
 '6_bhk_area_type']

In [26]:
cols_to_encode = ['2_bhk_building_type',
 '2_bhk_area_type',
 '3_bhk_building_type',
 '3_bhk_area_type',
 '4_bhk_building_type',
 '4_bhk_area_type',
 'land_area_type',
 '5_bhk_building_type',
 '5_bhk_area_type',
 '1_bhk_building_type',
 '1_bhk_area_type',
 '1_rk_building_type',
 '1_rk_area_type',
 '6_bhk_building_type',
 '6_bhk_area_type']   # 4 columns
                               # 1 column

In [34]:
ohe_df = pd.get_dummies(flattened_df, columns=cols_to_encode, drop_first=True)

ohe_df.head()

,PropertyName,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,4_bhk_area,4_bhk_area_min,4_bhk_area_max,4_bhk_price_range_min,4_bhk_price_range_max,land_building_type,land_area,land_area_min,land_area_max,land_price_range_min,land_price_range_max,5_bhk_area,5_bhk_area_min,5_bhk_area_max,5_bhk_price_range_min,5_bhk_price_range_max,1_bhk_area,1_bhk_area_min,1_bhk_area_max,1_bhk_price_range_min,1_bhk_price_range_max,1_rk_area,1_rk_area_min,1_rk_area_max,1_rk_price_range_min,1_rk_price_range_max,6_bhk_area,6_bhk_area_min,6_bhk_area_max,6_bhk_price_range_min,6_bhk_price_range_max,2_bhk_building_type_Independent Floor,2_bhk_building_type_Service Apartment,2_bhk_area_type_Carpet Area,2_bhk_area_type_Super Built-up Area,3_bhk_building_type_Independent Floor,3_bhk_building_type_Service Apartment,3_bhk_building_type_Villa,3_bhk_area_type_Carpet Area,3_bhk_area_type_Super Built-up Area,4_bhk_building_type_Independent Floor,4_bhk_building_type_Villa,4_bhk_area_type_Carpet Area,4_bhk_area_type_Super Built-up Area,5_bhk_building_type_Independent Floor,5_bhk_building_type_Villa,5_bhk_area_type_Carpet Area,5_bhk_area_type_Super Built-up Area,1_bhk_building_type_Service Apartment,1_bhk_area_type_Super Built-up Area,1_rk_area_type_Super Built-up Area,6_bhk_building_type_Villa,6_bhk_area_type_Super Built-up Area
0,Smartworld One DXP,1370.0,1370.0,1370.0,2.00,2.40,1950.0,1850.0,2050.0,2.25,3.59,2600.0,2600.0,2600.0,3.24,4.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,M3M Crown,NaN,NaN,NaN,NaN,NaN,1887.5,1605.0,2170.0,2.20,3.03,2459.0,2248.0,2670.0,3.08,3.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False
2,Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,2475.0,1800.0,3150.0,2.43,15.75,3625.0,2750.0,4500.0,3.36,22.50,NaN,2414.5,500.0,4329.0,2.05,41.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True,False,False,False,True,True,False,False,True,False,False,False,False,False,False,False,False,False
3,Sobha City,1536.5,1381.0,1692.0,1.55,3.21,2027.0,1711.0,2343.0,1.76,4.79,2693.0,2423.0,2963.0,2.50,6.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False
4,Signature Global City 93,1049.5,981.0,1118.0,93.01,1.06,1382.5,1235.0,1530.0,1.12,1.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [40]:
ohe_df = ohe_df.set_index(df.columns[0])

In [41]:
ohe_df.head()

,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,4_bhk_area,4_bhk_area_min,4_bhk_area_max,4_bhk_price_range_min,4_bhk_price_range_max,land_building_type,land_area,land_area_min,land_area_max,land_price_range_min,land_price_range_max,5_bhk_area,5_bhk_area_min,5_bhk_area_max,5_bhk_price_range_min,5_bhk_price_range_max,1_bhk_area,1_bhk_area_min,1_bhk_area_max,1_bhk_price_range_min,1_bhk_price_range_max,1_rk_area,1_rk_area_min,1_rk_area_max,1_rk_price_range_min,1_rk_price_range_max,6_bhk_area,6_bhk_area_min,6_bhk_area_max,6_bhk_price_range_min,6_bhk_price_range_max,2_bhk_building_type_Independent Floor,2_bhk_building_type_Service Apartment,2_bhk_area_type_Carpet Area,2_bhk_area_type_Super Built-up Area,3_bhk_building_type_Independent Floor,3_bhk_building_type_Service Apartment,3_bhk_building_type_Villa,3_bhk_area_type_Carpet Area,3_bhk_area_type_Super Built-up Area,4_bhk_building_type_Independent Floor,4_bhk_building_type_Villa,4_bhk_area_type_Carpet Area,4_bhk_area_type_Super Built-up Area,5_bhk_building_type_Independent Floor,5_bhk_building_type_Villa,5_bhk_area_type_Carpet Area,5_bhk_area_type_Super Built-up Area,1_bhk_building_type_Service Apartment,1_bhk_area_type_Super Built-up Area,1_rk_area_type_Super Built-up Area,6_bhk_building_type_Villa,6_bhk_area_type_Super Built-up Area
PropertyName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,1370.0,1370.0,1370.0,2.00,2.40,1950.0,1850.0,2050.0,2.25,3.59,2600.0,2600.0,2600.0,3.24,4.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
M3M Crown,NaN,NaN,NaN,NaN,NaN,1887.5,1605.0,2170.0,2.20,3.03,2459.0,2248.0,2670.0,3.08,3.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False
Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,2475.0,1800.0,3150.0,2.43,15.75,3625.0,2750.0,4500.0,3.36,22.50,NaN,2414.5,500.0,4329.0,2.05,41.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True,False,False,False,True,True,False,False,True,False,False,False,False,False,False,False,False,False
Sobha City,1536.5,1381.0,1692.0,1.55,3.21,2027.0,1711.0,2343.0,1.76,4.79,2693.0,2423.0,2963.0,2.50,6.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False
Signature Global City 93,1049.5,981.0,1118.0,93.01,1.06,1382.5,1235.0,1530.0,1.12,1.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [42]:
from sklearn.preprocessing import StandardScaler
 
# Initialize the scaler
scaler = StandardScaler()

# Apply the scaler to the entire dataframe
scaled_data = pd.DataFrame(scaler.fit_transform(ohe_df), columns=ohe_df.columns, index=ohe_df.index)

C:\Users\deepu\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\deepu\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\deepu\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [43]:
scaled_data.head()

,2_bhk_area,2_bhk_area_min,2_bhk_area_max,2_bhk_price_range_min,2_bhk_price_range_max,3_bhk_area,3_bhk_area_min,3_bhk_area_max,3_bhk_price_range_min,3_bhk_price_range_max,4_bhk_area,4_bhk_area_min,4_bhk_area_max,4_bhk_price_range_min,4_bhk_price_range_max,land_building_type,land_area,land_area_min,land_area_max,land_price_range_min,land_price_range_max,5_bhk_area,5_bhk_area_min,5_bhk_area_max,5_bhk_price_range_min,5_bhk_price_range_max,1_bhk_area,1_bhk_area_min,1_bhk_area_max,1_bhk_price_range_min,1_bhk_price_range_max,1_rk_area,1_rk_area_min,1_rk_area_max,1_rk_price_range_min,1_rk_price_range_max,6_bhk_area,6_bhk_area_min,6_bhk_area_max,6_bhk_price_range_min,6_bhk_price_range_max,2_bhk_building_type_Independent Floor,2_bhk_building_type_Service Apartment,2_bhk_area_type_Carpet Area,2_bhk_area_type_Super Built-up Area,3_bhk_building_type_Independent Floor,3_bhk_building_type_Service Apartment,3_bhk_building_type_Villa,3_bhk_area_type_Carpet Area,3_bhk_area_type_Super Built-up Area,4_bhk_building_type_Independent Floor,4_bhk_building_type_Villa,4_bhk_area_type_Carpet Area,4_bhk_area_type_Super Built-up Area,5_bhk_building_type_Independent Floor,5_bhk_building_type_Villa,5_bhk_area_type_Carpet Area,5_bhk_area_type_Super Built-up Area,1_bhk_building_type_Service Apartment,1_bhk_area_type_Super Built-up Area,1_rk_area_type_Super Built-up Area,6_bhk_building_type_Villa,6_bhk_area_type_Super Built-up Area
PropertyName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,0.336628,0.503381,0.159822,-0.845357,-0.634849,0.005695,0.142293,-0.098195,-0.314605,-0.157876,-0.462699,-0.182945,-0.573356,-0.196831,-0.287783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.289310,-0.063888,2.455315,-0.726602,-0.372678,-0.063888,-0.171139,2.085144,-1.067301,-0.254824,-0.236208,2.848001,-0.848693,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111
M3M Crown,NaN,NaN,NaN,NaN,NaN,-0.083682,-0.238534,0.042792,-0.316749,-0.208497,-0.569582,-0.513863,-0.534245,-0.232198,-0.401403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.289310,-0.063888,-0.407280,-0.726602,-0.372678,-0.063888,-0.171139,-0.479583,0.936943,-0.254824,-0.236208,-0.351123,1.178282,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111
Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,0.756461,0.064573,1.194187,-0.306887,0.941332,0.314290,-0.041928,0.488227,-0.170307,2.168063,NaN,-0.09962,-1.554222,0.199439,-0.511481,2.557694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.289310,-0.063888,-0.407280,-0.726602,2.683282,-0.063888,-0.171139,-0.479583,0.936943,3.924283,-0.236208,-0.351123,1.178282,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111
Sobha City,0.765374,0.531863,0.927439,-0.856795,-0.612332,0.115807,-0.073768,0.246048,-0.335615,-0.049401,-0.392201,-0.349344,-0.370538,-0.360400,-0.082444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.289310,-0.063888,-0.407280,1.376269,-0.372678,-0.063888,-0.171139,-0.479583,0.936943,-0.254824,-0.236208,-0.351123,1.178282,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111
Signature Global City 93,-0.488677,-0.503845,-0.440921,1.467796,-0.672099,-0.805848,-0.813661,-0.709140,-0.363057,-0.351322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.456497,-0.063888,2.455315,-0.726602,2.683282,-0.063888,-0.171139,2.085144,-1.067301,-0.254824,-0.236208,-0.351123,-0.848693,-0.111111,-0.216353,-0.171139,-0.400471,-0.111111,-0.194871,-0.063888,-0.063888,-0.111111

In [44]:
scaled_data = scaled_data.fillna(0)

In [45]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine similarity
cosine_sim2 = cosine_similarity(scaled_data)

In [46]:
cosine_sim2.shape

(246, 246)

In [49]:
def recommend_property_with_scores(property_name, top_n=5):

    sim_scores = list(enumerate(cosine_sim2[scaled_data.index.get_loc(property_name)]))

    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Correctly separate indices and scores
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores  = [i[1] for i in sorted_scores[1:top_n+1]]

    top_properties = scaled_data.index[top_indices].tolist()

    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'Similarity_score': top_scores
    })

    return recommendations_df

recommend_property_with_scores("M3M Golf Hills")

       PropertyName  Similarity_score
0        BPTP Terra          0.960313
1        Sobha City          0.951100
2        Paras Dews          0.926360
3  BPTP Park Serene          0.924808
4        Ireo Skyon          0.917186