In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
df = pd.read_csv("../Datasets/appartments.csv")

In [61]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [62]:
df.drop(df.index[22], inplace=True)

In [63]:
df[['PropertyName','LocationAdvantages']]

,PropertyName,LocationAdvantages
0,Smartworld One DXP,"{'Bajghera Road': '800 Meter', 'Palam Vihar Ha..."
1,M3M Crown,"{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N..."
2,Adani Brahma Samsara Vilasa,"{'AIPL Business Club Sector 62': '2.7 Km', 'He..."
3,Sobha City,"{'The Shikshiyan School': '2.9 KM', 'WTC Plaza..."
4,Signature Global City 93,"{'Pranavananda Int. School': '450 m', 'DLF Sit..."
...,...,...
242,DLF Princeton Estate,"{'Sector 42-43 Metro Station': '1.8 Km', 'Para..."
243,Pyramid Urban Homes 2,{'Aarvy Healthcare Super Speciality': '1.8 KM'...
244,Satya The Hermitage,"{'Dwarka Expressway': '1.2 Km', 'S N Internati..."
245,BPTP Spacio,"{'Suncity School': '0.2 Km', 'Gurugram Road': ..."
246,SS The Coralwood,"{'Sector 84 Road': '600 Meter', 'Delhi Public ..."

In [64]:
df[['LocationAdvantages']].iloc[0].LocationAdvantages

"{'Bajghera Road': '800 Meter', 'Palam Vihar Halt': '2.5 KM', 'DPSG Palam Vihar': '3.1 KM', 'Park Hospital': '3.1 KM', 'Gurgaon Railway Station': '4.9 KM', 'The NorthCap University': '5.4 KM', 'Dwarka Expy': '1.2 KM', 'Hyatt Place Gurgaon Udyog Vihar': '7.7 KM', 'Dwarka Sector 21, Metro Station': '7.2 KM', 'Pacific D21 Mall': '7.4 KM', 'Indira Gandhi International Airport': '14.7 KM', 'Hamoni Golf Camp': '6.2 KM', 'Fun N Food Waterpark': '8.8 KM', 'Accenture DDC5': '9 KM'}"

In [65]:
import re, ast, pandas as pd

# assume df already exists and has column 'Locationadvantages'

def convert_to_km(distance_str):
    if distance_str is None:
        return None
    distance_str = str(distance_str).strip()
    match = re.match(r'([\d.]+)\s*(Meter|KM|Km|km|m|M)', distance_str, re.IGNORECASE)
    if match:
        value = float(match.group(1))
        unit = match.group(2).upper()
        if unit in ['METER', 'M']:
            return round(value / 1000, 2)
        else:
            return round(value, 2)
    return None

def convert_dict_string(cell_value, return_as_string=True):
    if pd.isna(cell_value) or str(cell_value).strip() == "":
        return cell_value
    try:
        data_dict = ast.literal_eval(cell_value)
        if not isinstance(data_dict, dict):
            return cell_value
    except Exception:
        return cell_value
    converted = {}
    for place, dist in data_dict.items():
        km_val = convert_to_km(dist)
        if km_val is None:
            converted[place] = dist
        else:
            converted[place] = f"{km_val} KM"
    return str(converted) if return_as_string else converted

# Apply to entire column (example: create a new column)
df['LocationAdvantages'] = df['LocationAdvantages'].apply(lambda x: convert_dict_string(x, return_as_string=True))

In [66]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '0.8 KM', 'Palam Vihar Halt'...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 KM', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 KM', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '0.45 KM', 'DLF S...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [67]:
import pandas as pd
import ast
import re

def normalize_location(name):
    """
    Normalize location name:
    - lowercase
    - remove spaces
    - remove underscores
    - remove hyphens
    - remove special chars
    """
    name = str(name).lower().strip()
    name = re.sub(r'[\s_-]+', '', name)     # remove spaces, underscores, hyphens
    name = re.sub(r'[^a-z0-9]', '', name)   # remove everything except letters & numbers
    return name

def clean_distance(value):
    """
    Remove 'km' or 'KM' or extra spaces and convert to float.
    """
    if value is None or pd.isna(value):
        return None
    
    value = str(value).lower().replace("km", "").strip()
    
    try:
        return float(value)
    except:
        return None

def parse_location_dict(cell_value):
    if pd.isna(cell_value):
        return {}

    try:
        raw_dict = ast.literal_eval(cell_value)
    except:
        return {}

    clean_dict = {}

    for k, v in raw_dict.items():
        norm_key = normalize_location(k)
        clean_value = clean_distance(v)   # convert to float
        clean_dict[norm_key] = clean_value

    return clean_dict

def process_location_advantages(df):
    # Convert each cell into dict with normalized keys + float values
    parsed = df['LocationAdvantages'].apply(parse_location_dict)

    # Expand into columns
    expanded = parsed.apply(pd.Series)

    # Merge duplicate columns created by normalization
    expanded = expanded.groupby(level=0, axis=1).first()

    # Merge with original df
    final_df = pd.concat([df, expanded], axis=1)

    return final_df

In [68]:
df_processed = process_location_advantages(df)

C:\Users\deepu\AppData\Local\Temp\ipykernel_3732\2932226221.py:59: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  expanded = expanded.groupby(level=0, axis=1).first()

In [69]:
df_processed.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities,aapnoghar,aarvyhealthcare,aarvyhealthcarehospital,...,wtcplaza,xaviersinternational,yaduvanshishikshaniketan,yashlokmedicalcentre,yashroophospital,yesbank,yesbankatm,yonexbadmintonstadium,zengolfrangeacademy,zooperindiatrampolinepark
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '0.8 KM', 'Palam Vihar Halt'...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 KM', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 KM', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi...",NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '0.45 KM', 'DLF S...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ...",9.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.columns

Index(['PropertyName', 'PropertySubName', 'NearbyLocations',
       'LocationAdvantages', 'Link', 'PriceDetails', 'TopFacilities'],
      dtype='object')

In [71]:
df_processed = df_processed.drop(['PropertySubName', 'NearbyLocations',
       'LocationAdvantages', 'Link', 'PriceDetails', 'TopFacilities'],axis=1)

In [72]:
df_processed.head()

,PropertyName,aapnoghar,aarvyhealthcare,aarvyhealthcarehospital,aarvyhealthcaresuperspeciality,aarvyhospital,aatishhospital,accentureddc5,adarshpublicschoolgarhiharsaru,adarshseniorsecondaryschool,...,wtcplaza,xaviersinternational,yaduvanshishikshaniketan,yashlokmedicalcentre,yashroophospital,yesbank,yesbankatm,yonexbadmintonstadium,zengolfrangeacademy,zooperindiatrampolinepark
0,Smartworld One DXP,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3M Crown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sobha City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Signature Global City 93,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df_processed = df_processed.set_index(df.columns[0])

In [74]:
df_processed.head()

,aapnoghar,aarvyhealthcare,aarvyhealthcarehospital,aarvyhealthcaresuperspeciality,aarvyhospital,aatishhospital,accentureddc5,adarshpublicschoolgarhiharsaru,adarshseniorsecondaryschool,agribusinessmanagementcollage,...,wtcplaza,xaviersinternational,yaduvanshishikshaniketan,yashlokmedicalcentre,yashroophospital,yesbank,yesbankatm,yonexbadmintonstadium,zengolfrangeacademy,zooperindiatrampolinepark
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M3M Crown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Adani Brahma Samsara Vilasa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sobha City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Signature Global City 93,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df_processed.fillna(100000, inplace=True)

In [76]:
df_processed.head()

,aapnoghar,aarvyhealthcare,aarvyhealthcarehospital,aarvyhealthcaresuperspeciality,aarvyhospital,aatishhospital,accentureddc5,adarshpublicschoolgarhiharsaru,adarshseniorsecondaryschool,agribusinessmanagementcollage,...,wtcplaza,xaviersinternational,yaduvanshishikshaniketan,yashlokmedicalcentre,yashroophospital,yesbank,yesbankatm,yonexbadmintonstadium,zengolfrangeacademy,zooperindiatrampolinepark
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,9.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
M3M Crown,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
Adani Brahma Samsara Vilasa,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
Sobha City,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,4.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
Signature Global City 93,9.6,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0

In [79]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Apply the scaler to the entire DataFrame
scaled_data3 = pd.DataFrame(scaler.fit_transform(df_processed), columns=df_processed.columns, index=df_processed.index)

In [80]:
scaled_data3.head()

,aapnoghar,aarvyhealthcare,aarvyhealthcarehospital,aarvyhealthcaresuperspeciality,aarvyhospital,aatishhospital,accentureddc5,adarshpublicschoolgarhiharsaru,adarshseniorsecondaryschool,agribusinessmanagementcollage,...,wtcplaza,xaviersinternational,yaduvanshishikshaniketan,yashlokmedicalcentre,yashroophospital,yesbank,yesbankatm,yonexbadmintonstadium,zengolfrangeacademy,zooperindiatrampolinepark
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,0.128565,0.111111,0.144038,0.144038,0.128565,0.063888,-15.652476,0.063888,0.063888,0.063888,...,0.111111,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111
M3M Crown,0.128565,0.111111,0.144038,0.144038,0.128565,0.063888,0.063888,0.063888,0.063888,0.063888,...,0.111111,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111
Adani Brahma Samsara Vilasa,0.128565,0.111111,0.144038,0.144038,0.128565,0.063888,0.063888,0.063888,0.063888,0.063888,...,0.111111,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111
Sobha City,0.128565,0.111111,0.144038,0.144038,0.128565,0.063888,0.063888,0.063888,0.063888,0.063888,...,-8.999939,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111
Signature Global City 93,-7.777981,0.111111,0.144038,0.144038,0.128565,0.063888,0.063888,0.063888,0.063888,0.063888,...,0.111111,0.063888,0.128565,0.063888,0.090536,0.063888,0.111111,0.063888,0.063888,0.111111

In [82]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim3 = cosine_similarity(scaled_data3)

In [83]:
cosine_sim3.shape

(246, 246)

In [89]:
def recommend_property_with_scores(property_name, top_n=5):

    # cosine_sim_matrix = cosine_sim1 + cosine_sim2 + 8*cosine_sim3
    cosine_sim_matrix = cosine_sim3

    #Get the similarity scores for the property using its name as the index
    sim_scores = list(enumerate(cosine_sim_matrix[scaled_data3.index.get_loc(property_name)]))

    # sort properties based on the similarity scores
    sorted_scores = sorted(sim_scores, key=lambda x : x[1], reverse=True)

    #Get the indices and scores of the top_n most similar properties
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]

    #Retrieve the names of the top properties using the indices
    top_properties = scaled_data3.index[top_indices].tolist()

    # Create a DataFrame with the result
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore' : top_scores
    })

    return recommendations_df

    # Test the recommender function using a property name
recommend_property_with_scores("Adani Brahma Samsara Vilasa")

                       PropertyName  SimilarityScore
0   Bellavista Central Park Resorts         0.134500
1              Adani Brahma Samsara         0.073300
2  Emaar MGF Emerald Floors Premier         0.060640
3                Ireo The Corridors         0.044026
4               Adani Samsara Avasa         0.038343